<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "resources/hero.html" . }}

        {{ partial "resources/quicklinks.html" . }}

        {{ partial "resources/screencasts.html" . }}

        {{ partial "resources/webinar.html" . }}

        {{ partial "resources/explainers.html" . }}

        {{ partial "resources/faq.html" . }}

        {{ partial "resources/developers.html" . }}

        <!-- global section -->
        {{ if isset .Site.Data.resources "cta" }}
          {{ if .Site.Data.resources.cta.enable }}
            {{ partial "_global/cta.html" . }}
          {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
