<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "about_hero.html" . }}

        {{ partial "about_featured.html" . }}

        {{ partial "about_company.html" . }}

        {{ partial "about_mission.html" . }}

        {{ partial "about_team.html" . }}

        {{ partial "about_positions.html" . }}

        {{ partial "about_cta.html" . }}

        {{ partial "footer.html" . }}



        <!-- ORIGINAL -->

        <!-- {{ partial "carousel.html" . }} -->

        <!-- {{ partial "features.html" . }} -->

        <!-- {{ partial "testimonials.html" . }} -->

        <!-- {{ partial "see_more.html" . }} -->

        <!-- {{ partial "recent_posts.html" . }} -->

        <!-- {{ partial "clients.html" . }} -->


    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
