<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "company/top.html" . }}

        {{ partial "company/history.html" . }}

        {{ partial "company/team.html" . }}

        {{ partial "company/positions.html" . }}

        {{ partial "company/pressreleases.html" . }}

        <!-- global section -->
        {{ if isset .Site.Data.company "cta" }}
          {{ if .Site.Data.company.cta.enable }}
            {{ partial "_global/cta.html" . }}
          {{ end }}
        {{ end }}

        <!-- global section -->
        {{ if isset .Site.Data.company "press" }}
          {{ if .Site.Data.company.press.enable }}
            {{ partial "_global/press.html" . }}
          {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
