<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "customers/top.html" . }}

        {{ partial "customers/intro.html" . }}

        {{ partial "customers/testimonials.html" . }}

        {{ partial "customers/bullets.html" . }}

        {{ partial "customers/secondary_cta.html" . }}

        {{ partial "customers/integrations.html" . }}

        <!-- global section -->
        {{ if isset .Site.Data.customers "cta_two_button" }}
          {{ if .Site.Data.customers.cta_two_button.enable }}
            {{ partial "_global/cta_two_button.html" . }}
          {{ end }}
        {{ end }}

        <!-- global section -->
        {{ if isset .Site.Data.customers "press" }}
          {{ if .Site.Data.customers.press.enable }}
            {{ partial "_global/press.html" . }}
          {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
