<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "entrepreneurs/top.html" . }}

        {{ partial "entrepreneurs/intro.html" . }}

        {{ partial "entrepreneurs/testimonials.html" . }}

        {{ partial "entrepreneurs/bullets.html" . }}

        {{ partial "entrepreneurs/integrations.html" . }}

        {{ partial "entrepreneurs/cta_two_button.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
