<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "features_hero.html" . }}

        {{ partial "features_summary.html" . }}

        {{ partial "features_feature.html" . }}

        {{ partial "features_examples.html" . }}

        {{ partial "features_backers.html" . }}

        {{ partial "features_cta.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
