<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "investors_hero.html" . }}

        {{ partial "investors_featured.html" . }}

        {{ partial "investors_updates.html" . }}

        {{ partial "investors_current.html" . }}

        {{ partial "investors_ico.html" . }}

        {{ partial "investors_contact.html" . }}

        {{ partial "footer.html" . }}


    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
