<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "resources_hero.html" . }}

        {{ partial "resources_quicklinks.html" . }}

        {{ partial "resources_screencasts.html" . }}

        {{ partial "resources_webinar.html" . }}

        {{ partial "resources_explainers.html" . }}

        {{ partial "resources_faq.html" . }}

        {{ partial "resources_developers.html" . }}

        {{ partial "resources_cta.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
