---

layout: default
title: About Eris Industries

---

<div class="row about-content">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    {% capture twoquestions %}{% include about-content/twoquestions.md %}{% endcapture %}
    {{ twoquestions | markdownify }}
  </div>
</div>

<div class="row about-content">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    {% capture participatoryarch %}{% include about-content/participatoryarch.md %}{% endcapture %}
    {{ participatoryarch | markdownify }}
  </div>
</div>

<div class="row about-content">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    {% capture designphilos %}{% include about-content/designphilos.md %}{% endcapture %}
    {{ designphilos | markdownify }}
  </div>
</div>

<div class="row about-content">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    {% capture enterprise %}{% include about-content/enterprise.md %}{% endcapture %}
    {{ enterprise | markdownify }}
  </div>
</div>

<div class="row about-content">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    {% capture enablelegal %}{% include about-content/enablelegal.md %}{% endcapture %}
    {{ enablelegal | markdownify }}
  </div>
</div>

<div class="row about-content">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    {% capture smarterworld %}{% include about-content/smarterworld.md %}{% endcapture %}
    {{ smarterworld | markdownify }}
  </div>
</div>

<!-- team -->
<div class="row team">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h2>Team</h2>
    <br/>

    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
      <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-csk.jpeg" alt="Casey Kuhlman" />
      <div class="team-name">Casey Kuhlman</div>
      <div class="team-title">CEO</div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
      <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-pjb.jpeg" alt="Preston Byrne" />
      <div class="team-name">Preston Byrne</div>
      <div class="team-title">COO</div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
      <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-tj.jpeg" alt="Tyler Jackson" />
      <div class="team-name">Tyler Jackson</div>
      <div class="team-title">Chief of Innovation</div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
      <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-ao.jpeg" alt="Andreas Olofsson" />
      <div class="team-name">Andreas Olofsson</div>
      <div class="team-title">Core Developer</div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
      <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-eb.jpeg" alt="Ethan Buchman" />
      <div class="team-name">Ethan Buchman</div>
      <div class="team-title">Core Developer</div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
      <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-yr.jpeg" alt="Yann Ranchere" />
      <div class="team-name">Yann Ranchere</div>
      <div class="team-title">Director<br /><br /></div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
      <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-dg.jpeg" alt="David Galbraith" />
      <div class="team-name">David Galbraith</div>
      <div class="team-title">Advisor</div>
    </div>

  </div><!-- / spacer div -->
</div><!-- / row -->
