---
---

{% include home-structure/home-header.html %}
{% include home-structure/home-navigation.html %}
<div id="page-top"></div><!-- reference for scrolling -->

<!-- row 1 - the video and headline -->
<div class="row hidden-xs hidden-sm" id="row-1">

  <div id="video-wrapper">
    <video preload="auto" loop autoplay>
      <source type="video/webm" src="{{ site.url }}{{ site.images_dir }}/watch.webm" />
      <source type="video/mp4" src="{{ site.url }}{{ site.images_dir }}/watch.mp4" />
    </video>
  </div><!-- / #video-wrapper -->

  <div id="video-overlay">
    <h5>THE BLOCKCHAIN APPLICATION SOFTWARE STACK</h5>
    <h5><span class="make-eris-green">SECURE <span class="make-white">&#8211;</span> AUTONOMOUS <span class="make-white">&#8211;</span> SERVERLESS</span></h5>
    <h5>SELF-MANAGING SYSTEMS VIA SMART CONTRACTS</h5>
  </div><!-- / #video-overlay -->

</div><!-- /#row-1 -->

<div class="container-fluid">

  <div id="about">
    <!-- row 1 - smarter world -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 single-content-box">

        <div class="row-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% capture block1 %}{% include home-content/home-block1-smarterworld.md %}{% endcapture %}
          {{ block1 | markdownify }}
        </div><!-- #row-1-content -->

        <div class="row-prettifier hidden-xs hidden-sm col-md-5 col-lg-5 col-offset-md-1 col-offset-lg-1">
          <img src="{{ site.url }}{{ site.images_dir }}/prettifiers/eris_branding_images.001.png" alt="Watch Parts" />
        </div><!-- .row-prettifier -->

      </div><!-- spacer div -->
    </div><!-- #row-1 -->

    <!-- row 2 - participatory architecture -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 single-content-box">

        <div class="row-prettifier hidden-xs hidden-sm col-md-5 col-lg-5">
          <img src="{{ site.url }}{{ site.images_dir }}/prettifiers/eris_branding_images.002.png" alt="Watch Parts" />
        </div><!-- .row-prettifier -->

        <div class="row-content col-xs-12 col-sm-12 col-md-6 col-lg-6 col-offset-md-1 col-offset-lg-1">
          {% capture block2 %}{% include home-content/home-block2-participatoryarch.md %}{% endcapture %}
          {{ block2 | markdownify }}
        </div><!-- #row-2-content -->

      </div><!-- spacer div -->
    </div><!-- #row-2 -->

    <!-- row 3 - legalizing smart contracts -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 single-content-box">

        <div class="row-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% capture block3 %}{% include home-content/home-block3-whyuse.md %}{% endcapture %}
          {{ block3 | markdownify }}
        </div><!-- #row-3-content -->

        <div class="row-prettifier hidden-xs hidden-sm col-md-5 col-md-offset-1 col-lg-5 col-offset-lg-1">
          <img src="{{ site.url }}{{ site.images_dir }}/prettifiers/eris_branding_images.003.png" alt="Watch Parts" />
        </div><!-- .row-prettifier -->

      </div><!-- spacer div -->
    </div><!-- #row-3 -->
  </div><!-- #about -->

  <div id="components">
    <div class="divider-text">
      COMPONENTS
    </div>

    <!-- row 4 - components_a -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 single-content-box">

        <div class="row-prettifier hidden-xs hidden-sm col-md-5 col-lg-5">
          <img src="{{ site.url }}{{ site.images_dir }}/prettifiers/eris_branding_images.004.png" alt="Watch Parts" class="downier" />
        </div><!-- .row-prettifier -->

        <div class="row-content col-xs-12 col-sm-12 col-md-6 col-lg-6 col-offset-md-1 col-offset-lg-1">
          {% capture block2 %}{% include home-content/home-block4-components-a.md %}{% endcapture %}
          {{ block2 | markdownify }}
        </div><!-- #row-4-content -->

      </div><!-- spacer div -->
    </div><!-- #row-4 -->

    <!-- row 5 - components_b -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 single-content-box">

        <div class="row-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% capture block3 %}{% include home-content/home-block5-components-b.md %}{% endcapture %}
          {{ block3 | markdownify }}
        </div><!-- #row-3-content -->

        <div class="row-prettifier hidden-xs hidden-sm col-md-5 col-lg-5 col-md-offset-1 col-offset-lg-1">
          <img src="{{ site.url }}{{ site.images_dir }}/prettifiers/eris_branding_images.005.png" alt="Watch Parts" class="downier" />
        </div><!-- .row-prettifier -->

      </div><!-- spacer div -->
    </div><!-- #row-5 -->
  </div><!-- #components -->

  <div id="design">
    <div class="divider-text">
      DESIGN
    </div>

    <!-- row 6 - design philosophy -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 single-content-box">

        <div class="row-prettifier hidden-xs hidden-sm col-md-5 col-lg-5">
          <img src="{{ site.url }}{{ site.images_dir }}/prettifiers/eris_branding_images.006.png" alt="Watch Parts 4" />
        </div><!-- .row-prettifier -->

         <div class="row-content col-xs-12 col-sm-12 col-md-6 col-lg-6 col-offset-md-1 col-offset-lg-1">
          {% capture block4 %}{% include home-content/home-block6-designphilos.md %}{% endcapture %}
          {{ block4 | markdownify }}
        </div><!-- #row-3-content -->

      </div><!-- spacer div -->
    </div><!-- #row-5 -->

    <!-- row 7 - enterprise friendly! -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 single-content-box">

        <div class="row-content col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% capture block5 %}{% include home-content/home-block7-enterprise.md %}{% endcapture %}
          {{ block5 | markdownify }}
        </div><!-- #row-6-content -->

        <div class="row-prettifier hidden-xs hidden-sm col-md-5 col-md-offset-1 col-lg-5 col-offset-lg-1">
          <img src="{{ site.url }}{{ site.images_dir }}/prettifiers/eris_branding_images.007.png" alt="Watch Parts" />
        </div><!-- .row-prettifier -->

      </div><!-- spacer div -->
    </div><!-- #row-6 -->
  </div><!-- #developers -->

  <div id="team">
    <div class="divider-text">
      TEAM
    </div>


    <!-- row 7 - design philosophy -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 single-content-box">

        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
          <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-csk.jpeg" alt="Casey Kuhlman" />
          <div class="team-name">Casey Kuhlman</div>
          <div class="team-title">CEO</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
          <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-pjb.jpeg" alt="Preston Byrne" />
          <div class="team-name">Preston Byrne</div>
          <div class="team-title">COO</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
          <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-tj.jpeg" alt="Tyler Jackson" />
          <div class="team-name">Tyler Jackson</div>
          <div class="team-title">Chief of Innovation</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
          <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-ao.jpeg" alt="Andreas Olofsson" />
          <div class="team-name">Andreas Olofsson</div>
          <div class="team-title">Core Developer<br/>Integration</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
          <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-eb.jpeg" alt="Ethan Buchman" />
          <div class="team-name">Ethan Buchman</div>
          <div class="team-title">Core Developer<br/>Distributed Systems</div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
          <img class="team-headshot" src="{{ site.url }}{{ site.images_dir }}/team/team-mdf.jpeg" alt="Matt Di Ferente" />
          <div class="team-name">Matthew Di Ferente</div>
          <div class="team-title">Core Developer<br/>Infrastructure</div>
        </div>

      </div><!-- spacer div -->
    </div><!-- #row-7 -->
  </div><!-- #components -->


{% include footer.html %}
{% include home-structure/home-scripts.html %}
{% include analytics.html %}