---
---

{% include header.html %}
{% include navigation.html %}

<article>
    <div class="wrap">
        <h2>The Distributed Application Platform</h2>
        <p>Eris enables you to leverage your own blockchain to run financial or legal smart contracts at low cost in a distributed environment.</p>
        <div class="video-wrap">
            <iframe src="http://www.youtube.com/embed/VkYVc1YsGCc?rel=0;modestbranding=1;autohide=1;showinfo=0;controls=1;color=white;theme=dark;"></iframe>
        </div>
        <h3 class="upper">Harness the power of smart contracts for yourself.</h3>
<!--         <span class="down"></span>
 -->    </div>
</article>

<article class="bg-grey">
    <div class="wrap">
        {% capture whatisit %}{% include home-content/whatisit.md %}{% endcapture %}
        {{ whatisit | markdownify }}
<!--         <span class="down"></span>
 -->    </div>
</article>

<article>
    <span class="bg" style="background-image: url('{{ site.url }}{{ site.images_dir }}/bg-blockchains-4.png');"></span>
    <div class="wrap">
        {% capture whatcanido %}{% include home-content/whatcanido.md %}{% endcapture %}
        {{ whatcanido | markdownify }}
<!--         <span class="down"></span>
 -->    </div>
</article>

<article class="bg-grey step col-2 split-screen">
    <div class="wrap">
        <div class="col">
            <h2>Step <span>1</span></h2>
            <p>Install</p>
            <p class="step-sub">Install the complete Eris platform in seconds using <a href="https://www.docker.com/" target="_blank">Docker</a>.</p>
<!--             <span class="down small-hidden"></span>
 -->        </div>
        <div class="col">
          {% capture step1 %}{% include home-code-blocks/step1.md %}{% endcapture %}
          {{ step1 | markdownify }}
<!--         <span class="down"></span>
 -->        </div>
    </div>
</article>

<article class="bg">
    <img src="{{ site.url }}{{ site.images_dir }}/bg-blockchains-3.png"/>
</article>

<article class="bg-grey step col-2 split-screen reverse-split">
    <div class="wrap">
        <div class="col">
            <h2>Step <span>2</span></h2>
            <p>Roll</p>
            <p class="step-sub">Deploy your own custom blockchain in seconds or easily connect to an existing one to develop sophisticated financial or legal applications.</p>
<!--             <span class="down small-hidden"></span>
 -->        </div>
        <div class="col">
          {% capture step2 %}{% include home-code-blocks/step2.md %}{% endcapture %}
          {{ step2 | markdownify }}
<!--         <span class="down"></span>
 -->        </div>
    </div>
</article>

<article class="bg">
    <img src="{{ site.url }}{{ site.images_dir }}/bg-blockchains-2.png" />
</article>

<article class="bg-grey step col-2 split-screen">
    <div class="wrap">
        <div class="col">
            <h2>Step <span>3</span></h2>
            <p>Build</p>
            <p class="step-sub">Build and run your distributed application using smart contract templates and a simple, web-based user interface.</p>
<!--             <span class="down small-hidden"></span>
 -->        </div>
        <div class="col">
          {% capture step3 %}{% include home-code-blocks/step3.md %}{% endcapture %}
          {{ step3 | markdownify }}
<!--         <span class="down"></span>
 -->        </div>
    </div>
</article>

<article class="bg">
    <img src="{{ site.url }}{{ site.images_dir }}/bg-blockchains.png" />
</article>


{% include footer.html %}
{% include scripts.html %}
{% include analytics.html %}
