<div class="modal fade" id="rebrandModal" tabindex="-1" role="dialog" aria-labelledby="rebrandModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="rebrandModalLabel">A Quick Note</h4>
      </div>
      <div class="modal-body">
        You have arrived to our site from our previous site. Please note that the company formerly known as Eris Industries is now Monax.

        For more information please see our <a href="/2016/09/30/from-chaos-to-order/">announcement</a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>