<script>
  function signup(thisForm) {
    console.log(thisForm);
    with (thisForm) {
      analytics.identify(email, {
        name: name,
        company: company,
        newsLetterSubscribe: true,
        windowShopping: true,
      });
      analytics.group(company, {
        name: company
      });
    }
  }
</script>
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="newsletterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="newsletterModalLabel">Sign Up for the Monax Newsletter</h4>
        <button type="button" class="modal-close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
      <div class="modal-body">
        <div id="mc_embed_signup">
          <form id="identify-form" name="identify-form" method="post" action="" class="validate" onsubmit="return signup(this);">
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group required-wrap">
                <label for="email">Email Address</label>
                <input type="email" value="" name="email" class="form-control required email" id="email">
              </div>
              <div class="mc-field-group">
                <label for="name">Name </label>
                <input type="text" value="" name="name" class="form-control" id="name">
              </div>
              <div class="mc-field-group">
                <label for="company">Company </label>
                <input type="text" value="" name="company" class="form-control" id="company">
              </div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-lg btn-primary btn-block"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>