{{ with .Site.Data.lawyers.feature }}
{{ if .enable }}
  <section class="section-feature padding-top-md padding-bottom-md">
      <div class="container">

          {{ range $i, $p := .section }}

            <div class="row flex-grid-md padding-bottom-lg {{ if not (modBool $i 2) }}flex-grid-reverse{{ end}}">
              <div class="col-md-7 col-valign-center">
                <div class="animation-container">
                  <div id="{{ .animation_id }}" class='{{ if eq .img_content_container "mac" }}animation-container-mac{{ end }}{{ if eq .img_content_container "iphone" }}animation-container-iphone{{ end }}'>
                    <div class="img-layer-container">
                      <img class="img-responsive img-center img-layer img-animation-base" src="{{ .img_base }}" alt="">

                      {{ if eq .animation_type "zoom" }}
                        <div class='content-container animation-content-frame animation-zoom animate-after-aos'   data-aos="none"  data-aos-delay="{{ .img_content_animation_delay }}" data-aos-duration="{{ .img_content_animation_duration }}">
                          <img class="img-responsive img-center img-layer img-animate" src="{{ .img_content_layer_src }}" alt="">
                        </div>
                        <div class="content-container animation-popover-frame animation-zoom animate-after-aos" data-aos="zoom-in"  data-aos-delay="{{ .img_popover_animation_delay }}" data-aos-duration="{{ .img_popover_animation_duration }}">
                          <img class="img-responsive img-center img-layer img-animate" src="{{ .img_popover_layer_src }}" alt="">
                        </div>
                      {{ end }}

                      {{ if eq .animation_type "scroll" }}
                        <div class='content-container animation-content-frame animation-scroll animate-after-aos'  data-aos="none"  data-aos-delay="{{ .animation_delay }}" data-aos-duration="{{ .animation_duration }}">
                          <img class="img-responsive img-center img-layer img-animate" src="{{ .img_popover_layer_src }}" alt="">
                        </div>
                        <div class="content-container animation-popover-frame animation-scroll">
                          <img class="img-responsive img-center img-layer img-animate {{ if .reveal_only_on_scroll }}animate-reveal-onscroll{{ end }}" src="{{ .img_content_layer_src }}" alt="">
                        </div>
                      {{ end }}

                      {{ if eq .animation_type "multipop" }}
                        <div class='content-container animation-content-frame animation-multipop animate-after-aos' data-aos="none"  data-aos-delay="{{ .animation_delay }}" data-aos-duration="{{ .animation_duration }}">
                          <img class="img-responsive img-center img-layer img-animate" src="{{ .img_content_layer_src }}" alt="">
                        </div>
                        {{ range .pop }}
                        <div id="{{ .img_pop_id }}-container" class="content-container animation-popover-frame animation-multipop animate-after-aos" data-aos="zoom-in"  data-aos-delay="{{ .animation_delay }}" data-aos-duration="{{ .animation_duration }}">
                          <img id="{{ .img_pop_id }}" class="img-responsive img-center img-layer img-animate" src="{{ .img_pop_src }}" alt="">
                        </div>
                        {{ end }}
                      {{ end }}

                    </div>
                  </div>
                </div> <!-- .col -->
              </div> <!-- .col -->
              <div class="col-md-5 col-valign-center"  data-aos="{{ if (modBool $i 2) }}fade-left{{ else }}fade-right{{ end}}" data-aos-delay="50" data-aos-duration="400">
                <div class="range-left-md">
                    <h2><strong>{{ .title }}</strong></h2>
                </div>
                <p class="lead range-left-md">
                  {{ .subtitle | markdownify }}
                </p>
              </div> <!-- .col -->
            </div>  <!-- .row -->

          {{ end }}

      </div> <!-- .container -->
  </section> <!-- .section -->
{{ end }}
{{ end }}
