{{ with .Site.Data.lawyers.summary }}
{{ if .enable }}
<section class="section-top padding-top-sm padding-bottom-sm">
    <div class="container">

      <div class="row flex-grid-md">
          <div class="col-md-12 col-valign-center">
              {{ with .title }}
              <div class="">
                  <h2>{{ . | markdownify }}</h2>
              </div>
              {{ end }}
              {{ with .subtitle }}
                <h4>{{ . | markdownify }}</h4>
              {{ end }}
          </div>
      </div>

    </div> <!-- .container -->
</section> <!-- .section -->
{{ end }}
{{ end }}
