<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all" class="single-post">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <section class="section-top padding-top-md">
            <div class="container">
              <div class="row flex-container-md">
                  <div class="col-md-7 col-valign-center">
                      {{ if isset .Params "categories" }}
                        <div class="range-left">
                          <h5 class="article-category" style="margin-bottom:-10px;">{{ index .Params.categories 0 }}</h5>
                        </div>
                      {{ end }}
                      {{ with .Title }}
                        <div class="strong range-left">
                            <h1>{{ . | markdownify }}</h1>
                        </div>
                      {{ end }}
                      {{ if gt .Date.Year 2000 }}
                        <p class="post-meta range-left">{{ if .Params.author }}<i class="fa fa-user-o"></i> {{ .Params.author }}{{ end }}<i class="fa fa-calendar"></i> {{ .Date.Format .Site.Params.date_format }}</p>
                      {{ end }}
                      <p class="lead range-left">
                        {{ .Params.excerpt }}
                      </p>

                      <!-- Sign up section [GLOBAL] -->
                      {{ if .Site.Data.global.casestudies.top.hero_signup }}
                        {{ partial "_global/hero_newsletter.html" . }}
                      {{ end }}
                  </div>
              </div>
            </div> <!-- .container -->
        </section> <!-- .section -->

        <div id="content">
            <div class="container">
                <div class="row padding-bottom-xl">

                    <div class="col-md-9 padding-bottom-lg" id="casestudies-post">
                      <div id="post-content" class="range-left">
                        {{ .Content }}
                      </div>
                    </div> <!-- .post content -->

                    <div class="col-md-3">
                        {{ partial "sidebar.html" . }}
                    </div> <!-- .sidebar col -->

                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .#content -->

        <!-- CTA section [GLOBAL] -->
        {{ if .Site.Data.global.casestudies.cta.enable }}
          {{ partial "_global/cta.html" . }}
        {{ end }}

        {{ partial "footer.html" . }}


    </div> <!-- .#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
