{{ if isset .Site.Data.webinars "backers" }}
{{ if .Site.Data.webinars.backers.enable }}
<section class="section-backers section-shadow-xl section-padding-lg">
    <div class="container">

      <div class="row padding-bottom-sm">
        <div class="col-md-12">

          <div class="underline-sm range-left-md">
              <h3>{{ .Site.Data.webinars.backers.title }}</h3>
          </div>
          <!-- <p class="range-left-md padding-bottom-sm">
            {{ .Site.Data.webinars.backers.subtitle | markdownify }}
          </p> -->

        </div> <!-- .col -->
      </div> <!-- .row -->

      {{ range first 1 .Site.Data.webinars.backers.investor }}
      <div class="row flex-grid-sm padding-bottom-lg">
        <div class="col-md-6">
          <div class="row">

            <div class="col-md-6 col-sm-6 col-valign-center padding-bottom-md">
              <a href="{{ .link }}" title="{{ .name }}">
                <img class="img-responsive img-center mw-180" src="{{ .logo }}" alt="{{ .name }}">
              </a>
            </div><!-- .col -->

            <div class="col-md-6 col-sm-6 col-valign-center padding-bottom-md">
              <a href="{{ .link }}" title="{{ .name }}">
                <img class="img-responsive img-center mw-180" src="{{ .logo }}" alt="{{ .name }}">
              </a>
            </div><!-- .col -->

          </div> <!-- .row -->
          <div class="row">

            <div class="col-md-12 col-sm-12 col-valign-center padding-bottom-md">
              <div class="content-container bubble bubble-bottom">
                <div class="range-left-sm">
                    <h6>{{ .title }}</h6>
                </div>
                <p class="range-left-sm">
                  {{ .subtitle | markdownify }}
                </p>
                <div class="content-container padding-top-xs">
                  <a href="{{ .link_url }}">{{ .link_text }} &rsaquo;</a>
                </div>
              </div>
            </div> <!-- .col -->

          </div> <!-- .row -->
        </div> <!-- .col -->

        <div class="col-md-6">
          <div class="row">

            <div class="col-md-12 col-sm-12 col-valign-center padding-bottom-md">
              <div class="content-container bubble bubble-top">
                <div class="range-left-sm">
                    <h6>{{ .title }}</h6>
                </div>
                <p class="range-left-sm">
                  {{ .subtitle | markdownify }}
                </p>
                <div class="content-container padding-top-xs">
                  <a href="{{ .link_url }}">{{ .link_text }} &rsaquo;</a>
                </div>
              </div> <!-- .col -->
            </div>

          </div> <!-- .row -->
          <div class="row">

            <div class="col-md-6 col-sm-6 col-valign-center padding-bottom-md">
              <a href="{{ .link }}" title="{{ .name }}">
                <img class="img-responsive img-center mw-180" src="{{ .logo }}" alt="{{ .name }}">
              </a>
            </div><!-- .col -->

            <div class="col-md-6 col-sm-6 col-valign-center padding-bottom-md">
              <a href="{{ .link }}" title="{{ .name }}">
                <img class="img-responsive img-center mw-180" src="{{ .logo }}" alt="{{ .name }}">
              </a>
            </div><!-- .col -->

          </div> <!-- .row -->
        </div> <!-- .col -->
      </div> <!-- .row -->
      {{ end }}


    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
