<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all" class="single-post">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <section class="section-top padding-top-md">
            <div class="container">
              <div class="row flex-grid-md">
                  <div class="col-md-7 col-valign-center">
                    <div class="range-left">
                      {{ $t := (time .Params.event_date) }}
                      {{ if not ($t.After now) }}
                        <h5 class="article-category" style="margin-bottom:-10px;">Webinar Ended</h5>
                      {{ else }}
                        <h5 class="article-category" style="margin-bottom:-10px;">Upcoming Webinar</h5>
                      {{ end }}
                    </div>
                    {{ with .Title }}
                      <div class="strong range-left">
                          <h1>{{ . | markdownify }}</h1>
                      </div>
                    {{ end }}
                    {{ if gt .Date.Year 2000 }}
                      <p class="post-meta range-left">{{ if .Params.author }}<i class="fa fa-user-o"></i> {{ .Params.author }}{{ end }}<i class="fa fa-calendar"></i> {{ .Date.Format .Site.Params.date_format }}</p>
                    {{ end }}
                    <p class="lead range-left">
                      {{ .Params.excerpt }}
                    </p>

                    <!-- Sign up section [GLOBAL] -->
                    {{ if .Site.Data.global.webinars.top.hero_signup }}
                      {{ partial "_global/hero_newsletter.html" . }}
                    {{ end }}
                  </div>
              </div>
            </div> <!-- .container -->
        </section> <!-- .section -->

        <div id="content">
            <div class="container">
                <div class="row padding-bottom-xl">

                    <div class="col-md-9 padding-bottom-lg" id="webinars-post">
                      <div id="post-content" class="range-left">

                        {{ $t := (time .Params.event_date) }}
                        <!-- If in the future -->
                        {{ if $t.After now }}

                          {{ .Content }}

                          {{ with $.Site.Data.global.webinars.form }}
                            {{ if .enable_signup_form }}

                              <div class="range-left underline-sm">
                                <h2>Sign up for this webinar!</h2>
                              </div>

                              <form id="single-webinar-signup" class="form">
                                {{ with .source }}
                                  <input type="text" name="source" value="{{ . }}" class="hidden">
                                  <input type="text" name="webinar" value="E.G. WEBINAR ID HERE" class="hidden">
                                {{ end }}
                                {{ with .email }}
                                  <input type="text" placeholder="Email" name="email" class="field-email">
                                {{ end }}
                                {{ if or .fname .lname }}
                                  <div class="content-container clearfix">
                                    {{ with .fname }}
                                      <input type="text" placeholder="First Name" name="firstName" class="input-half field-fname">
                                    {{ end }}
                                    {{ with .lname }}
                                      <input type="text" placeholder="Last Name" name="lastName" class="input-half field-lname">
                                    {{ end }}
                                  </div>
                                {{ end }}
                                {{ with .company_name }}
                                  <input type="text" placeholder="Company Name" name="company" class="field-company">
                                {{ end }}
                                <button type="submit" value="Submit" class="btn btn-xl field-submit">
                                  <span>{{ .submit_text | default "Submit" }}</span>
                                </button>
                              </form>

                            {{ end }}
                          {{ end }}

                        <!-- If in the past -->
                        {{ else }}

                          {{ if .Params.replay_youtube_id }}
                            <div class="content-container padding-bottom-md">
                              <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                                <iframe src="//www.youtube.com/embed/{{ .Params.replay_youtube_id }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="YouTube Video"></iframe>
                              </div>
                            </div>
                          {{ else }}
                            <h2>Replay coming soon!</h2>
                          {{ end }}

                          {{ .Content }}

                        {{ end }}

                      </div>
                    </div> <!-- .post content -->

                    <div class="col-md-3">
                        {{ partial "sidebar.html" . }}
                    </div> <!-- .sidebar col -->

                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .#content -->

        <!-- CTA section [GLOBAL] -->
        {{ if .Site.Data.global.webinars.cta.enable }}
          {{ partial "_global/cta.html" . }}
        {{ end }}

        {{ partial "footer.html" . }}


    </div> <!-- .#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
