{{ with .Site.Data.monaxfor.lawyers.relatedarticles }}
{{ if .enable }}
{{ $defaultImg := .default_img }}

  <section class="section-usecases section-padding-xl background-color">
      <div class="container">

          <div class="row content-container flex-grid-sm">
            {{ range first 3 $.Site.Taxonomies.tags.lawyers }}

            <!-- check for img override -->
            {{ if .Page.Params.img }}
              {{ $defaultImg := .Page.Params.img }}
            {{ end }}

            <div class="col-sm-4 flex-grid-sm">
              <a href="{{ .Page.Permalink }}" class="flex-grid-sm a-card">
              <div class="content-container content-card content-card-full flex-grid-sm">
                <div class="row flex-grid-sm">
                  <div class="col-xs-8">
                    <div class="text-container">
                      <div class="title range-left">
                          <h5>{{ .Page.Title }} &rsaquo;</h5>
                      </div>
                      <p class="subtitle range-left">
                        {{ .Page.Params.excerpt }}
                      </p>
                    </div>
                  </div>
                  <div class="col-xs-4 flex-grid-sm">
                    <div class="img-container background-dark col-slant-left" style="background:url({{ $defaultImg }}) center center no-repeat; background-size: cover;">
                      <img class="img_left img-responsive img-center padding-bottom-sm padding-top-sm" src="{{ $defaultImg }}" alt="" style="visibility:hidden;">
                    </div>
                  </div>
                </div> <!-- .row -->
              </div>  <!-- .content-card -->
              </a>

            </div>  <!-- .col -->
        {{ end }}
      </div> <!-- .row -->

      </div> <!-- .container -->
  </section>

{{ end }}
{{ end }}
