{{ with .Site.Data.creatives.testimonials }}
{{ if .enable }}
<section class="section-testimonials">
  <div class="container">
    <div class="row">
      {{ with .card_link }}
      <div class="col-md-12 padding-bottom-md">
          <div class="content-container content-card content-card-full content-card-shadow-sm flex-container-sm card-grey testimonial-card">
            <div class="row flex-container" style="width:100%;">
              <div class="col-sm-4 hidden-xs"  style="background: url({{ .img }}) center center no-repeat; background-size: cover;">
                <img class="img-responsive hidden-sm hidden-xs" src="{{ .img }}" alt="">
              </div>
              <div class="col-sm-8 col-xs-12 col-valign-center">
                <div class="text-container range-left">
                  {{ with .title }}
                  <h6>{{ . | markdownify }}</h6>
                  {{ end }}
                  {{ with .blurb }}
                  <h3>{{ . | markdownify }}</h3>
                  {{ end }}
                  {{ if and .link_title .link_url }}
                  <a href="{{ .link_url }}"><h4 class="green">{{ .link_title | markdownify }} <i class="fa {{.icon}}"></i></h4></a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
      </div>
      {{ end }}
    </div> <!-- .row -->
  </div>
</section> <!-- .section -->

{{ end }}
{{ end }}
