</div><!-- /.container-fluid -->
</div><!-- #container -->
<footer class="mainfooter">

    <img alt="eris" class="erislogo" src="{{ site.url }}{{ site.images_dir }}/logos/ei-logo-long-mobile.png" />
    <ul class="linklist">
      <li><a href="https://thelonious.io/">Learn more about ErisDB</a></li>
      <li><a href="https://decerver.io/">Learn more about ErisServer</a></li>
      <li><a href="https://epm.io/">Learn more about EPM</a></li>
      <li><a href="https://lmd.io/">Learn more about ELM</a></li>
      <li>Copyright &copy; 2014-{{ site.time | date: '%Y' }} Eris Industries</li>
    </ul>
    <img alt="eris industries - Solve big problems" class="erismascot" src="{{ site.url }}{{ site.images_dir }}/erismascot.png" />
</footer>
</body>
