</div><!-- /.container-fluid -->
</div><!-- #container -->
<footer class="mainfooter">

    <img alt="eris" class="erislogo" src="{{ site.url }}{{ site.images_dir }}/logos/ei-logo-long-mobile.png" />
    <ul class="linklist">
      <li><a href="https://erisdb.erisindustries.com/">Learn more about eris:db</a></li>
      <li><a href="https://erisserver.erisindustries.com/">Learn more about eris:server</a></li>
      <li><a href="https://epm.erisindustries.com/">Learn more about eris:pm</a></li>
      <li><a href="https://elm.erisindustries.com/">Learn more about eris:lmd</a></li>
      <li><a href="http://marmots.org/" target="_blank">Learn more about Cuddly Marmots</a></li>
      <li>Copyright &copy; 2014-{{ site.time | date: '%Y' }} Eris Industries</li>
    </ul>
    <img alt="eris industries - Solve big problems" class="erismascot" src="{{ site.url }}{{ site.images_dir }}/erismascot.png" />
</footer>
</body>
