{% assign this_site = site.data.sites[site.this] %}

<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <!-- Site Overview -->
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
            {{ this_site.formal_name }} | {{ page.title }}
        {% else %}
            {{ this_site.formal_name }}
        {% endif %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% asset_path favicon.ico %}">

    {% include sharing_info.html %}

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' />
    {% if page.css %}
        {{ page.css | stylesheet }}
    {% else %}
        {% stylesheet eris %}
    {% endif %}

    <!-- rss feed -->
    {% if this_site.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ this_site.name }}" href="{{ this_site.url_plain }}/rss.xml" />
    {% endif %}
  </head>
<body>
