<!-- Open Graph || Facebook Meta -->
{% if page.title %}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ this_site.url }}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="{{ this_site.formal_name }}" />
{% else %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ this_site.url }}" />
  <meta property="og:title" content="{{ this_site.formal_name }}" />
{% endif %}
{% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt }}" />
{% endif %}
{% if page.thumbnail %}
  <meta property="og:image" content="{{ this_site.url }}{{ page.date | date: "%Y" | append:'/' | append:page.thumbnail | asset_path }}" />
{% elsif page.thumbnail_raw %}
  <meta property="og:image" content="{{ this_site.url }}{{ page.thumbnail_raw }}" />
{% else %}
  <meta property="og:image" content="{{ this_site.url }}{% asset_path ei-logo-sharing-square.png %}" />
{% endif %}

<!-- Twitter Cards -->
{% if page.thumbnail %}
    <meta name="twitter:card" content="summary_large_image" />
{% else %}
    <meta name="twitter:card" content="summary" />
{% endif %}
<meta name="twitter:site" content="@eris_ltd" />
<meta name="twitter:title" content="{{ this_site.formal_name }}" />
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
{% else %}
  <meta name="twitter:title" content="{{ this_site.formal_name }}" />
{% endif %}
{% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt }}" />
{% else %}
  <meta name="twitter:description" content="{{ this_site.description }}" />
{% endif %}
{% if page.thumbnail %}
  <meta name="twitter:image" content="{{ this_site.url }}{{ page.date | date: "%Y" | append:'/' | append:page.thumbnail | asset_path }}" />
{% elsif page.thumbnail_raw %}
  <meta name="twitter:image" content="{{ this_site.url }}{{ page.thumbnail_raw }}" />
{% else %}
  <meta name="twitter:image" content="{{ this_site.url }}{% asset_path ei-logo-sharing-square.png %}" />
{% endif %}
{% if author.twitter %}
<meta name="twitter:creator" content="@{{ author.twitter }}">
{% endif %}

<!-- Google Meta -->
<meta name="keywords" content="{{ this_site.keywords }}" />
{% if page.title %}
  <meta itemprop="name" content="{{ page.title }}" />
{% else %}
  <meta itemprop="name" content="{{ this_site.formal_name }}" />
{% endif %}
{% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt }}" />
{% else %}
  <meta name="description" content="{{ this_site.description }}" />
{% endif %}
{% if page.thumbnail %}
  <meta itemprop="image" content="{{ this_site.url }}{{ page.date | date: "%Y" | append:'/' | append:page.thumbnail | asset_path }}" />
{% elsif page.thumbnail_raw %}
  <meta itemprop="image" content="{{ this_site.url }}{{ page.thumbnail_raw }}" />
{% else %}
  <meta itemprop="image" content="{{ this_site.url }}{% asset_path ei-logo-sharing-square.png %}" />
{% endif %}
