<div class="content-container padding-bottom-lg">
  <div id="pricing-all-features" class="flex-table flex-table-3col flex-table-collapse flex-table-pricing">
    {{ range $i, $p := (slice $.Site.Data.pricing_new.starter $.Site.Data.pricing_new.essential $.Site.Data.pricing_new.professional) }}

      <div style="order:0;" class="flex-td flex-th padding-top-md hidden-xs strong">
        <h4>{{ .title }}</h4>
      </div>
      <div style="order:1;" class="flex-td flex-td-separator padding-top-sm hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Managing Contracts</h6>
        </div>
      </div>
      <div style="order:{{ add $i 5 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span>{{ .contracts }} new contracts / month
      </div>
      <div style="order:{{ add $i 10 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span>{{ .contract_events }} contractual transactions / month
      </div>
      <div style="order:{{ add $i 15 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span>{{ .contract_reminders }} reminder notifications / contract
      </div>
      <div style="order:{{ add $i 20 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span>{{ .ndas }} active CantingTribe NDAs
      </div>
      {{ range $i, $p := .features_contracts }}
        <div style="order:{{ add $i 25 }};" class="flex-td hidden-xs {{ if eq .disabled true }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .desc }}
        </div>
      {{ end }}
      <div style="order:45;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Managing Templates</h6>
        </div>
      </div>
      <div style="order:{{ add $i 50 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span>{{ .templates }} active contract templates
      </div>
      {{ range $i, $p:= .features_templates }}
        <div style="order:{{ add $i 55 }};" class="flex-td hidden-xs {{ if eq .disabled true }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .desc }}
        </div>
      {{ end }}
      <div style="order:95;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Managing People</h6>
        </div>
      </div>
      <div style="order:{{ add $i 100 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span>{{ .users }} active users
      </div>
      <div style="order:{{ add $i 105 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span>Invite {{ .contract_external_parties }} external partners or counterparties to collaborate / contract
      </div>
      {{ range $i, $p:= .features_users }}
        <div style="order:{{ add $i 110 }};" class="flex-td hidden-xs {{ if eq .disabled true }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .desc }}
        </div>
      {{ end }}
      <div style="order:145;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Integrations</h6>
        </div>
      </div>
      {{ $myIntegrations := .integrations }}
      {{ range $i, $p := $.Site.Data.integrations }}
        {{ if not (eq .visible false) }}
        {{ $enabled := index $myIntegrations .id }}
        <div style="order:{{ add $i 150 }};" class="flex-td hidden-xs {{ if not (eq $enabled true) }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .description }}{{ if not (eq .enabled true) }} (coming soon){{ end }}
        </div>
        {{ end }}
      {{ end }}
      <div style="order:195;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Support and services</h6>
        </div>
      </div>
      {{ range $i, $p:= .features_support }}
        <div style="order:{{ add $i 200 }};" class="flex-td hidden-xs {{ if eq .disabled true }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .desc }}
        </div>
      {{ end }}

      <div style="order:245;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Add-ons</h6>
        </div>
      </div>
      <div style="order:250;" class="flex-td hidden-xs {{ if eq .title "Starter" }} disabled {{ end }}">
        {{ $.Site.Data.pricing_new.addtional_users.description }}: ${{ div (int $.Site.Data.pricing_new.addtional_users.price_monthly) 100 }} / month
      </div>
      <div style="order:255;" class="flex-td hidden-xs {{ if eq .title "Starter" }} disabled {{ end }}">
        {{ $.Site.Data.pricing_new.addtional_templates.description }}: ${{ div (int $.Site.Data.pricing_new.addtional_templates.price_monthly) 100 }} / month
      </div>
      <div style="order:260;" class="flex-td hidden-xs {{ if eq .title "Starter" }} disabled {{ end }}">
        {{ $.Site.Data.pricing_new.addtional_contracts.description }}: ${{ div (int $.Site.Data.pricing_new.addtional_contracts.price_monthly) 100 }} / month
      </div>
      <div style="order:265;" class="flex-td hidden-xs {{ if eq .title "Starter" }} disabled {{ end }}">
        {{ $.Site.Data.pricing_new.additional_transactions.description }}: ${{ div (int $.Site.Data.pricing_new.additional_transactions.price_monthly) 100 }} / month
      </div>
      <div style="order:270;" class="flex-td hidden-xs {{ if eq .title "Starter" }} disabled {{ end }}">
        {{ $.Site.Data.pricing_new.additional_externals.description }}: ${{ div (int $.Site.Data.pricing_new.additional_externals.price_monthly) 100 }} / month
      </div>
    {{ end }}
  </div>
</div> <!-- .all features container -->
