<div class="content-container padding-bottom-lg">
  <div id="pricing-all-features" class="flex-table flex-table-3col flex-table-collapse flex-table-pricing">
    {{ range $i, $p := (slice $.Site.Data.pricing_new.starter $.Site.Data.pricing_new.essential $.Site.Data.pricing_new.professional) }}

      <div style="order:0;" class="flex-td flex-th padding-top-md hidden-xs strong">
        <h4>{{ .title }}</h4>
      </div>
      <div style="order:1;" class="flex-td flex-td-separator padding-top-sm hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Managing Contracts</h6>
        </div>
      </div>
      <div style="order:{{ add $i 5 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span><span class="frequency" data-billed-yearly="{{ .meta_annual.contracts }}" data-billed-monthly="{{ .meta_monthly.contracts }}">{{ .meta_annual.contracts }}</span> new contracts / <span class="frequency" data-billed-yearly="year" data-billed-monthly="month">year</span>
      </div>
      {{ $myContractsFeatures := .meta_annual.features.contracts }}
      {{ range $i, $p:= $.Site.Data.features.contracts }}
        {{ if .visible }}
        {{ $enabled := index $myContractsFeatures .id }}
        <div style="order:{{ add $i 25 }};" class="flex-td hidden-xs {{ if not $enabled }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .description }}{{ if not (.enabled) }} (coming soon){{ end }}
        </div>
        {{ end }}
      {{ end }}
      <div style="order:45;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Managing Templates</h6>
        </div>
      </div>
      <div style="order:{{ add $i 50 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span><span class="frequency"
          data-billed-yearly="{{ .meta_annual.templates }}" data-billed-monthly="{{ .meta_monthly.templates }}">{{ .meta_annual.templates }}</span> active contract templates
      </div>
      {{ $myTemplatesFeatures := .meta_annual.features.templates }}
      {{ range $i, $p:= $.Site.Data.features.templates }}
        {{ if .visible }}
        {{ $enabled := index $myTemplatesFeatures .id }}
        <div style="order:{{ add $i 55 }};" class="flex-td hidden-xs {{ if not $enabled }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .description }}{{ if not (.enabled) }} (coming soon){{ end }}
        </div>
        {{ end }}
      {{ end }}
      <div style="order:95;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Managing People</h6>
        </div>
      </div>
      <div style="order:{{ add $i 100 }};" class="flex-td hidden-xs">
        <span class="fa-li"><i class="fa fa-check"></i></span><span class="frequency" data-billed-yearly="{{ .meta_annual.users }}" data-billed-monthly="{{ .meta_monthly.users }}">{{ .meta_annual.users }}</span> active users
      </div>
      {{ $myUserFeatures := .meta_annual.features.users }}
      {{ range $i, $p:= $.Site.Data.features.users }}
        {{ if .visible }}
        {{ $enabled := index $myUserFeatures .id }}
        <div style="order:{{ add $i 110 }};" class="flex-td hidden-xs {{ if not $enabled }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .description }}{{ if not (.enabled) }} (coming soon){{ end }}
        </div>
        {{ end }}
      {{ end }}
      <div style="order:145;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Integrations</h6>
        </div>
      </div>
      {{ $myIntegrations := .meta_annual.integrations }}
      {{ range $i, $p := $.Site.Data.integrations }}
        {{ if .visible }}
        {{ $enabled := index $myIntegrations .id }}
        <div style="order:{{ add $i 150 }};" class="flex-td hidden-xs {{ if not $enabled }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .description }}{{ if not (.enabled) }} (coming soon){{ end }}
        </div>
        {{ end }}
      {{ end }}
      <div style="order:195;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Support and services</h6>
        </div>
      </div>
      {{ $mySupportFeatures := .meta_annual.features.support }}
      {{ range $i, $p := $.Site.Data.features.support }}
        {{ if .visible }}
        {{ $enabled := index $mySupportFeatures .id }}
        <div style="order:{{ add $i 200 }};" class="flex-td hidden-xs {{ if not $enabled }} disabled {{ end }}">
          <span class="fa-li"><i class="fa fa-check"></i></span>{{ .description }}{{ if not (.enabled) }} (coming soon){{ end }}
        </div>
        {{ end }}
      {{ end }}

      <div style="order:245;" class="flex-td flex-td-separator padding-top-md hidden-xs {{ if eq $i 0 }} flex-td-colspan-3 {{ else }} visible-xs-block {{ end }}">
        <div class="inner-content">
          <h6>Add-ons</h6>
        </div>
      </div>
      <div style="order:250;" class="flex-td hidden-xs {{ if eq .title "Starter" }} disabled {{ end }}">
        {{ $.Site.Data.pricing_new.addtional_users.description }}: $<span class="frequency" data-billed-yearly="{{ div ( int $.Site.Data.pricing_new.addtional_users.price_annual) 100 }}" data-billed-monthly="{{ div (int $.Site.Data.pricing_new.addtional_users.price_monthly) 100 }}">{{ div ( int $.Site.Data.pricing_new.addtional_users.price_annual) 1200 }}</span> / <span class="frequency" data-billed-yearly="year" data-billed-monthly="month">year</span>
      </div>
      <div style="order:260;" class="flex-td hidden-xs {{ if eq .title "Starter" }} disabled {{ end }}">
        {{ $.Site.Data.pricing_new.addtional_contracts.description }}: $<span class="frequency" data-billed-yearly="{{ div ( int $.Site.Data.pricing_new.addtional_contracts.price_annual) 100 }}"
          data-billed-monthly="{{ div (int $.Site.Data.pricing_new.addtional_contracts.price_monthly) 100 }}">{{ div ( int $.Site.Data.pricing_new.addtional_contracts.price_annual) 1200 }}</span>
        / <span class="frequency" data-billed-yearly="year" data-billed-monthly="month">year</span>
      </div>
    {{ end }}
  </div>
</div> <!-- .all features container -->
