{{ with .Site.Data.pricing.top }}
{{ if .enable }}
<section class="section-top padding-top-md padding-bottom-lg" style="">
    <div class="container">

      <div class="row flex-grid-md">
        <div class="col-md-12 col-valign-center">
          {{ with .title }}
            <div class="strong">
                <h1>{{ . | markdownify }}</h1>
            </div>
          {{ end }}
          {{ with .subtitle }}
            <h4>{{ . | markdownify }}</h4>
          {{ end }}

          <!-- Sign up section [GLOBAL] -->
          {{ if .hero_signup }}
            {{ partial "_global/hero_signup.html" . }}
          {{ end }}
        </div>
      </div>

    </div> <!-- .container -->
</section> <!-- .section -->
{{ end }}
{{ end }}
