{{ if isset .Site.Data.home "intro" }}
{{ if .Site.Data.home.intro.enable }}
<section class="section-intro section-padding-lg">
    <div class="container">

      <div class="row">

        <div class="col-md-12">
            <div class="underline-sm">
                <h2>{{ .Site.Data.home.intro.title }}</h2>
            </div>

            <p class="lead text-center">
              {{ .Site.Data.home.intro.subtitle | markdownify }}
            </p>

        </div>
      </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
