/* ============================
            GENERAL ~
============================= */


/* ==============
  Resets
=============== */



/* ==============
  Flex Grids
=============== */

.flex-grid,
.flex-grid-xs {
  display: flex;
}
@media (min-width: 768px) {
  .flex-grid-sm {
    display: flex;
  }
}
@media (min-width: 992px) {
  .flex-grid-md {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .flex-grid-lg {
    display: flex;
  }
}
.col-valign-center {
  align-self: center;
}

/* ==============
  Containers
=============== */

.section-padding-xs .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-padding-sm .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.section-padding-md .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-padding-lg .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-padding-xl .container {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ==============
  Text Aligns
=============== */

p, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.range-left,
.range-left-xs {
  text-align: left;
}

@media (min-width: 768px) {
  .range-left-sm,
  .range-left-sm p,
  .range-left-sm h1,
  .range-left-sm h2,
  .range-left-sm h3,
  .range-left-sm h4,
  .range-left-sm h5,
  .range-left-sm h6 {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .range-left-md,
  .range-left-md p,
  .range-left-md h1,
  .range-left-md h2,
  .range-left-md h3,
  .range-left-md h4,
  .range-left-md h5,
  .range-left-md h6 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .range-left-lg,
  .range-left-lg p,
  .range-left-lg h1,
  .range-left-lg h2,
  .range-left-lg h3,
  .range-left-lg h4,
  .range-left-lg h5,
  .range-left-lg h6 {
    text-align: left;
  }
}




/* ==============
  Typography
=============== */

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.1;
}

.heading {
    text-align: center;
}


/* ==============
  Colors
=============== */


/* =================================
          SPECIFIC STYLES ~
================================= */

/* ==============
  Underlines
  - - -
  Support for h1, h2 and h3
=============== */

.underline-full h1,
.underline-full h2,
.underline-full h3 {
    display: inline-block;
    border-bottom: solid 5px #6aae7a;
    padding-bottom: 10px;
}

.underline-sm h1:after,
.underline-sm h2:after,
.underline-sm h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    margin: 20px auto 0;
    background-color: #6aae7a;
}

/* ==============
  [follow text align]
=============== */

.range-left.underline-sm h1:after,
.range-left.underline-sm h2:after,
.range-left.underline-sm h3:after {
  margin-left: 0;
}

@media (min-width: 768px) {
  .range-left-sm.underline-sm h1:after,
  .range-left-sm.underline-sm h2:after,
  .range-left-sm.underline-sm h3:after {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .range-left-md.underline-sm h1:after,
  .range-left-md.underline-sm h2:after,
  .range-left-md.underline-sm h3:after {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .range-left-lg.underline-sm h1:after,
  .range-left-lg.underline-sm h2:after,
  .range-left-lg.underline-sm h3:after {
    margin-left: 0;
  }
}




/* ==================================
          SPECIFIC LAYOUTS ~
=================================== */

/* ==============
  Nav Bar
=============== */

.navbar-brand>img {
    height: 46px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar ul.nav > li > a {
    text-decoration: none;
}


/* ==============
  Home
=============== */

.home_hero h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 0.08em;
    color: #fff;
}
.home_hero .hero_overlay {
    position: relative;
    z-index: 1;
}
.home_hero .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=90);
}
.home_hero ul, .home_hero p {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.10em;
}
.home_hero h1, .home_hero h2, .home_hero h3, .home_hero p, .home_hero ul {
    color: #fff;
}
