/* ============================
            GENERAL ~
============================= */

body {
  font-size: 16px;
}

section, div.section {
  margin-bottom: 0;
}

#footer {
    background: #172027;
}
#copyright {
    background: #131b21;
    padding: 10px 0;
}

/* Examples */

.form-placeholder-dark {
    min-height: 400px;
    width: 100%;
    background-color: #383838;
}
.form-placeholder {
    min-height: 400px;
    width: 100%;
    background-color: #eee;
}

/* Resets */



/* ==============
  Buttons
=============== */

.btn-container {
  text-align: center;
}
.btn {
  background-color: #69af79;
  border-color: #69b079;
}
.btn-xl {
    padding: 12px 24px;
    font-size: 18px;
}


/* ==============
  Flex Grids
=============== */

.flex-grid,
.flex-grid-xs {
  display: flex;
}
@media (min-width: 768px) {
  .flex-grid-sm {
    display: flex;
  }
}
@media (min-width: 992px) {
  .flex-grid-md {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .flex-grid-lg {
    display: flex;
  }
}
.col-valign-center {
  align-self: center;
}

/* ==============
  Containers
=============== */

.section-padding-xs .container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.section-padding-sm .container {
    padding-top: 15px;
    padding-bottom: 15px;
}
.section-padding-md .container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-padding-lg .container {
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-padding-xl .container {
    padding-top: 120px;
    padding-bottom: 120px;
}


.padding-top-xs {
    padding-top: 10px;
}
.padding-top-sm {
    padding-top: 15px;
}
.padding-top-md {
    padding-top: 30px;
}
.padding-top-lg {
    padding-top: 60px;
}
.padding-top-xl {
    padding-top: 120px;
}


.padding-bottom-xs {
    padding-bottom: 10px;
}
.padding-bottom-sm {
    padding-bottom: 15px;
}
.padding-bottom-md {
    padding-bottom: 30px;
}
.padding-bottom-lg {
    padding-bottom: 60px;
}
.padding-bottom-xl {
    padding-bottom: 120px;
}


/* ==============
  Text Aligns
=============== */

p, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.range-left,
.range-left-xs {
  text-align: left;
}

@media (min-width: 768px) {
  .range-left-sm,
  .range-left-sm p,
  .range-left-sm h1,
  .range-left-sm h2,
  .range-left-sm h3,
  .range-left-sm h4,
  .range-left-sm h5,
  .range-left-sm h6 {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .range-left-md,
  .range-left-md p,
  .range-left-md h1,
  .range-left-md h2,
  .range-left-md h3,
  .range-left-md h4,
  .range-left-md h5,
  .range-left-md h6 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .range-left-lg,
  .range-left-lg p,
  .range-left-lg h1,
  .range-left-lg h2,
  .range-left-lg h3,
  .range-left-lg h4,
  .range-left-lg h5,
  .range-left-lg h6 {
    text-align: left;
  }
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}




/* ==============
  Typography
=============== */

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.1;
}

.heading {
    text-align: center;
}

/* =================================
          SPECIFIC STYLES ~
================================= */

/* ==============
  Underlines - Support for h1, h2 and h3
=============== */

.underline-full h1,
.underline-full h2,
.underline-full h3 {
    display: inline-block;
    border-bottom: solid 5px #6aae7a;
    padding-bottom: 10px;
}

.underline-sm h1:after,
.underline-sm h2:after,
.underline-sm h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    margin: 20px auto 0;
    background-color: #6aae7a;
}

/* ==============
  [follow text align]
=============== */

.range-left.underline-sm h1:after,
.range-left.underline-sm h2:after,
.range-left.underline-sm h3:after {
  margin-left: 0;
}

@media (min-width: 768px) {
  .range-left-sm.underline-sm h1:after,
  .range-left-sm.underline-sm h2:after,
  .range-left-sm.underline-sm h3:after {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .range-left-md.underline-sm h1:after,
  .range-left-md.underline-sm h2:after,
  .range-left-md.underline-sm h3:after {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .range-left-lg.underline-sm h1:after,
  .range-left-lg.underline-sm h2:after,
  .range-left-lg.underline-sm h3:after {
    margin-left: 0;
  }
}


/* ==============
  Icon Lists
=============== */

.ul-icon-list {
    list-style: none;
    position: relative;
    padding-left: 60px;
}
.ul-icon-list i {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    border: 2px solid #9ac05f;
    margin-left: 12px;
}


/* ==============
  Shadows
=============== */

.section-shadow-xl {
    box-shadow: 0px 0px 60px rgba(0,0,0,0.1);
}


/* ==============
  Backgrounds
=============== */

.background-dark {
    background-color: #1d272f;
}
.background-dark h1,
.background-dark h2,
.background-dark h3,
.background-dark h4,
.background-dark h5,
.background-dark h6,
.background-dark p,
.background-dark ul {
    color: #fff;
}
.background-dark .btn {
  background-color: #69b079;
  color: #fff;
  border: none;
}
.background-dark .btn:hover {
  background-color: #4b905a;
  color: #fff;
  border: none;
}
.background-color {
    background-color: #69b079;
}
.background-color h1,
.background-color h2,
.background-color h3,
.background-color h4,
.background-color h5,
.background-color h6,
.background-color p,
.background-color ul {
    color: #fff;
}
.background-color .btn {
  background-color: #1d272f;
  color: #fff;
  border: none;
}
.background-color .btn:hover {
  background-color: #000;
  color: #fff;
  border: none;
}


/* ==================================
          SPECIFIC LAYOUTS ~
=================================== */

/* ==============
  Nav Bar
=============== */

#top {
    background: #1e2830;
    color: #eeeeee;
    padding: 10px 0;
}
#top .social a {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 22px;
    font-size: 10px;
    margin: 0 4px;
}
.navbar-brand>img {
    height: 46px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar ul.nav > li > a {
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #555555;
    background-color: inherit;
}



/* ==============
  Home
=============== */

.section-hero h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 46px;
    letter-spacing: 0.08em;
    color: #fff;
}
.section-hero .hero_overlay {
    position: relative;
    z-index: 1;
}
.section-hero .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=90);
}
.section-hero ul, .section-hero p {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.10em;
}
.section-hero h1,
.section-hero h2,
.section-hero h3,
.section-hero p,
.section-hero ul {
    color: #fff;
}

.section-featured img {
    max-width: 100px;
    margin: 0 auto;
}

.section-usecases .subtitle {
    font-size: 18px;
}
.section-usecases .img_left {
  max-height: 160px;
}


.section-cta h2 {
  font-size: 32px;
}
.section-cta p {
  font-size: 22px;
}
