{{ if isset .Site.Data.usecases "audiences" }}
{{ if .Site.Data.usecases.audiences.enable }}

  <section class="section-audiences section-padding-xl background-color">
      <div class="container">

          <div class="row content-container flex-grid-sm">
        {{ range .Site.Data.usecases.audiences.section }}

            <div class="col-sm-3 flex-grid-sm">

              <div class="content-container content-card">

                <img class="img_left img-responsive img-center padding-bottom-xs padding-top-sm" src="{{ .img }}" alt="">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="title">
                        <h5>{{ .title }}</h5>
                    </div>
                    <p class="subtitle padding-bottom-sm">
                      {{ .subtitle | markdownify }}
                    </p>
                    {{ range .link }}
                      <p><a href="{{ .link_url }}">{{ .link_title }} &rsaquo;</a></p>
                    {{ end }}
                  </div>
                </div> <!-- .row -->

              </div>

            </div>

        {{ end }}
      </div> <!-- .row -->

      </div> <!-- .container -->
  </section>

{{ end }}
{{ end }}
