---
layout: collection
---

<!-- Building Post -->
{% for post in paginator.posts %}

  <!-- Building {{ post.title }} -->
  {% assign author = site.data.team[post.author] %}

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" role="content">
      <article>
        <div class="post-content">
          <h2><a href="{{ this_site.url }}{{ post.url }}">{{ post.title }}</a></h2>
          {% if post.thumbnail %}
            <img src="{{ post.date | date: "%Y" | append:'/' | append:post.thumbnail | asset_path }}" class="thumbnail hidden-xs hidden-sm" />
          {% elsif post.thumbnail_raw %}
            <img src="{{ post.thumbnail_raw }}" class="thumbnail hidden-xs hidden-sm" />
          {% else %}
            <img src="{{ 'doug.png' | asset_path }}" class="thumbnail hidden-xs hidden-sm" />
          {% endif %}
          {% if post.deprecated %}
            <p>Note, this post refers to a deprecated version of the eris platform</p>
          {% else %}
            <p>{{ post.excerpt }}</p>
          {% endif %}
          <p><a href="{{ this_site.url }}{{ post.url }}" class="readmore">Read more &rarr;</a></p>
        </div>
        <div class="post-meta">
          <p>Published on: {{ post.date | date: "%d %h %Y" }}{% if post.author %} by {{ author.name }}{% else %} by Eris Industries{% endif %}.</p>
        </div>
      </article>
    </div>
  </div>

{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ this_site.paginate_path | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>

{% endif %}