/*              */
/*   Globals    */
/*              */
@import "bootstrap.min";
@import "font-awesome.min";
@import "prism-okaidia";
@import "fonts";
@import "colors";

html, body {
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
}

body {
    font-family: $font_body, sans-serif;
    line-height: 1.6;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_header, sans-serif;
}

p {
    font-size: 1.2em;
    font-weight: 500;
}

a {
    color: $links;
    font-weight: 900;
}

a:hover {
    color: $links_hover;
}

#myModal {
    z-index: 9999999;
}

/*              */
/*     Nav      */
/*              */
nav.navbar {
    padding: 0 !important;
    margin: 0 !important;
    background: transparent;
    z-index: 999999;
    font-size: 1.3em;

    @media (min-width: 979px) {
        ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
    }

    a {
        color: $grey_dark !important;

        &:hover {
            color: $grey_dark !important;
        }
    }

    #nav-logo {
        position: relative;
        display: box;
        overflow: hidden;
        top: -2px;
        max-height: 120%;
        vertical-align: middle;
    }

    ul.dropdown-menu {
        background: $white;

        li {
            a {
                color: $grey_dark;

                &:hover {
                  background-color: $grey_light;
                }

                .divider {
                    background-color: $grey_dark;
                }
            }
        }
    }
}

/*              */
/*   Sidebar    */
/*              */
#monax-page aside.sidebar {
    position: fixed !important;
    top: 185px;
    overflow: hidden;

    h4 {
        font-size: 1.5em;
        padding: 15px 15px 15px 0;
    }

    p {
        font-size: 14px;
    }

    img.sidebar-gravatar {
        max-width: 40%;
        padding-right: 10px;
    }

    .follow {
        text-align: center;
    }

    #TableOfContents {
        ul {
            list-style: none;

            a{
                color: $links !important;
                display: block;
                overflow: hidden;
                width: 100%;
            }

            li.active > a {
                border-left: $links solid 2px;
                background-color: transparent;
            }

            li ul {
                padding-left: 5%;
                margin-left: 0;
            }
        }
    }
}

/*              */
/*   Content    */
/*              */
#monax-page h1.title {
    text-align: center;
    font-size: 42px;
}

#monax-page #main-content {
    padding-bottom: 400px;

    .video-wrap {
        width: 100%;
        padding-bottom: 3em;
        padding-top: 3em;
        margin: auto;
        text-align: center;

        iframe {
            width: 685px;
            height: 385px;
        }
    }

    img {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 28px;
        text-align: center;
    }

    pre {
        background-color: $grey_dark;

        code {
            color: $white;
        }
    }

    p {
        a.action-big {
            width: 75%;
            margin: 1.5em auto 0 auto;
            text-align: center;
            background: $purple_light;
            color: $white;
            padding: 1.5em;
            display: block;
        }
    }

    .edit-me {
        width: 100%;
        display: block;
        padding: 1.6em 0 1.6em 0;
        text-align: center;
    }

    .excerpt {
        font-size: 1.4em;
    }

    .pagination-meta {
        margin-bottom: 100px;
    }

    .next-entry {
        text-align: right;
    }

    .post-content .thumbnail {
        float: left;
        max-width: 20%;
        margin-right: 14px;
    }

    .post-meta p {
        font-size: 14px;
    }
}

/*              */
/*    Footer    */
/*              */
footer {
    width: 100%;
    padding: 25px 0 12px 0;

    p {

        text-align: center;
    }
}

/*              */
/*   BreakPts   */
/*              */

/* Above mobile */
@media (min-width: 781px) {

}

/* Above tablet   */
@media (min-width: 921px) {

}

/* Tablet */
@media (max-width: 920px) {

}

/* Mobile */
@media (max-width: 780px) {
  #main-content {
    .video-wrap {
      width: 100%;
      padding-bottom: 3em;
      padding-top: 3em;
      margin: auto;
      text-align: center;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
