/*              */
/*   Globals    */
/*              */
@import "bootstrap.min";
@import "font-awesome.min";
@import "prism-okaidia";
@import "fonts";
@import "colors";

html, body {
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
}

body {
    font-family: $font_body, sans-serif;
    line-height: 1.6;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_header, sans-serif;
}

p {
    font-size: 1.2em;
    font-weight: 500;
}

a {
    color: $links;
    font-weight: 900;
}

a:hover {
    color: $links_hover;
}

/*              */
/*     Nav      */
/*              */
nav.navbar {
    padding: 0 !important;
    margin: 0 !important;
    background: transparent;
    z-index: 99999999;

    a {
        color: $grey_dark !important;

        &:hover {
            background-color: transparent !important;
            color: $grey_dark !important;
        }
    }

    #nav-logo {
        position: absolute;
        top: 5px;
        display: box;
        overflow: hidden;
        max-height: 80%;
        vertical-align: middle;
    }

    ul.dropdown-menu {
        background: $grey_light;

        li {
            a {
                color: $grey_dark;

                &:hover {
                  background-color: $grey_light;
                  color: $grey_light;
                }

                .divider {
                    background-color: $grey_dark;
                }
            }
        }
    }
}

/*              */
/*TableofContent*/
/*              */
#TableOfContents {
    position: fixed;
    top: 215px;
    overflow: hidden;

    ul {
        list-style: none;

        a{
            color: $links !important;
            display: block;
            overflow: hidden;
            width: 100%;
        }

        li.active > a {
            border-left: $links solid 2px;
            background-color: transparent;
        }

        li ul {
            padding-left: 5%;
            margin-left: 0;
        }
    }
}

/*              */
/*   Content    */
/*              */
#monax-page h1.title {
    text-align: center;
    font-size: 42px;
}

#monax-page #main-content {
    .video-wrap {
        width: 100%;
        padding-bottom: 3em;
        padding-top: 3em;
        margin: auto;
        text-align: center;

        iframe {
            width: 685px;
            height: 385px;
        }
    }

    img {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    pre {
        background-color: $grey_dark;

        code {
            color: $white;
        }
    }

    p {
        a.action-big {
            width: 75%;
            margin: 1.5em auto 0 auto;
            text-align: center;
            background: $purple_light;
            color: $white;
            padding: 1.5em;
            display: block;
        }
    }

    .edit-me {
        width: 100%;
        display: block;
        padding: 1.6em 0 1.6em 0;
        text-align: center;
    }
}

/*              */
/*    Footer    */
/*              */
footer {
    width: 100%;

    p {
        text-align: center;
    }
}




// -----------------------------
// /* Bootstrap Addons */
// .btn-dark {
//     color:white;
//     background-color: rgba(30,30,30, 0.8);
//     border-color: black;
// }

// .btn-dark:hover,
// .btn-dark:focus,
// .btn-dark:active {
//     color: black;
//     background-color: aliceblue;
//     border-color: black;
// }

// .btn-info:hover, .btn-primary:hover, .btn-success:hover {
//     background: aliceblue;
// }

// /*              */
// /*   General    */
// /*              */
// body {
//   padding-top: 60px;
//   background-color: white;
//   background-position: 0% 0%;
//   background-repeat: repeat-y;
//   background-attachment: fixed;
//   background-size: 100%;
//   font-family: 'Open Sans', sans-serif;
//   position: relative;
// }

// code {
//   color: $code;
//   background-color: $code_back;
// }

// a {
//   color: $khacki;
// }

// p {
//   font-size: 1.2em;
//   line-height: 1.4em;
//   text-align: left;
//   padding-bottom: 1em;
// }

// li a {
//   color: $khacki;
// }

// p a {
//   color: $khacki;
// }

// a:hover {
//   color: $khacki_dark;
//   text-decoration: none;
// }

// .page-header {
//   margin-top: 1.5em;
//   padding-top: 1.5em;
//   font-weight: bold;
//   text-align: center;
// }

// .content img {
//   text-align: center;
//   margin-left: 10%;
//   margin-bottom: 28px;
//   max-width: 80%;
// }

// .row {
//   max-width: 100%;
// }

// /*              */
// /*   Sidebar    */
// /*              */
// aside {
//   position: fixed !important;
//   left: 0;
//   top: 185px;
// }

// aside h4 {
//   color: $khacki;
//   font-size: 1.5em;
//   padding: 15px 15px 15px 0;
// }

// aside p {
//   font-size: 14px;
// }

// aside img.sidebar-gravatar {
//   max-width: 40%;
//   padding-right: 10px;
// }


//   Content
// /*              */
// article {
//   color: $article_color;
// }

// #content-block {
//   padding-bottom: 400px;
// }

// #content-block img {
//   max-width: 50%;
// }

// .content-image {
//   text-align: center;
//   margin: auto;
// }



// .pagination-meta {
//   margin-bottom: 100px;
// }

// .next-entry {
//   text-align: right;
// }

// .post-content .thumbnail {
//   float: left;
//   max-width: 20%;
//   margin-right: 14px;
// }

// article h1, h2, h3, h4, h5, h6 {
//   margin-top: 36px;
//   margin-bottom: 24px;
// }

// article.content p:first-child {
//   margin-top: 36px;
// }

// .post-meta p {
//   font-size: 14px;
// }

// /*              */
// /*    Footer    */
// /*              */
// footer {
//   background: $dark_back;
//   padding: 25px 0 12px 0;
//   width: 100%;
// }

// footer p {
//   text-align: center;
//   font-size: 12px;
// }

// /*              */
// /*     Nuke     */
// /*              */
// .make-monax-green {
//   color: $monax;
// }

// .make-white {
//   color: $white;
// }

// /*              */
// /*   BreakPts   */
// /*              */

// /* Above mobile */
// @media (min-width: 781px) {

// }

// /* Above tablet   */
// @media (min-width: 921px) {

// }

// /* Tablet */
// @media (max-width: 920px) {

// }

// /* Mobile */
// @media (max-width: 780px) {
//   #main-content {
//     .video-wrap {
//       width: 100%;
//       padding-bottom: 3em;
//       padding-top: 3em;
//       margin: auto;
//       text-align: center;

//       iframe {
//         width: 100%;
//         height: 100%;
//       }
//     }
//   }
// }
