/*              */
/*   Globals    */
/*              */
@import "bootstrap.min";
@import "font-awesome.min";
@import "prism-okaidia";
@import "fonts";
@import "colors";
@import "functions"; // Add helper functions
@import "functions-flexboxes"; // Add flexbox helper functions


html, body {
    height: 100%;
    width: 100%;
    letter-spacing: 0.5px;
}

body {
    font-family: $font_body, sans-serif;
    line-height: 1.6;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_header, sans-serif;
}

p {
    font-size: 1.2em;
    font-weight: 500;
}

a {
    color: $links;
    font-weight: 900;
}

a:hover {
    color: $links_hover;
}

.modal {
    z-index: 9999999;
}

/*              */
/*     Nav      */
/*              */
nav.navbar {
    padding: 0 !important;
    margin: 0 !important;
    background: transparent;
    z-index: 999999;
    font-size: 1.3em;

    @media (min-width: 979px) {
        ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
    }

    #nav-logo {
        position: relative;
        display: box;
        overflow: hidden;
        top: -2px;
        max-height: 120%;
        vertical-align: middle;
    }

    #search-reveal {
        display: inline-block;
        width: auto;
        float: right;
        padding-bottom: 17px;
        position: relative;
        top: 2px;
        @include transition(padding 0.3s);
        
        // flex on mobile
        @include responsive (breakpoint) {
            span,
            & {
                float: none !important;
                @include flex(0, 1, auto);
                position: static;
            }
        }
        
        &[aria-expanded="true"] {
            padding-left: 0;
            // preserve padding on mobile
            @include responsive (breakpoint) { padding-left: 15px; padding-right: 2px; }
        }

        span.pull-right {
            margin-left: 0;
        }
    }

    #search {
        float: left;
        width: auto;
        margin: 8px;
        // flex width on mobile
        @include responsive (breakpoint) { 
            @include flex(1, 1, auto);
            margin-right: 15px;
            margin-top: 4px;
        }

        &:focus {
            box-shadow: 0 0 5px $monax;
            border: 1px solid $monax;
        }  
    }
    
    li.dropdown {
        // Animate height on mobile
        @include responsive (breakpoint) {
            max-height: 40px;
            overflow: hidden;
            @include transition(max-height 1s);
            @include transition-timing-function(easeInCubic);
            @include flexbox;
            @include align-items; // stretch
            @include flex-wrap(wrap);
        }
        
        // L1 links
        > a {
            color: $grey_dark !important;
            background-color: transparent !important;
            @include transition(color 0.3s);
            // force wrap on mobile
            @include responsive (breakpoint) { width: 100%; }

            &:hover {
                color: $monax !important;
            }
        }
        

        &.open {
            // Animate height on mobile
            @include responsive (breakpoint) { max-height: 500px; }

            > a {
                color: $monax !important;
            }
        }

        &.open,
        &:hover {
            color: $monax;
        }
    }

    ul.dropdown-menu {
        background: $white;
        // Force flex columns on mobile
        @include responsive (breakpoint) {
            width: 100% !important;

            &:before {
                @include pseudo;
            }
        }

        li {
            // L2 links
            a {
                color: $grey_dark;

                &:hover {
                  color: $grey_dark;
                }

                .divider {
                    background-color: $grey_dark;
                }
            }
            
            // No results
            &.no-results {
                display: block;
                padding: 3px 20px;
                color: $grey_light;
                white-space: nowrap;
            }
        }
    }
}

/*              */
/*   Sidebar    */
/*              */
#monax-page aside.sidebar {
    position: fixed !important;
    top: 185px;
    overflow: hidden;

    h4 {
        font-size: 1.5em;
        padding: 15px 15px 15px 0;
    }

    p {
        font-size: 14px;
    }

    img.sidebar-gravatar {
        max-width: 40%;
        padding-right: 10px;
    }

    .follow {
        text-align: center;
    }

    #TableOfContents {
        ul {
            list-style: none;

            a{
                color: $links !important;
                display: block;
                overflow: hidden;
                width: 100%;
            }

            li.active > a {
                border-left: $links solid 2px;
                background-color: transparent;
            }

            li ul {
                padding-left: 5%;
                margin-left: 0;
            }
        }
    }
}

/*              */
/*   Content    */
/*              */
#monax-page h1.title {
    text-align: center;
    font-size: 42px;
}

#monax-page #main-content {
    padding-bottom: 400px;

    .video-wrap {
        width: 100%;
        padding-bottom: 3em;
        padding-top: 3em;
        margin: auto;
        text-align: center;

        iframe {
            width: 685px;
            height: 385px;
        }
    }

    img {
        max-width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 28px;
        text-align: center;
    }

    pre {
        background-color: $grey_dark;

        code {
            color: $white;
        }
    }

    p {
        a.action-big {
            width: 75%;
            margin: 1.5em auto 0 auto;
            text-align: center;
            background: $purple_light;
            color: $white;
            padding: 1.5em;
            display: block;
        }
    }

    .edit-me {
        width: 100%;
        display: block;
        padding: 1.6em 0 1.6em 0;
        text-align: center;
    }

    .excerpt {
        font-size: 1.4em;
    }

    .pagination-meta {
        margin-bottom: 100px;
    }

    .next-entry {
        text-align: right;
    }

    .post-content .thumbnail {
        float: left;
        max-width: 20%;
        margin-right: 14px;
    }

    .post-meta p {
        font-size: 14px;
    }
}

/*              */
/*    Footer    */
/*              */
footer {
    width: 100%;
    padding: 25px 0 12px 0;

    p {

        text-align: center;
    }
}


/*                    */
/*   Mobile Classes   */
/*                    */

.hide-desktop {
    @include responsive (breakpoint-plus) { display: none; }
}
.hide-mobile {
    @include responsive (breakpoint) { display: none; }
}



/*              */
/*   BreakPts   */
/*              */

/* Above mobile */
@media (min-width: 781px) {

}

/* Above tablet   */
@media (min-width: 921px) {

}

/* Tablet */
@media (max-width: 920px) {

}

/* Mobile */
@media (max-width: 780px) {
  #main-content {
    .video-wrap {
      width: 100%;
      padding-bottom: 3em;
      padding-top: 3em;
      margin: auto;
      text-align: center;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}






