@import "monax";

.team {
  padding-bottom: 5em;
  z-index: 1;
  margin-bottom: 5em;
  text-align: left;

  img.team-headshot {
    max-width: 100% !important;
  }

  .team-name {
    font-size: 1.2em;
    padding-top: 0.8em;
  }

  .team-title {
    font-size: 1.0em;
    line-height: 1.2em;
    color: $grey_dark;
    padding-bottom: 1.6em;
  }

  .team-links{
    padding-top: 1.6em;
    width: 100%;
    text-align: center;
  }

  .team-member {
    z-index: 1;
    margin-bottom: 1.2em;
  }

  .team-details {
    padding: 1.6em 5% 1.6em 5%;
    position: absolute;
    overflow: visible;
    z-index: 50;
    width: 120%;
    left: -10%;
    top: -1.6em;
    border-radius: 5px;
    border: 1px dotted $green_darkest;
    background: $white;
  }
}

