{{- $listOnlyNoContentPage := in .File.Path "documentation/index.md" | or (in .File.Path "tutorials/index.md") | or (in .File.Path "explainers/index.md") -}}
{{- $documentationPage := in .File.Path "documentation" -}}
{{- $tutorialsPage := in .File.Path "tutorials" -}}
{{- $explainersPage := in .File.Path "explainers" -}}
{{- $platformPage := in .File.Path "platform" -}}
{{- $libraryPage := in .File.Path "library" -}}
{{- $packagesPage := in .File.Path "packages" -}}
{{- $usesPage := in .File.Path "use_cases" -}}
{{- if $documentationPage -}}{{- $.Scratch.Set "area" "documentation" -}}
{{- else if $tutorialsPage -}}{{- $.Scratch.Set "area" "tutorials" -}}
{{- else if $explainersPage -}}{{- $.Scratch.Set "area" "explainers" -}}
{{- else if $platformPage -}}{{- $.Scratch.Set "area" "platform" -}}
{{- else if $libraryPage -}}{{- $.Scratch.Set "area" "library" -}}
{{- else if $usesPage -}}{{- $.Scratch.Set "area" "use_cases" -}}
{{- else if $packagesPage -}}{{- $.Scratch.Set "area" "packages" -}}{{- end -}}
{{- $learnPage := $documentationPage | or $tutorialsPage | or $explainersPage | or $usesPage -}}
{{- $productsPage := $platformPage | or $libraryPage | or $packagesPage -}}
{{- if $learnPage -}}{{- $.Scratch.Set "toc" true -}}{{- end -}}
{{- if $productsPage -}}{{- $.Scratch.Set "toc" true -}}{{- end -}}
{{- if not $listOnlyNoContentPage -}}{{- if $learnPage -}}{{- if in .File.Path "index.md" -}}{{- $.Scratch.Set "toc" false -}}{{- end -}}{{- end -}}{{- end -}}
{{- partial "header.html" . -}}
</head>
<body class="docs-list">
{{- partial "navigation.html" . -}}
<div class="container-fluid" id="monax-page">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 page-header">
        <header><h1 class="title" role="title">{{ .Title }}</h1></header>
    </div>
  </div>
  <div class="row">
    {{- if $listOnlyNoContentPage -}}
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="content-block">
        {{- $.Scratch.Set "toc" false -}}
        {{ partial "docs/sidebar.html" . }}
      </div><!-- .cols -->
    {{- else -}}
      <aside class="sidebar col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-2 hidden-xs hidden-sm">
        <div id="sidebar" class="nav-collapse">
          {{ partial "docs/sidebar.html" . }}
        </div>
      </aside>
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 col-lg-6 col-lg-offset-4" id="content-block">
        <h2>
          {{- if $documentationPage -}}Versions
          {{- else if $tutorialsPage -}}Tutorials
          {{- else if $explainersPage -}}Explainers
          {{- end -}}
        </h2>
        {{- if $learnPage -}}{{- partial "helpers/index-directory.html" . -}}{{- end -}}
        {{- if $documentationPage | or $productsPage | or $usesPage -}}
          {{- if $documentationPage }}<hr />{{ end -}}
          <article id="main-content">
            {{ .Content }}
          </article>
        {{- end -}}
      </div>
    {{- end -}}
  </div>
</div>
{{- partial "footer.html" . -}}
{{- partial "scripts.html" . -}}
{{- partial "analytics.html" . -}}