{{- $listOnlyNoContentPage := in .File.Path "documentation/index.md" | or (in .File.Path "tutorials/index.md") | or (in .File.Path "explainers/index.md") -}}
{{- $documentationPage := in .File.Path "documentation" -}}
{{- $tutorialsPage := in .File.Path "docs" -}}
{{- $explainersPage := in .File.Path "explainers" -}}
{{- $platformPage := in .File.Path "platform" -}}
{{- $libraryPage := in .File.Path "library" -}}
{{- $packagesPage := in .File.Path "packages" -}}
{{- $usesPage := in .File.Path "use_cases" -}}
{{- if $documentationPage -}}{{- $.Scratch.Set "area" "documentation" -}}
{{- else if $tutorialsPage -}}{{- $.Scratch.Set "area" "tutorials" -}}
{{- else if $explainersPage -}}{{- $.Scratch.Set "area" "explainers" -}}
{{- else if $platformPage -}}{{- $.Scratch.Set "area" "platform" -}}
{{- else if $libraryPage -}}{{- $.Scratch.Set "area" "library" -}}
{{- else if $usesPage -}}{{- $.Scratch.Set "area" "use_cases" -}}
{{- else if $packagesPage -}}{{- $.Scratch.Set "area" "packages" -}}{{- end -}}
{{- $learnPage := $documentationPage | or $tutorialsPage | or $explainersPage | or $usesPage -}}
{{- $productsPage := $platformPage | or $libraryPage | or $packagesPage -}}
{{- if not $documentationPage -}}{{- $.Scratch.Set "toc" true -}}{{- end -}}
{{- partial "header.html" . -}}
</head>
<body class="docs">
{{ partial "navigation.html" . }}
<div class="container-fluid" id="monax-page">
  {{ if not .Params.no_header }}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 page-header">
        <header><h1 class="title" role="title">{{ .Title }}</h1></header>
      </div><!-- .cols -->
    </div><!-- .row -->
  {{ end }}
  <div class="row">
    <aside class="sidebar col-md-2 col-lg-2 col-lg-offset-2 hidden-xs hidden-sm">
      <div id="sidebar" class="nav-collapse">
        {{ partial "docs/sidebar-no-toc.html" . }}
      </div>
    </aside>
    <article id="main-content">
      <aside class="topbar col-xs-12 col-sm-12 hidden-md hidden-lg">
        <div id="topbar" class="nav-collapse">
          {{ partial "docs/sidebar-no-toc.html" . }}
          <hr />
        </div>
      </aside>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6" id="content-block">
        {{ .Content }}
        <!-- <h4><a class="edit-me" href="https://github.com/{{ .Site.Data.sites.github_user }}/monax.io/tree/master/content/{{ .File.Path }}">Edit this page</a></h4> -->
      </div><!-- .cols -->
    </article><!-- #main-content -->
  </div><!-- .row -->
</div><!-- .container-fluid -->
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
{{ partial "analytics.html" . }}
