{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<div class="container-fluid" id="eris-page">
  {{ if not .Params.no_header }}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 page-header">
        <header><h1 class="title" role="title">{{ .Title }}</h1></header>
      </div><!-- .cols -->
    </div><!-- .row -->
  {{ end }}

  <div class="row">
    <article id="main-content">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 col-lg-6 col-lg-offset-4" id="content-block">
        {{ .Content }}
      </div><!-- .cols -->
    </article><!-- #main-content -->
  </div><!-- .row -->
</div><!-- .container-fluid -->

{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
{{ partial "tableOfContents.html" . }}
{{ partial "analytics.html" . }}