{{- partial "header.html" . -}}
</head>
<body class="blog-list">
{{- partial "navigation.html" . -}}
<div class="container-fluid" id="monax-page">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 page-header">
        <header><h1 class="title" role="title">{{ .Title }}</h1></header>
    </div>
  </div>
  <div class="row">
    {{- partial "blog/sidebar-default.html" . -}}
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6" id="content-block">
      <article class="content" id="main-content">
        {{ range .Data.Pages }}
          {{- partial "blog/li-entry_listing.html" . -}}
        {{- end -}}
      </article>
    </div>
  </div>
</div>
{{- partial "footer.html" . -}}
{{- partial "scripts.html" . -}}
</html>
</body>