<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <section class="section-top padding-top-md">
            <div class="container">
              <div class="row flex-container-md">
                  <div class="col-md-7 col-valign-center">
                      {{ with .Title }}
                        <div class="strong range-left-md">
                            <h1>{{ . | markdownify }}</h1>
                        </div>
                      {{ end }}
                      <h4 class="padding-bottom-lg range-left-md">
                        Here's a list of posts filed under the {{ .Data.Singular }} "{{ .Title }}"
                      </h4>

                      <!-- Sign up section [GLOBAL] -->
                      {{ if .Site.Data.global.taxonomies.top.hero_signup }}
                        {{ partial "_global/hero_newsletter.html" . }}
                      {{ end }}
                  </div>
              </div>
            </div> <!-- .container -->
        </section> <!-- .section -->

      <!-- Get default image -->
      {{ if .Site.Data.global.taxonomies.default_img }}
        {{ $.Scratch.Set "defaultImg" .Site.Data.global.taxonomies.default_img }}
      {{ end }}

        <div id="content">
          <div class="container">
            <div class="row padding-bottom-xl">
              <div class="col-md-9 padding-bottom-lg" id="taxonomy-list">
                {{ range $i, $p := .Paginator.Pages }}
                  <section class="post">

                      <!-- check for img override -->
                      {{ if .Params.img }}
                        {{ .Scratch.Set "postImg" .Params.img }}
                      {{ else if .Params.thumbnail }}
                        {{ .Scratch.Set "postImg" (printf "/blog/images/%d/%s" .Date.Year .Params.thumbnail) }}
                      {{ else if not (.Scratch.Get "postImg") }}
                        {{ .Scratch.Set "postImg" ($.Scratch.Get "defaultImg") }}
                      {{ end }}

                    <a href="{{ .Permalink }}" class="flex-container-sm a-card">
                    <div class="content-container content-card content-card-full content-card-shadow-xs col-flex-12">
                      <div class="flex-grid-sm">
                        <div class="col-flex-sm-4 hidden-xs">
                          <div class="img-container background-dark flex-force-fill" style='background:url({{ .Scratch.Get "postImg" }}) center center no-repeat; background-size: cover;'>
                          &nbsp;</div>
                        </div>
                        <div class="col-flex-xs-12 col-flex-sm-8 col-valign-center padding-top-sm padding-bottom-sm">
                          <div class="text-container">
                            <div class="title range-left">
                                <h5>{{ .Title }}&nbsp;&rsaquo;</h5>
                            </div>
                            <p class="subtitle range-left">
                              {{ if .Params.excerpt }}
                                {{ if gt (len .Params.excerpt) 140 }}
                                  {{ substr .Params.excerpt 0 140 }}...
                                {{ else }}
                                  {{ .Params.excerpt }}
                                {{ end }}
                              {{ else }}
                                {{ if gt (len .Summary) 140 }}
                                  {{ substr .Summary 0 140 }}...
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                              {{ end }}
                            </p>
                            {{ if .Date }}
                              {{ if gt .Date.Year 2000 }}
                                <div class="meta range-left">
                                  <p><span><i class="fa fa-calendar"></i> {{ .Date.Format .Site.Params.date_format }}</span>{{ if .Params.author }} | <span><i class="fa fa-user-o"></i> {{ .Params.author }}</span>{{ end }}</p>
                                </div>
                              {{ end }}
                            {{ end }}
                          </div>
                        </div>
                      </div>
                    </div>  <!-- .content-card -->
                    </a>

                        </section>
                        {{ end }}

                        {{ if or ($.Paginator.HasPrev) ($.Paginator.HasNext) }}
                          <div class="btn-container pagination-container" style="">
                            {{ if $.Paginator.HasPrev }}
                              <a href="{{ .Site.BaseURL }}{{ $.Paginator.Prev.URL }}" class="btn btn-primary btn-xl button-icon-circle button-prev" role="button"><i class="fa fa-arrow-left"></i></a>
                            {{ else }}
                              <a href="#" class="btn btn-primary btn-xl button-icon-circle button-prev disabled" role="button"><i class="fa fa-arrow-left"></i></a>
                            {{ end }}
                            {{ if $.Paginator.HasNext }}
                              <a href="{{ .Site.BaseURL }}{{ $.Paginator.Next.URL }}" class="btn btn-primary btn-xl button-icon-circle button-next" role="button"><i class="fa fa-arrow-right"></i></a>
                            {{ else }}
                              <a href="#" class="btn btn-primary btn-xl button-icon-circle button-next disabled" role="button"><i class="fa fa-arrow-right"></i></a>
                            {{ end }}
                          </div>
                        {{ end }}

                    </div> <!-- .col -->

                    <div class="col-md-3">
                        {{ partial "sidebar.html" . }}
                    </div> <!-- .col -->
                </div>  <!-- .row -->
            </div>  <!-- .container -->
        </div>  <!-- .#content -->

        <!-- CTA section [GLOBAL] -->
        {{ if .Site.Data.global.taxonomies.cta.enable }}
          {{ partial "_global/cta.html" . }}
        {{ end }}

        {{ partial "footer.html" . }}

    </div> <!-- .#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
