{{- partial "header.html" . -}}
</head>
<body class="wide">
{{- partial "navigation.html" . -}}
<div class="container-fluid" id="monax-page">
  {{- if not .Params.no_header -}}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 page-header">
        <header><h1 class="title" role="title">{{ .Title }}</h1></header>
      </div><!-- .cols -->
    </div><!-- .row -->
  {{- end -}}
  <div class="row">
    <article id="main-content">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="content-block">
      <!-- team -->
      <div class="team">
        <div class="row">
          {{ range $name, $human := .Site.Data.team }}
            {{ if $human.display }}
              <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                <div class="team-member">
                  <img src="/images/team/{{ $human.gravatar }}" alt="{{ $human.name }}" class="team-headshot" />
                  {{ if $human.name }}
                    <div class="team-name">{{ $human.name }}</div>
                  {{ end }}
                  {{ if $human.title }}
                    <div class="team-title">{{ $human.title }}</div>
                  {{ end }}
                  <div class="team-details hidden">
                    <!-- need to do this again else the stacking will get screwy -->
                    <img src="/images/team/{{ $human.gravatar }}" alt="{{ $human.name }}" class="team-headshot" />
                    {{ if $human.name }}
                      <div class="team-name">{{ $human.name }}</div>
                    {{ end }}
                    {{ if $human.title }}
                      <div class="team-title">{{ $human.title }}</div>
                    {{ end }}
                    {{ if $human.bio }}
                      <div class="team-bio">{{ $human.bio }}</div>
                    {{ end }}
                    <div class="team-links">
                      {{ if $human.keybase }}
                        <a href="https://keybase.io/{{ $human.keybase }}" target="_blank">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-key fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      {{ end }}
                      {{ if $human.site }}
                        <a href="{{ $human.site }}" target="_blank">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      {{ end }}
                      {{ if $human.twitter }}
                        <a href="https://twitter.com/{{ $human.twitter }}" target="_blank">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      {{ end }}
                      {{ if $human.github }}
                        <a href="https://github.com/{{ $human.github }}" target="_blank">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                      {{ end }}
                    </div><!-- .team-links -->
                  </div><!-- .team-details -->
                </div><!-- .team-member -->
              </div><!-- .cols -->
            {{ end }}
          {{ end }}
        </div><!-- .row -->
      </div>
      </div><!-- .cols -->
    </article><!-- #main-content -->
  </div><!-- .row -->
</div><!-- .container-fluid -->
{{- partial "footer.html" . -}}
{{- partial "scripts.html" . -}}
</html>
</body>
