{{ if isset .Site.Data.resources ".learn" }}
{{ if .Site.Data.resources.learn.enable }}
<section class="section.learn section-shadow-xl section-padding-lg">
    <div class="container">

              <div class="row">
                <div class="col-md-5">

                  <div class="content-container padding-bottom-sm">
                    <div class="underline-sm range-left-md">
                        <h3>{{ .Site.Data.resources.learn.title }}</h3>
                    </div>
                    <!-- <p class="range-left-md padding-bottom-sm">
                      {{ .Site.Data.resources.learn.subtitle | markdownify }}
                    </p> -->
                  </div> <!-- .content-container -->

                </div> <!-- .col -->
              </div> <!-- .row -->


              <div class="row">
                {{ range .Site.Data.resources.learn.article }}

                  <div class="col-md-4 padding-bottom-sm">
                    <div class="range-left-md">
                        <h4>{{ .title }} &rsaquo;</h4>
                    </div>
                    <p class="range-left-md">
                      {{ .subtitle | markdownify }}
                    </p>
                  </div> <!-- .col -->

                {{ end }}
              </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
