{{ if isset .Site.Data.resources "faq" }}
{{ if .Site.Data.resources.faq.enable }}
<section class="section-faq section-padding-lg">
    <div class="container">

              <div class="row">
                <div class="col-md-5">

                  <div class="content-container padding-bottom-sm">
                    <div class="underline-sm range-left-md">
                        <h3>{{ .Site.Data.resources.faq.title }}</h3>
                    </div>
                    <!-- <p class="range-left-md padding-bottom-sm">
                      {{ .Site.Data.resources.faq.subtitle | markdownify }}
                    </p> -->
                  </div> <!-- .content-container -->

                </div> <!-- .col -->
              </div> <!-- .row -->


              <div class="row">
                {{ range .Site.Data.global.faq.section }}

                  <div class="col-md-6 padding-bottom-md">
                    <div class="range-left-md padding-bottom-sm">
                        <h4>{{ .title }}</h4>
                    </div>

                    {{ range .item }}
                      <div class="range-left-md padding-bottom-xs">
                          <p style="">{{ .question }}</p>
                      </div>
                      <!--<p class="range-left-md padding-bottom-sm">
                        {{ .answer | markdownify }}
                      </p> -->
                    {{ end }}
                  </div> <!-- .col -->

                {{ end }}
              </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
