{{ if isset .Site.Data.monaxfor "top" }}
{{ if .Site.Data.monaxfor.top.enable }}
<section class="section-top padding-top-md padding-bottom-lg section-shadow-xl">
    <div class="container">

      <div class="row flex-grid-md">
          <div class="col-md-5 col-valign-center">
              <div class="underline-sm range-left-md">
                  <h1>{{ .Site.Data.monaxfor.top.title }}</h1>
              </div>
              <!-- <p class="lead range-left-md">
                {{ .Site.Data.monaxfor.top.subtitle | markdownify }}
              </p> -->
              <img class="img-responsive" src="{{ .Site.Data.monaxfor.top.img_left }}" alt="">
          </div>
          <div class="col-md-7 col-valign-center">
              <ul class="ul-icon-list">
                {{ range .Site.Data.monaxfor.top.feature }}
                <li class="padding-bottom-xs">
                  <i class="fa {{ .icon }}" aria-hidden="true"></i>
                  <h4 class="range-left">{{ .title }}</h4>
                  <p class="range-left">{{ .description }}</p>
                </li>
                {{ end }}
              </ul>
          </div>
      </div>

    </div> <!-- .container -->
</section> <!-- .section -->
{{ end }}
{{ end }}
