{{ with .Site.Data.global.cta }}
<section class="section-cta section-padding-xl background-dark">
  <div class="container">

    <div class="row flex-grid-md">
      <div class="col-md-12">

        <div class="underline-sm">
            <h2>{{ .title }}</h2>
        </div>

        {{ with .form }}

        <div class="form-container padding-bottom-md">
          <form id="main-cta-section" class="form-main-cta">
              <input type="text" name="source" value="main cta" class="hidden">            
              <div class="content-container padding-bottom-sm">
                <p>
                  I'm working in the
                  <span class="label-container">
                    <label for="userIndustry" class="select-wrap">
                      <select id="userIndustry" name="industry" class="form-control resizeselect">
                        {{ range $i, $p := sort .industry_options }}
                          {{ if eq $i 0 }}
                            <option selected="">{{ . }}</option>
                          {{ else }}
                            <option>{{ . }}</option>
                          {{ end }}
                        {{ end }}
                      </select>
                    </label>
                  </span>
                </p>
                <p>
                  and I
                  <label for="userFrequency" class="select-wrap">
                    <select id="userFrequency" name="frequency" class="form-control resizeselect">
                      {{ range $i, $p := .usage_options }}
                        {{ if eq $i 1 }}
                          <option selected="">{{ . }}</option>
                        {{ else }}
                          <option>{{ . }}</option>
                        {{ end }}
                      {{ end }}
                    </select>
                  </label>
                </p>
                <p>
                  a contract management platform, needing to make
                  <label for="userAgreementsType" class="select-wrap">
                    <select id="userAgreementsType" name="agreementsType" class="form-control resizeselect">
                      {{ range $i, $p := sort .agreement_options }}
                        {{ if eq $i 0 }}
                          <option selected="">{{ . }}</option>
                        {{ else }}
                          <option>{{ . }}</option>
                        {{ end }}
                      {{ end }}
                    </select>
                  </label>
                </p>
                  <!-- ENABLE ONCE BETA IS LIVE
                  and we need to make
                  <span class="label-container">
                    <label for="userAgreementsType" class="select-wrap">
                      <select id="userAgreementsType" name="agreementsType" class="form-control resizeselect">
                        {{ range $i, $p := sort .agreement_options }}
                          {{ if eq $i 0 }}
                            <option selected="">{{ . }}</option>
                          {{ else }}
                            <option>{{ . }}</option>
                          {{ end }}
                        {{ end }}
                      </select>
                    </label>
                  </span>
                </p>
                <p>
                  typically
                  <span class="label-container">
                    <label for="userFrequency" class="select-wrap">
                      <select id="userFrequency" name="frequency" class="form-control resizeselect">
                        {{ range $i, $p := .frequency_options }}
                          {{ if eq $i 1 }}
                            <option selected="">{{ . }}</option>
                          {{ else }}
                            <option>{{ . }}</option>
                          {{ end }}
                        {{ end }}
                      </select>
                    </label>
                  </span>
                </p>
              </div> -->

              <div class="btn-container" style="">
                <button type="submit" class="btn btn-primary btn-xl" role="button">{{ .submit_button_text }}</button>
                {{ if .enable_button_two }}
                  {{ if .show_button_separator }}
                    <span class="button-divider">or</span>
                  {{ end }}
                  <a href="{{ .button_two_url }}" class="btn btn-primary btn-xl" role="button">{{ .button_two_text }}</a>
                {{ end }}
              </div>

          </form>
        </div> <!-- .form-container -->

        {{ end }}

      </div> <!-- .col -->
    </div> <!-- .row -->

  </div> <!-- .container -->
</section>

{{ end }}
