<section class="section-cta section-padding-xl background-dark">
    <div class="container">

      <div class="row flex-grid-md">

        <div class="col-md-12">

          <div class="underline-sm">
              <h2>{{ .Site.Data.global.sections.cta.title }}</h2>
          </div>

          <!-- <p class="padding-bottom-md">
            {{ .Site.Data.global.sections.cta.subtitle | markdownify }}
          </p> -->
          <div class="form-container padding-bottom-md">
            <div class="onboarding__form onboarding-information form--details">
  							<p>I'm a <span id="jobTitle" contenteditable="true" class="onboarding-information__input input-fake" data-default="Job Title" data-associated-input="#input-job-title"></span> at <span id="companyName" contenteditable="true" class="onboarding-information__input input-fake" data-default="Company Name" data-associated-input="#input-company-name"></span></p>
  							<p>We're a(n)
  								<span class="onboarding-select-wrapper" id="industryActive">
  									<select id="userIndustry" name="industry" class="form-control onboarding-information__select select-needs-sizing" data-associated-select="#select-industry-sizer">
  											<option value="" disabled="" selected="">Industry</option>
  											<option>Advertising</option>
  											<option>Aerospace/Defense</option>
  											<option>Agency</option>
  											<option>Agriculture</option>
  											<option>Auto</option>
  											<option>CPG</option>
  											<option>Education</option>
  											<option>Energy and Utilities</option>
  											<option>Entertainment</option>
  											<option>Financial Services</option>
  											<option>Government / Nonprofits</option>
  											<option>Health and Sciences</option>
  											<option>Industrials</option>
  											<option>Insurance (excluding Health)</option>
  											<option>Legal Services / Consulting</option>
  											<option>Other</option>
  											<option>Publisher</option>
  											<option>Real Estate and Construction</option>
  											<option>Recruiting</option>
  											<option>Retail, Fashion, Office and global</option>
  											<option>Sports</option>
  											<option>Support Services</option>
  											<option>Technology</option>
  											<option>Telecommunications</option>
  											<option>Textiles</option>
  											<option>Transportation and Logistics</option>
  											<option>Travel and Hospitality</option>
  											<option>QSR</option>
  									</select>
  								</span>
  								<!-- <select id="select-industry-sizer" name="industry-sizer" class="form-control onboarding-information__select" style="visibility: hidden; position: absolute; width: auto;">
  									<option value=""></option>
  								</select> -->
  							 <!-- company located in <span id="userCity" contenteditable="true" class="onboarding-information__input input-fake" data-default="City" data-associated-input="#input-city"></span><input type="text" id="input-city" placeholder="City" autocomplete="off">.</p> -->
  							 company located in <span id="userCity" contenteditable="true" class="onboarding-information__input input-fake" data-default="City" data-associated-input="#input-city"></span>.</p>
  						</div>
            </div>

          <div class="btn-container" style="">
            <a href="{{.Site.Data.global.sections.cta.button_url}}" class="btn btn-primary btn-xl " role="button">{{ .Site.Data.global.sections.cta.button_text }}</a>
            <a href="{{.Site.Data.global.sections.cta.button_url}}" class="btn btn-primary btn-xl " role="button">Request a demo</a>
          </div>

        </div> <!-- .col -->

      </div> <!-- .row -->

    </div> <!-- .container -->
</section>
