{{ with .Site.Data.global.cta_two_button }}
<section class="section-cta padding-top-lg padding-bottom-lg">
  <div class="container">

    <div class="row flex-grid-md">
      <div class="col-md-12 cta-options-container">

        {{ with .title }}
        <div class="padding-bottom-sm">
            <h2>{{ . | markdownify }}</h2>
        </div>
        {{ end }}

        <div id="cta-options" class="btn-container padding-bottom-sm" style="">
          {{ if .enable_button_one }}
            <a {{ if .button_one_trigger_form }} id="cta-trigger-webinar-form" {{ else }} href="{{ .button_one_url }}" {{ end }} class="btn btn-primary btn-xl {{ if .button_one_style_outline }}btn-outline{{ end }}" onClick="" role="button">{{ .button_one_text }}</a>
          {{ end }}
          {{ if .show_button_separator }}
            <span class="button-divider grey">or</span>
          {{ end }}
          {{ if .enable_button_two }}
            <a {{ if .button_two_trigger_form }} id="cta-trigger-demo-form" {{ else }} href="{{ .button_two_url }}" {{ end }} class="btn btn-primary btn-xl" onClick="" role="button">{{ .button_two_text }}</a>
          {{ end }}
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="success-message-container"> <!-- must be directly after form -->
              <div class="success-message">
                <img class="success-doug-img" src="/img/assets/doug/doug_lo.png" alt="Doug">
                <span class="success-text">Requested <i class="fa fa-check"></i></span>
              </div>
              <p class="success-info" style="margin-top: 20px;">Thanks for getting in touch! We'll get back to you soon.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            {{ with .form_one }}
            {{ if .enable }}

            <form id="cta-webinar-signup" class="form form-white" style="display: none;">
              {{ with .source }}
                <input type="text" name="source" value="{{ . }}" class="hidden">
              {{ end }}
              {{ with .email }}
                <input type="text" placeholder="Email" name="email" class="field-email">
              {{ end }}
              {{ if or .fname .lname }}
                <div class="content-container clearfix">
                  {{ with .fname }}
                    <input type="text" placeholder="First Name" name="firstName" class="input-half field-fname">
                  {{ end }}
                  {{ with .lname }}
                    <input type="text" placeholder="Last Name" name="lastName" class="input-half field-lname">
                  {{ end }}
                </div>
              {{ end }}
              {{ with .company_name }}
                <input type="text" placeholder="Company Name" name="company" class="field-company">
              {{ end }}
              <div class="btn-container padding-top-sm">
                <!-- Calendly block -->
                <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
                <button type="submit" value="Submit" class="btn btn-xl field-submit" onclick="">
                  <span>{{ .submit_text | default "Submit" }}</span>
                </button>
              </div>
            </form>

            {{ end }}
            {{ end }}

            {{ with .form_two }}
            {{ if .enable }}

            <form id="cta-request-demo" class="form form-white" style="display: none;">
              {{ with .source }}
                <input type="text" name="source" value="{{ . }}" class="hidden">
              {{ end }}
              {{ with .demo_signup }}
                <input type="text" name="requestDemo" value="{{ . }}" class="hidden">
              {{ end }}
              {{ with .email }}
                <input type="text" placeholder="Email" name="email" class="field-email">
              {{ end }}
              {{ if or .fname .lname }}
                <div class="content-container clearfix">
                  {{ with .fname }}
                    <input type="text" placeholder="First Name" name="firstName" class="input-half field-fname">
                  {{ end }}
                  {{ with .lname }}
                    <input type="text" placeholder="Last Name" name="lastName" class="input-half field-lname">
                  {{ end }}
                </div>
              {{ end }}
              {{ with .company_name }}
                <input type="text" placeholder="Company Name" name="company" class="field-company">
              {{ end }}
              <div class="btn-container padding-top-sm">
                <button type="submit" value="Submit" class="btn btn-xl field-submit">
                  <span>{{ .submit_text | default "Submit" | markdownify }}</span>
                </button>
              </div>
            </form>

            {{ end }}
            {{ end }}

          </div>
        </div>

      </div> <!-- .col -->
    </div> <!-- .row -->

  </div> <!-- .container -->
</section>
{{ end }}
