<div class="signup-container signup-footer">
  <form id="footer-newsletter-form" class="col-valign-center flex-grid">
    <input type="text" name="source" value="footer signup" class="hidden">
    <input type="text" name="subscribeOnly" value="true" class="hidden">
    <input type="text" placeholder="Email" name="email" type="email" class="field-email" required>
    <button type="submit" value="Submit" class="btn field-submit">
      <span>Subscribe to updates</span>
    </button>
  </form>
</div>
