<div class="signup-container signup-short">
  <div class="row">
    <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2">
      <form id="hero-signup-form" class="col-valign-center flex-grid">
        <input type="text" name="source" value="hero signup" class="hidden">
        <input type="text" id="hero-signup-email" placeholder="Email" name="email" class="field-email" type="email" required><button type="submit" id="hero-signup-submit" value="Submit" class="btn field-submit"><span>Request a demo</span></button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2">
      <div class="success-message-container"> <!-- must be directly after form -->
        <div class="success-message">
          <img class="success-doug-img" src="/img/assets/doug/doug_lo.png" alt="Doug">
          <span class="success-text">Requested <i class="fa fa-check"></i></span>
        </div>
        <p class="success-info range-left-md" style="margin-top: 20px;">Thanks for getting in touch! We'll get back to you soon.</p>
      </div>
    </div>
  </div>
</div>
