<div class="signup-container flex-grid">
  <form action="https://analytics.monax.io/monaxioregistry" id="hero-newsletter-form" class="col-valign-center flex-grid">
    <input type="text" name="source" value="hero signup" class="hidden">
    <input type="text" name="fname" value="Anonymous" class="hidden">
    <input type="text" name="lname" value="User" class="hidden">
    <input type="text" name="subscribe_only" value="true" class="hidden">
    <input type="text" placeholder="Email" name="email" type="email" class="field-email" required>
    <button type="submit" value="Submit" class="btn field-submit">
      <span>Suscribe to updates</span>
    </button>
  </form>
</div>
