{{ with .Site.Data.company.pressfeatures }}
{{ if .enable }}
<section class="section-past section-padding-lg background-grey">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
            <div class="underline-sm">
                <h3>{{ .title }}</h3>
            </div>
        </div>
      </div>

      <div class="row content-container flex-grid-sm padding-bottom-md">
        {{ range $i, $p := .article }}

          {{ if (modBool $i 4) }} <!-- paginate after 3 entries -->
      </div>
      <div class="row content-container flex-grid-sm padding-bottom-md">
          {{ end }}

          <div class="col-sm-3 flex-grid-sm">
            <a href="{{ .link_url }}" class="flex-grid-sm a-card">
            <div class="content-container content-card content-card-stack content-card-shadow-sm">
              <div class="img-container background-dark" style="background-image:url({{ .img }}); background-position: center center; background-repeat: no-repeat; background-size: contain;">
              </div>
              <div class="text-container">
                <div class="title range-left">
                  <h5>{{ .title }} &rsaquo;</h5>
                </div>
                <p class="subtitle range-left">
                  {{ .summary }}
                </p>
                <div class="meta range-left">
                  <p><span><i class="fa fa-calendar"></i> {{ .published_date }}</span></p>
                </div>
              </div>
            </div>  <!-- .content-card -->
            </a>
          </div>  <!-- .col -->
        {{ end }}
      </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
