/*              */
/*   General    */
/*              */
body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.2em;
  line-height: 1.4em;
}

a {
  color: #8c663f;
}

a:hover {
  color: #694c2f;
  text-decoration: none;
}

code {
  color: #5d442a;
  background-color: #e4d4c4;
}

/*              */
/*     Nav      */
/*              */
.navbar-fixed-top {
  padding: 0.5em 0 0.5em 0;
  font-weight: normal;
  font-size: 14px;
}

nav.navbar-inverse {
  background: #080808;
}

nav a {
  text-transform: lowercase;
  color: #fff !important;
}

nav a:hover {
  color: #9d9d9d !important;
}

nav .navbar-brand img {
  position: absolute;
  top: 0;
  padding-top: 0.5em;
}

nav li.active a {
  background: #222 !important;
}

nav ul.dropdown-menu {
  background: #080808;
}

nav ul.dropdown-menu li a {
  color: #fff;
}

nav ul.dropdown-menu li a:hover {
  background-color: #222;
  color: #9d9d9d;
}

nav ul.dropdown-menu li.divider {
  background-color: #333;
}

/*              */
/*     Home     */
/*              */
article.top-line p.strapline {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

article.top-line .tagline {
  padding-top: 1.5em;
}

article.step p.step-major {
  font-size: 1.6em;
  font-weight: bold;
}

article.step p.step-sub {
  font-size: 1rem;
  display: block;
  max-width: 15em;
}

article.step p.sub-right {
  float: right;
}

ul.eris-components {
  padding-top: 3em;
}

/*              */
/*     About    */
/*              */
.page-header {
  margin-top: 1.5em;
  padding-top: 1.5em;
  font-style: bold;
  text-transform: capitalize;
}

.default-content {
  background-color: white;
  position: relative;
  font-weight: normal;
}

.about-content p{
  text-align: left;
}

.about-content h3{
  color: #222;
  font-size: 1.6em;
  text-transform: capitalize;
}

/*              */
/*     Team     */
/*              */
.team {
  background-color: black;
  padding-bottom: 5em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.team h2 {
  color: white;
}

.team-headshot {
  width: 100%;
}

.team-name{
  color: white;
  font-size: 1.2em;
  padding-top: 0.8em;
  text-align: left;
}

.team-title{
  font-size: 1.0em;
  line-height: 1.2em;
  text-align: left;
  color: #999;
}

/*              */
/*     Footer   */
/*              */
.mainfooter .erislogo {
  left: 51%;
}

.mainfooter .erismascot {
  top: -56px;
}