{{- $files := readDir .Params.path -}}
{{- $urlpath := replace .Params.path "content/" "" -}}
{{- $indexfile := .Params.index_file -}}
<ul id="docs-list" class="nav nav-pills nav-stacked" >
  {{- range sort $files "Name" "desc" -}}
    {{- if ne .Name "index.md" -}}
      {{- $name := replace .Name ".md" "" -}}
      <li class="docs-list-entry" ><a href="{{ $.Site.BaseURL }}{{ $urlpath }}{{ $name | relURL }}{{ with $indexfile }}/{{ . }}{{ end }}"> {{ $name }}</a></li>
    {{- end -}}
  {{- end -}}
</ul>