{{ with .Site.Data.entrepreneurs.bullets }}
{{ if .enable }}
  <section class="section-feature padding-top-lg">
      <div class="container">
            <div class="row">
              {{ range $i, $p := .section }}

                {{ if (modBool $i 2) }} <!-- new row after 2 entries -->
                  <div class="clearfix visible-lg-block visible-md-block"></div>
                {{ end }}

              <div class="col-md-6 padding-bottom-lg">
                {{ with .title }}
                  <div class="strong range-left-md">
                    <h3>{{ . | markdownify }}</h3>
                  </div>
                {{ end }}
                {{ with .text }}
                  <p class="p1 padding-bottom-sm range-left-md">
                    {{ . | markdownify }}
                  </p>
                {{ end }}
                <div class="row flex-container-sm content-container bullets-list">
                  <div class="col-sm-4 col-xs-5 col-valign-center">
                    <div class="img-container">
                      <img class="img-responsive img-right img-bullets-icon" src="{{ .img_src }}" alt="">
                    </div>
                  </div>
                  <div class="col-sm-8 col-xs-7 col-valign-center">
                      <ul class="ul-no-list">
                        {{ range .bullets_list }}
                        <li><p class="p2 range-left">{{ . }}</p></li>
                        {{ end }}
                      </ul>
                  </div>
                </div>
              </div> <!-- .col -->
              {{ end }}
            </div>  <!-- .row -->

      </div> <!-- .container -->
  </section> <!-- .section -->
{{ end }}
{{ end }}
