{{ if isset .Site.Data.about "mission" }}
{{ if .Site.Data.about.mission.enable }}
<section class="section-mission section-padding-lg background-dark">
    <div class="container">

      <div class="row">

        <div class="col-md-12">
            <div class="underline-sm">
                <h2>{{ .Site.Data.about.mission.title }}</h2>
            </div>

            <p class="lead text-center">
              {{ .Site.Data.about.mission.subtitle | markdownify }}
            </p>

        </div>
      </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
