{{ if isset .Site.Data.company "about" }}
{{ if .Site.Data.company.about.enable }}
<section class="section-about section-padding-lg">
    <div class="container">

        <div class="row">
          <div class="col-md-5 padding-top-sm">

            <div class="content-container padding-bottom-md">
              <div class="underline-sm range-left-md">
                  <h3>{{ .Site.Data.company.about.title }}</h3>
              </div>
              <p class="range-left-md padding-bottom-sm">
                {{ .Site.Data.company.about.subtitle | markdownify }}
              </p>
              <ul class="ul-round-icons">
                {{ range .Site.Data.company.about.social_icon }}
                  <a href="{{ .link }}"><li><i class='fa {{ .icon }}'></i></li></a>
                {{ end }}
              </ul>
            </div> <!-- .content-container -->

            <div class="content-container padding-bottom-md">
              <div class="underline-sm range-left-md">
                  <h3>{{ .Site.Data.company.about.partnerships.title }}</h3>
              </div>
              <p class="padding-bottom-sm range-left-md">
                {{ .Site.Data.company.about.partnerships.subtitle | markdownify }}
              </p>
              <div class="row row-partnerships flex-grid-md" style="width:100%;">
                {{ range $i, $p := .Site.Data.company.about.partnerships.logo }}
                  {{if eq $i 3}} <!-- 4th entry -->
                  </div> <!-- start new row -->
                  <div class="row row-partnerships flex-grid-md" style="width:100%;">
                    <div class="col-xs-4 padding-bottom-sm col-valign-center">
                      <a href="{{ .link }}" title="{{ .name }}">
                        <img class="img-responsive img-center" src="{{ .logo }}" alt="{{ .name }}">
                      </a>
                    </div>
                  {{ else }} <!-- normal row -->
                    <div class="col-xs-4 padding-bottom-sm col-valign-center">
                      <a href="{{ .link }}" title="{{ .name }}">
                        <img class="img-responsive img-center" src="{{ .logo }}" alt="{{ .name }}">
                      </a>
                    </div>
                  {{ end }}
                {{ end }}
              </div> <!-- .row -->
            </div> <!-- .content-container -->

          </div> <!-- .col -->
          <div class="col-md-7">

            {{ if isset .Site.Data.company.about.history "item" }}
            <div class="timeline">
              {{ range .Site.Data.company.about.history.item }}
              <div class="entry">
                <div class="title">
                  <h3>{{ .date }}</h3>
                  <p>{{ .title }}</p>
                </div>
                <div class="body">
                  <p>{{ .highlight }}</p>
                  <ul>
                    {{ range .bullets }}
                    <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                </div>
              </div>
              {{ end }}
            </div>
            {{ end }}





          </div> <!-- .col -->
        </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
