{{ if isset .Site.Data.company "cta" }}
{{ if .Site.Data.company.cta.enable }}
<section class="section-cta section-padding-xl background-dark">
    <div class="container">

      <div class="row flex-grid-md">

        <div class="col-md-12">

          <div class="underline-sm">
              <h2>{{ .Site.Data.company.cta.title }}</h2>
          </div>

          <p class="padding-bottom-md">
            {{ .Site.Data.company.cta.subtitle | markdownify }}
          </p>

          <div class="btn-container" style="">
            <a href="{{.Site.Data.company.cta.button_url}}" class="btn btn-primary btn-xl" role="button">{{ .Site.Data.company.cta.button_text }}</a>
          </div>

        </div> <!-- .col -->

      </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
