{{ if isset .Site.Data.company "team" }}
{{ if .Site.Data.company.team.enable }}
<section class="section-team section-padding-lg">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="underline-sm">
              <h2>{{ .Site.Data.company.team.title }}</h2>
          </div>
          <p class="padding-bottom-md">
            {{ .Site.Data.company.team.subtitle | markdownify }}
          </p>
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row">
        {{ range .Site.Data.company.team.item }}
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 padding-bottom-md">
            <img class="img-responsive img-center" src="{{ .img }}" alt="">
          <div class="">
              <h5 style="margin-bottom:2px;">{{ .name }}</h5>
              <p>{{ .position }}</p>
          </div>
          <div class="ul-center flex-grid-xs">
            <ul class="ul-round-icons ul-team-icons">
              {{ with .twitter}}
                <a href="{{ . }}"><li><i class='fa fa-twitter'></i></li></a>
              {{ end }}
              {{ with .linkedin}}
                <a href="{{ . }}"><li><i class='fa fa-linkedin'></i></li></a>
              {{ end }}
              {{ with .github}}
                <a href="{{ . }}"><li><i class='fa fa-github'></i></li></a>
              {{ end }}
            </ul>
          </div>
        </div> <!-- .col -->
        {{ end }}
      </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
