{{ if isset .Site.Data.features "summary" }}
{{ if .Site.Data.features.summary.enable }}
<section class="section-summary padding-top-md padding-bottom-lg section-shadow-xl">
    <div class="container">

<!--
      <div class="row">
        <div class="col-md-12">
            <div class="underline-sm">
                <h2>{{ .Site.Data.features.summary.title }}</h2>
            </div>
            <p class="lead text-center">
              {{ .Site.Data.features.summary.subtitle | markdownify }}
            </p>
        </div>
      </div>

      <div class="row flex-grid-md">
        <div class="col-md-5 col-valign-center">
          <img class="img-responsive" src="{{ .Site.Data.features.summary.img_left }}" alt="">
        </div>
        <div class="col-md-7">
            <ul class="ul-icon-list">
              {{ range .Site.Data.features.summary.feature }}
              <li class="padding-bottom-xs">
                <i class="fa {{ .icon }}" aria-hidden="true"></i>
                <h4 class="range-left">{{ .title }}</h4>
                <p class="range-left">{{ .description }}</p>
              </li>
              {{ end }}
            </ul>
        </div>

      </div> -->


      <div class="row flex-grid-md">
          <div class="col-md-5 col-valign-center">
              <div class="underline-sm range-left-md">
                  <h1>{{ .Site.Data.features.summary.title }}</h1>
              </div>
              <!-- <p class="lead range-left-md">
                {{ .Site.Data.features.summary.subtitle | markdownify }}
              </p> -->
              <img class="img-responsive" src="{{ .Site.Data.features.summary.img_left }}" alt="">
          </div>
          <div class="col-md-7 col-valign-center">
              <ul class="ul-icon-list">
                {{ range .Site.Data.features.summary.feature }}
                <li class="padding-bottom-xs">
                  <i class="fa {{ .icon }}" aria-hidden="true"></i>
                  <h4 class="range-left">{{ .title }}</h4>
                  <p class="range-left">{{ .description }}</p>
                </li>
                {{ end }}
              </ul>
          </div>
      </div>





    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
