<footer id="footer" class="section-footer">
    <div class="container">

      <div class="row">

        {{ if isset .Site.Data.footer "about" }}
        {{ if .Site.Data.footer.about.enable }}

        <div class="col-md-3 col-sm-6">
          <div class="content-container padding-bottom-sm padding-top-xs">
            <a href="{{ .Site.Params.baseurl }}" title="{{ .Site.Params.title }}">
              <img id="footer-logo" class="img-responsive img-left-sm" src="{{ .Site.Data.footer.about.footer_logo }}" alt="{{ .Site.Params.title }}">
            </a>
          </div>
          <!-- <div class="range-left-sm">
            <h4>{{ .Site.Data.footer.about.title }}</h4>
          </div> -->
          <p class="range-left-sm">
            {{ .Site.Data.footer.about.subtitle | markdownify }}
          </p>

          <div class="ul-left-sm flex-grid-xs">
            <ul class="ul-round-icons ul-footer-icons">
              {{ range .Site.Data.footer.about.social_icon }}
                <a href="{{ .link }}"><li><i class='fa {{ .icon }}'></i></li></a>
              {{ end }}
            </ul>
          </div>

          <hr class="hidden-md hidden-lg hidden-sm">
        </div>  <!-- .col -->

        {{ end }}
        {{ end }}

        {{ if isset .Site.Data.footer "address" }}
        {{ if .Site.Data.footer.address.enable }}

        <div class="col-md-3 col-sm-6">
          <div class="range-left-sm">
            <h4>{{ .Site.Data.footer.address.title }}</h4>
          </div>
          <p class="range-left-sm">
            {{ .Site.Data.footer.address.line1 }}<br>
            {{ .Site.Data.footer.address.line2 }}<br>
            {{ .Site.Data.footer.address.line3 }}<br>
            {{ .Site.Data.footer.address.line4 }}<br>
            {{ .Site.Data.footer.address.line5 }}<br>
          </p>
          <hr class="hidden-md hidden-lg hidden-sm">
        </div>  <!-- .col -->

        {{ end }}
        {{ end }}

        <div class="clearfix visible-sm-block"></div>

        {{ if isset .Site.Data.footer "col_3" }}
        {{ if .Site.Data.footer.col_3.enable }}

        <div class="col-md-3 col-sm-6">
          <div class="range-left-sm">
            <h4>{{ .Site.Data.footer.col_3.title }}</h4>
          </div>
          <p class="range-left-sm">
            {{ .Site.Data.footer.col_3.subtitle | markdownify }}
          </p>
          <hr class="hidden-md hidden-lg hidden-sm">
        </div>  <!-- .col -->

        {{ end }}
        {{ end }}

        {{ if isset .Site.Data.footer "col_4" }}
        {{ if .Site.Data.footer.col_4.enable }}

        <div class="col-md-3 col-sm-6">
          <div class="range-left-sm">
            <h4>{{ .Site.Data.footer.col_4.title }}</h4>
          </div>
          <p class="range-left-sm">
            {{ .Site.Data.footer.col_4.subtitle | markdownify }}
          </p>
          <hr class="hidden-md hidden-lg hidden-sm">
        </div>  <!-- .col -->

        {{ end }}
        {{ end }}

      </div> <!-- .row -->
    </div>  <!-- .container -->
</footer> <!-- .footer -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->


{{ if isset .Site.Data.footer "copyright" }}
{{ if .Site.Data.footer.copyright.enable }}

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            <p class="pull-left">
              <span>{{ .Site.Data.footer.copyright.copyright_notice | markdownify }}</span>

              {{ range .Site.Data.footer.copyright.link }}
              <span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ .link_url }}">{{ .link_title }}</a></span>
              {{ end }}
            </p>
            {{ if .Site.Data.footer.copyright.enable_attribution }}
              <p class="pull-right">
                With thanks to <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
                <!-- Not removing this link is part of the licence conditions of the template. Thanks for understanding :) -->
              </p>
            {{ end }}
        </div>
    </div>
</div> <!-- .copyright -->

{{ end }}
{{ end }}
