</div><!-- /.container-fluid -->
</div><!-- #container -->
<footer class="mainfooter">
    <a name="loc6"></a>
    <img src="/images/ei-logo-long-mobile.png" class="erislogo" />
    <ul class="linklist">
      <li><a href="https://docs.erisindustries.com/" class="act-on-this">Get Started Now!</a></li>
      <li><a href="{{ .Site.Data.sites.main.url }}/components/eriscli">Learn more about eris:cli</a></li>
      <li><a href="{{ .Site.Data.sites.main.url }}/components/erisdb">Learn more about eris:db</a></li>
      <li><a href="{{ .Site.Data.sites.main.url }}/components/epm">Learn more about eris:pm</a></li>
      <li><a href="{{ .Site.Data.sites.main.url }}/components/erislegal">Learn more about eris:legal</a></li>
      <li><a href="http://marmots.org/" target="_blank">Learn more about Cuddly Marmots</a></li>
      <li>Copyright &copy; 2014-{{ .Date.Format "2006" }} Eris Industries</li>
    </ul>
    <img src="/images/erismascot.png" class="erismascot" alt="eris industries - Solve big problems" />
</footer>
</body>
