<!-- Footer -->
<footer id="footer-home">
  <div class="container">
    <div class="row" id="home-footer-container">
      <div class="col-md-5 col-md-offset-2 text-center item item0" id="home-footer-linklist">
        <ul class="linklist">
          <li class="expander"><a href="/docs">Learn more about Ecosystem Applications</a></li>
          <li class="expander"><a href="/platform">Learn more about Our Platform</a></li>
          <li class="expander"><a href="/products">Learn more about Our Products</a></li>
          <li class="expander"><a href="http://marmots.org/" target="_blank">Learn more about Cuddly Marmots</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-center item item1" id="home-footer-doug">
        <img src="/images/logos/doug_square.svg" class="doug-home" alt="Monax - Solve *Big* Problems" />
      </div>
    </div>
    <div class="row text-center copywrite">
      <p>Copyright &copy; 2014-{{ .Date.Format "2006" }} Monax Industries</p>
    </div>
  </div>
</footer><!-- /Footer -->
</body><!-- Placed at the end of the document so the pages load faster -->