{{- $author := index .Site.Data.team "default" }}{{ if .Params.author }}{{ $author := index .Site.Data.team .Params.author }}{{ end -}}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <title>
        {{- .Site.Title | markdownify -}}
        {{- if .IsPage }}{{ if or (eq .Section "blog") (eq .Type "blog") }} | Blog{{ end }}{{ end -}}
        {{- with .Title }} | {{ . }}{{ end -}}
    </title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}icons/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}icons/favicon.ico" type="image/x-icon" />
    <link href="/css/monax.css" rel="stylesheet" >
    {{- if .Params.css }}<link rel="stylesheet" type="text/css" href='/css/{{ .Params.css }}.css' />{{ end -}}
    <link href="{{ .Site.BaseURL }}blog/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title | markdownify }}" />
    <link href="{{ .Site.BaseURL }}blog/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title | markdownify }}" />
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta name="twitter:site" content="@{{ .Site.Data.sites.twitter_user }}" />
    <meta property="og:site_name" content="{{ .Site.Title | markdownify }}" />
    {{- with .Title -}}
        <meta itemprop="name" content="{{ . | markdownify }}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ . | markdownify }}" />
        <meta name="twitter:title" content="{{ . | markdownify }}" />
    {{- else -}}
        <meta itemprop="name" content="{{ .Site.Title | markdownify }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ .Site.Title | markdownify }}" />
        <meta name="twitter:title" content="{{ .Site.Title | markdownify }}" />
    {{- end }}
    {{- if .IsPage -}}
        {{ with .Params.excerpt -}}
            <meta name="description" content="{{ . | markdownify }}" />
            <meta property="og:description" content="{{ . | markdownify }}" />
            <meta name="twitter:description" content="{{ . | markdownify }}" />
        {{- else -}}
            <meta name="description" content="{{ .Site.Data.sites.tagline | markdownify }}" />
            <meta property="og:description" content="{{ .Site.Data.sites.tagline | markdownify }}" />
            <meta name="twitter:description" content="{{ .Site.Data.sites.tagline | markdownify }}" />
        {{- end }}{{ with .Params.thumbnail -}}
            <meta name="twitter:card" content="summary_large_image" />
            <meta itemprop="image" content="{{ $.Site.BaseURL }}{{ printf "images/%d/%s" $.Date.Year . }}" />
            <meta property="og:image" content="{{ $.Site.BaseURL }}{{ printf "images/%d/%s" $.Date.Year . }}" />
            <meta name="twitter:image" content="{{ $.Site.BaseURL }}{{ printf "images/%d/%s" $.Date.Year . }}" />
        {{- else -}}
            <meta name="twitter:card" content="summary" />
            <meta itemprop="image" content="{{ .Site.BaseURL }}images/logos/monax_square_400.png" />
            <meta property="og:image" content="{{ .Site.BaseURL }}images/logos/monax_square_400.png" />
            <meta name="twitter:image" content="{{ .Site.BaseURL }}images/logos/monax_square_400.png" />
        {{- end }}{{ with $author.twitter -}}
            <meta name="twitter:creator" content="@{{ . }}">
        {{- else -}}
            <meta name="twitter:creator" content="@{{ .Site.Data.sites.twitter_user }}">
        {{- end -}}
    {{- else -}}
        <meta name="description" content="{{ .Site.Data.sites.tagline | markdownify }}" />
        <meta property="og:description" content="{{ .Site.Data.sites.tagline | markdownify }}" />
        <meta name="twitter:description" content="{{ .Site.Data.sites.tagline | markdownify }}" />
        <meta name="twitter:card" content="summary" />
        <meta itemprop="image" content="{{ .Site.BaseURL }}images/logos/monax_square_400.png" />
        <meta property="og:image" content="{{ .Site.BaseURL }}images/logos/monax_square_400.png" />
        <meta name="twitter:image" content="{{ .Site.BaseURL }}images/logos/monax_square_400.png" />
        <meta name="twitter:creator" content="@{{ .Site.Data.sites.twitter_user }}">
    {{- end -}}