  <link href="/css/home.css" rel="stylesheet" >
</head>
<body id="home-page">
  <!-- Full Page Image Header Area -->
  <div id="top" class="header">
    <div class="vert-text">
      <img src="/images/logos/monax_rect.svg" class="logo">
      <br />
      {{ range .Site.Params.home_buttons }}
        <a href="{{ .url }}" class="btn btn-default btn-lg"><i class="fa fa-fw fa-{{ .icon }}" aria-hidden="true"></i> <span class="network-name">{{ .title }}</span></a>
      {{ end }}
      </div>
    </div>
  <!-- /Full Page Image Header Area -->
