{{ if isset .Site.Data.home "usecases" }}
{{ if .Site.Data.home.usecases.enable }}

  <section class="section-usecases section-padding-xl background-color">
      <div class="container">

          <div class="row content-container content-card flex-grid-sm">
        {{ range .Site.Data.home.usecases.section }}

            <div class="col-sm-3 col-rule" href="#">

                <img class="img_left img-responsive img-center padding-bottom-xs padding-top-sm" src="{{ .img_left }}" alt="">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="title">
                        <h5>{{ .title }}</h5>
                    </div>
                    <p class="subtitle padding-bottom-sm">
                      {{ .subtitle | markdownify }}
                    </p>
                    <p><a href="#">Case Studies &rsaquo;</a></p>
                    <p><a href="#">Popular Agreements &rsaquo;</a></p>
                  </div>
                </div> <!-- .row -->

            </div>

        {{ end }}
      </div> <!-- .row -->

      </div> <!-- .container -->
  </section>

{{ end }}
{{ end }}
