<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid col-xs-12 col-sm-12 col-med-8 col-med-offset-2 col-lg-8 col-lg-offset-2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#monax-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/logos/monax_rect_200.png" alt="Monax Industries" id="nav-logo" /></a>
    </div><!-- .navbar-header -->
    <div class="collapse navbar-collapse" id="monax-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/platform/">Platform</a></li>
            <li><a href="/library/">SDKs</a></li>
            <li><a href="/packages/">Support</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Learn</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/docs/">Tutorials</a></li>
            <li><a href="/explainers/">Explainers</a></li>
            <li><a href="/use_cases/">Use Cases</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Company</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/blog">Blog</a></li>
            <!-- <li><a href="/company/mission">Vision & Mission</a></li> -->
            <li><a href="/company/team">Team</a></li>
            <li><a href="/company/jobs">Positions</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-comment hide-mobile"></span><span class="hide-desktop">Connect</span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ .Site.Data.sites.slack }}" target="_blank"><i class="fa fa-weixin"></i> Support Chatrooms</a></li>
            <li><a href="{{ .Site.Data.sites.support }}" target="_blank"><i class="fa fa-ambulance"></i> Support Forums</a></li>
            <li class="divider"></li>
            <li><a href="#" class="newsletter-signup"><i class="fa fa-newspaper-o"></i> Newsletter Signup</a></li>
            <li class="divider"></li>
            <li><a href="{{ .Site.Data.sites.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
            <li><a href="{{ .Site.Data.sites.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
            <li class="divider"></li>
            <li><a href="{{ .Site.Data.sites.github }}" target="_blank"><i class="fa fa-github-square"></i> Github</a></li>
            <li class="divider"></li>
            <li><a href="{{ .Site.Data.sites.contact_email }}" target="_blank"><i class="fa fa-envelope"></i> Email Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" id="search-reveal" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-search pull-right"></span></a>
          <input id="search" type="text" class="form-control" placeholder="Search" style="display:none;" />
          <ul class="dropdown-menu" id="results" style="display:none;" ></ul>
        </li>
        <li class="dropdown highlight">
          <a href="https://github.com/monax/cli/releases/latest" role="button" aria-expanded="false">Download Monax &nbsp;&nbsp;<i class="fa fa-cloud-download" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
