{{- if .Params.meta -}}{{ $author := index .Site.Data.team .Params.author }}
<div class="post-meta">
  <p>This post was written on {{ .Date.Format "02 January, 2006" }} by {{ $author.name }}. It is classified in {{ with .Params.categories }}{{ with (index . 0) }}<a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }}{{ with .Params.tags }} and has been tagged as {{ delimit (apply (apply (sort .) "partial" "tag_link" ".") "chomp" ".") ", " }}{{ end }}.</p>
</div>
{{- end -}}