{{ if isset .Site.Data.resources "hero" }}
{{ if .Site.Data.resources.hero.enable }}
<section class="section-hero section-padding-lg">
    <div class="home_hero" style="position: relative; background: url( {{ .Site.Data.resources.hero.img_bg }} ) center center repeat; background-size: cover;">
      <div class="dark-mask"></div>

      <div class="container hero_overlay">
          <div class="flex-grid-md">
              <div class="col-md-12 col-valign-center">
                  <div class="underline-sm">
                      <h1>{{ .Site.Data.resources.hero.title }}</h1>
                  </div>

                  <p>
                    {{ .Site.Data.resources.hero.subtitle | markdownify }}
                  </p>
              </div>
          </div>
      </div>
    </div>
    <!-- /.container -->
</section>


<!-- /.bar -->
{{ end }}
{{ end }}
