{{ if isset .Site.Data.resources "webinar" }}
{{ if .Site.Data.resources.webinar.enable }}
<section class="section-screencasts section-padding-lg">
    <div class="container">

        <div class="row">
          <div class="col-md-5 padding-top-sm">
            <div class="underline-sm range-left-md">
                <h3>{{ .Site.Data.resources.webinar.title }}</h3>
            </div>
            <p class="padding-bottom-md range-left-md">
              {{ .Site.Data.resources.webinar.subtitle | markdownify }}
            </p>
          </div> <!-- .col -->
          <div class="col-md-7">
            <div class="flex-grid form-placeholder">
              <div class="col-sm-12 col-valign-center" style="width: 100%;">
                  <h4>-- FORM PLACEHOLDER --</h4>
              </div>
            </div>
          </div> <!-- .col -->
        </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
