{{ template "_internal/google_analytics.html" . }}
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}js/front.js"></script>

<!-- init form validation -->
<script src="{{ .Site.BaseURL }}js/validate.jquery.js"></script>

<!-- custom js -->
<script async src="{{ .Site.BaseURL }}js/custom.js"></script>

<!-- init animations -->
<script src="{{ .Site.BaseURL }}js/aos.js"></script>
<script async type="text/javascript">
  AOS.init({
    offset: 200,
    duration: 300,
    easing: 'ease-in-sine',
    delay: 50,
    once: true,
    anchorPlacement: 'top-center'
  });
</script>

<!-- init tilt -->
<script async src="{{ .Site.BaseURL }}js/tilt.jquery.js"></script>

<!-- init reading bar -->
<script src="{{ .Site.BaseURL }}js/scrollgress.jquery.js"></script>
<script async type="text/javascript">
	$('#post-content').scrollgress({
    height: '5px',
    color: '#98b762',
		success: function() {
			console.log('Scrollgress has been initiated.');
		}
	});
</script>

{{ range $.Site.Params.additional_footer_script_urls }}
  <script async src="{{ . }}" type="text/javascript"></script>
{{ end }}
