{{ $author := index .Site.Data.team "default" }}
{{ if .Params.author }}
  {{ $author := index .Site.Data.team .Params.author }}
{{ end }}

<aside class="sidebar col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-2 hidden-xs hidden-sm">
  {{ if $author }}
    <a href="{{ .Site.BaseURL }}/">
      <h4>{{ .Site.Title }}<br />Post by: {{ $author.name }}</h4>
    </a>
    <img src="/images/{{ $author.gravatar }}" class="sidebar-gravatar pull-left">
    <p>{{ $author.bio }}</p>
    <hr />
    <div class="follow-me">
      <a title="RSS Feed for {{ .Site.Title }}" href="{{ .RSSlink }}" />
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {{ if $author.site }}
        <a href="{{ $author.site }}" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {{ end }}
      {{ if $author.twitter }}
        <a href="https://twitter.com/{{ $author.twitter }}" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {{ end }}
      {{ if $author.github }}
        <a href="https://github.com/{{ $author.github }}" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {{ end }}
    </div>
    <hr />
  {{ else }}
    <a href="{{ .Site.baseurl }}/">
      <h4>{{ .Site.Title }}</h4>
    </a>
    <p>{{ .Site.description }}</p>
    <hr />
    <div class="follow-me">
      <a title="RSS Feed for {{ .Site.title }}" href="{{ .RSSlink }}" rel="feed" type="application/rss+xml"  />
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="{{ .Site.Data.sites.twitter }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="{{ .Site.Data.sites.github }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <hr />
  {{ end }}
</aside>
