{{- $area := $.Scratch.Get "area" -}}
{{- $toc := $.Scratch.Get "toc" -}}
{{- $currentConfig := index .Site.Data.menus $area -}}
{{- $currentNode := . -}}
{{- if $toc -}}
  {{ .TableOfContents }}<hr />
{{- end -}}
<ul class="nav nav-pills nav-stacked">
  {{- range  (index .Site.Menus $area) -}}
    {{- if .HasChildren -}}
      <li class="sub-menu{{if $currentNode.HasMenuCurrent $area . }} active{{end}}">
      <a href="javascript:;" class="">
        {{ .Pre }}
        <span>{{ .Name }}</span>
        <span class="menu-arrow arrow_carrot-right"></span>
      </a>
      <ul class="sub">
        {{ range .Children }}
          <li{{if $currentNode.IsMenuCurrent $area . }} class="active"{{end}}><a href="{{ .URL }}"> {{ .Name }} </a></li>
        {{ end }}
      </ul>
      {{else}}
      <li>
        <a class="" href="{{.URL}}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{- end -}}
  {{- end -}}
</ul>
<hr />
<ul class="nav nav-pills nav-stacked">
  {{- $parentConfig := index .Site.Data.menus $currentConfig.parent -}}
  {{- range $parentConfig.children -}}
    {{- if ne $area . -}}
      {{- $thisLink := index $.Site.Data.menus . -}}
      <li><a href="{{ $thisLink.url }}">{{ $thisLink.title }}</a></li>
    {{- end -}}
  {{- end -}}
</ul>