<script type="text/javascript">
// todo harmonize this with monax.js
function useCasesNavigateTo(sel, target, newWindow) {
    var url = sel.options[sel.selectedIndex].value;
    if (newWindow) {
        window.open(url, target, '--- attributes here, see below ---');
    } else {
        window[target].location.href = url;
    }
}
</script>

<p>To learn more about the use cases which are relevant to your company or organization please use the below selector or the table of contents in the sidebar.</p>

<form name="sector-select" class="form-horizontal">
  <div class="form-group">
    <label for="sector" class="col-sm-3 control-label">My company or organization is in</label>
    <div class="col-sm-9">
      <select class="form-control" data-width="100%" placeholder="" data-placeholder="" id="sector" name="sector" onchange="useCasesNavigateTo(this, 'window', false);">
        <option selected=""></option>
        <option value="/use_cases/finance/?monax_viewer_type=end_user#retail-banks">Retail Bank</option>
        <option value="/use_cases/finance/?monax_viewer_type=end_user#investment-banks">Commercial & Investment Bank</option>
        <option value="/use_cases/finance/?monax_viewer_type=end_user#asset-management">Asset Manager</option>
        <option value="/use_cases/finance/?monax_viewer_type=end_user#financial-infrastructure">Financial Infrastructure</option>
        <option value="/use_cases/insurance/?monax_viewer_type=end_user#primary-insurance">Primary Insurer</option>
        <option value="/use_cases/insurance/?monax_viewer_type=end_user#reinsurance">Reinsurance</option>
        <option value="/use_cases/insurance/?monax_viewer_type=end_user#risk-asset-management">Risk Asset Manager</option>
        <option value="/use_cases/logistics/?monax_viewer_type=end_user#supply-chain">Supply Chain</option>
        <option value="/use_cases/logistics/?monax_viewer_type=end_user#shipping">Shipping or Transportation</option>
        <option value="/use_cases/logistics/?monax_viewer_type=end_user#airlines">Airlines or Travel</option>
<!--         <option value="/use_cases/energy/?monax_viewer_type=end_user">Energy</option>
        <option value="/use_cases/governance/?monax_viewer_type=end_user">Government or Governance</option>
        <option value="/use_cases/governance/?monax_viewer_type=end_user">Open Data or Open Government</option>
        <option value="/use_cases/governance/?monax_viewer_type=end_user">Civic Technology</option> -->
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="sector" class="col-sm-3 control-label">My company or organization builds and deploys systems for</label>
    <div class="col-sm-9">
      <select class="form-control" data-width="100%" placeholder="" data-placeholder="" id="sector" name="sector" onchange="useCasesNavigateTo(this, 'window', false);">
        <option selected=""></option>
        <option value="/use_cases/finance/?monax_viewer_type=partner#retail-banks">Retail Bank</option>
        <option value="/use_cases/finance/?monax_viewer_type=partner#investment-banks">Commercial & Investment Bank</option>
        <option value="/use_cases/finance/?monax_viewer_type=partner#asset-management">Asset Manager</option>
        <option value="/use_cases/finance/?monax_viewer_type=partner#financial-infrastructure">Financial Infrastructure</option>
        <option value="/use_cases/insurance/?monax_viewer_type=partner#primary-insurance">Primary Insurer</option>
        <option value="/use_cases/insurance/?monax_viewer_type=partner#reinsurance">Reinsurance</option>
        <option value="/use_cases/insurance/?monax_viewer_type=partner#risk-asset-management">Risk Asset Manager</option>
        <option value="/use_cases/logistics/?monax_viewer_type=partner#supply-chain">Supply Chain</option>
        <option value="/use_cases/logistics/?monax_viewer_type=partner#shipping">Shipping or Transportation</option>
        <option value="/use_cases/logistics/?monax_viewer_type=partner#airlines">Airlines or Travel</option>
<!--         <option value="/use_cases/energy/?monax_viewer_type=partner">Energy</option>
        <option value="/use_cases/governance/?monax_viewer_type=partner">Government or Governance</option>
        <option value="/use_cases/governance/?monax_viewer_type=partner">Open Data or Open Government</option>
        <option value="/use_cases/governance/?monax_viewer_type=partner">Civic Technology</option> -->
      </select>
    </div>
  </div>
</form>