{{ if isset .Site.Data.features "cta" }}
{{ if .Site.Data.features.cta.enable }}
<section class="section-cta section-padding-xl background-dark">
    <div class="container">

      <div class="row flex-grid-md">

        <div class="col-md-12">

          <div class="underline-sm">
              <h2>{{ .Site.Data.features.cta.title }}</h2>
          </div>

          <!-- <p class="padding-bottom-md">
            {{ .Site.Data.features.cta.subtitle | markdownify }}
          </p> -->
          <div class="form-container padding-bottom-md">
            <div class="onboarding__form onboarding-information form--details">
  							<p>I'm a <span id="jobTitle" contenteditable="true" class="onboarding-information__input input-fake" data-default="Job Title" data-associated-input="#input-job-title"></span> at <span id="companyName" contenteditable="true" class="onboarding-information__input input-fake" data-default="Company Name" data-associated-input="#input-company-name"></span></p>
  							<p>We're a(n)
  								<span class="onboarding-select-wrapper" id="industryActive">
  									<select id="userIndustry" name="industry" class="form-control onboarding-information__select select-needs-sizing" data-associated-select="#select-industry-sizer">
  											<option value="" disabled="" selected="">Industry</option>
  											<option>Advertising</option>
  											<option>Aerospace/Defense</option>
  											<option>Agency</option>
  											<option>Agriculture</option>
  											<option>Auto</option>
  											<option>CPG</option>
  											<option>Education</option>
  											<option>Energy and Utilities</option>
  											<option>Entertainment</option>
  											<option>Financial Services</option>
  											<option>Government / Nonprofits</option>
  											<option>Health and Sciences</option>
  											<option>Industrials</option>
  											<option>Insurance (excluding Health)</option>
  											<option>Legal Services / Consulting</option>
  											<option>Other</option>
  											<option>Publisher</option>
  											<option>Real Estate and Construction</option>
  											<option>Recruiting</option>
  											<option>Retail, Fashion, Office and features</option>
  											<option>Sports</option>
  											<option>Support Services</option>
  											<option>Technology</option>
  											<option>Telecommunications</option>
  											<option>Textiles</option>
  											<option>Transportation and Logistics</option>
  											<option>Travel and Hospitality</option>
  											<option>QSR</option>
  									</select>
  								</span>
  								<!-- <select id="select-industry-sizer" name="industry-sizer" class="form-control onboarding-information__select" style="visibility: hidden; position: absolute; width: auto;">
  									<option value=""></option>
  								</select> -->
  							 <!-- company located in <span id="userCity" contenteditable="true" class="onboarding-information__input input-fake" data-default="City" data-associated-input="#input-city"></span><input type="text" id="input-city" placeholder="City" autocomplete="off">.</p> -->
  							 company located in <span id="userCity" contenteditable="true" class="onboarding-information__input input-fake" data-default="City" data-associated-input="#input-city"></span>.</p>
  						</div>
            </div>

          <div class="btn-container" style="">
            <a href="{{.Site.Data.features.cta.button_url}}" class="btn btn-primary btn-xl " role="button">{{ .Site.Data.features.cta.button_text }}</a>
            <a href="{{.Site.Data.features.cta.button_url}}" class="btn btn-primary btn-xl " role="button">Request a demo</a>
          </div>

        </div> <!-- .col -->

      </div> <!-- .row -->

    </div> <!-- .container -->
</section>
<!--
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#userInfoForm').on('submit', function(e) {
     var jobTitle = $('#jobTitle').text();
     var companyName = $('#companyName').text();
     var userIndustry = $('#userIndustry').val();
     var userCity = $('#input-city').val();
     $('#hiddenTitleInput').val(jobTitle);
     $('#hiddenCompanyInput').val(companyName);
     $('#hiddenIndustryInput').val(userIndustry);
    // $.post( "https://insights.newscred.com/wp-admin/admin-ajax.php", {
    //      'action': 'set_userinfo',
    //      'job-title': jobTitle,
    //      'company-name': companyName,
    //      'industry': userIndustry,
    //      'city': userCity
    //    },
    //    function(response){
    //      $('#mktForm_1213').submit();
    //    }
    //   );
     e.preventDefault();
  });
  var autocompleteOptions = {
    types: ['(cities)']
  };
  google.maps.event.addDomListener(window, 'load', function () {
    var places = new google.maps.places.Autocomplete(document.getElementById('input-city'), autocompleteOptions);
    google.maps.event.addListener(places, 'place_changed', function () {
      var place = places.getPlace();
      var address = place.formatted_address;
      $('#input-city, #hiddenCityInput').val(address);
      if ($('#jobTitle').hasClass('active') && $('#companyName').hasClass('active') && $('#industryActive').hasClass('active')) {
        $('#onboarding-signup').addClass('active');
      }
    });
  });
  $('#input-city').on('focus', function(e) {
    $(this).addClass('entered');
  }).on('keydown', function(e) {
    if (e.keyCode == 13 && !$('#onboarding-signup').hasClass('active')) {
        e.preventDefault();
    }
  });
});
</script> -->





{{ end }}
{{ end }}
