{{- $year := .Date.Year -}}

<div class="partner-li-entry">
  <aside class="sidebar newpartner-li-img col-md-2 col-lg-2 col-lg-offset-2 hidden-xs hidden-sm">
      <a href="{{ .Permalink }}">
        {{- with .Params.logo -}}
          <img src="/images/partners/{{ . }}" style="max-width: 100%; margin-bottom: 10px;"/>
        {{- else -}}
          <img src="/images/logos/doug_square.svg"  style="max-width: 100%; margin-bottom: 10px;"/>
        {{- end -}}
        {{- with .Params.logo2 -}}
          <img src="/images/partners/{{ . }}"  style="max-width: 100%; margin-bottom: 10px;"/>
        {{- end -}}
      </a>
  </aside>
  <div class="content partner-li-text col-xs-12 col-sm-12 col-md-10 col-lg-6" id="content-block">

      <div class="partner-li-row">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <div class="meta"><i class="fa fa-building" aria-hidden="true"></i> <span class="meta-date">Sector: {{ .Params.sector }}</span></div>
        <div class="excerpt">{{ .Summary }}</div>
        <div class="read-more-link">
          <a href="{{ .RelPermalink }}" class="btn btn-primary">Read Full Case Study <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
      
  </div>
</div>