<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "home/top.html" . }}

        {{ partial "home/featured.html" . }}

        {{ partial "home/summary.html" . }}

        {{ partial "home/usecases.html" . }}

        {{ partial "home/screencasts.html" . }}

        {{ partial "home/webinar.html" . }}

        <!-- global section -->
        {{ if isset .Site.Data.home "cta" }}
          {{ if .Site.Data.home.cta.enable }}
            {{ partial "_global/cta.html" . }}
          {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}


    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
