{{- partial "header.html" . }}
    <link href="/css/home.css" rel="stylesheet" >
</head>
<body class="home">
{{ partial "navigation.html" . -}}
<div class="container-fluid" id="monax-page">
{{- partial "home-top-block.html" . -}}
  <div id="main">
  {{- range $index, $element := .Data.Pages.ByWeight -}}
    {{- if in .File.Path "home/overview" }}
      <!-- Intro -->
      {{- if modBool $index 2 }}<div id="intro-{{ $index }}" class="counterpoint">{{ else }}<div id="intro-{{ $index }}" class="point">{{ end }}
        <!-- {{ $index }} -->
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              {{- if (isset .Params "icon") }}
                  <i class="lead-icon icon-{{ .Params.icon }}"></i>
              {{ end -}}
              <h2>{{ .Title }}</h2>
              <p class="lead">
                  {{- .Content -}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /Intro -->
    {{ end -}}
    {{- if in .File.Path "home/uses" }}
      <!-- /Point -->
      <div class="callout">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
                {{- if (isset .Params "icon") }}
                  <i class="callout-icon icon-{{ .Params.icon }}"></i>
                {{ end -}}
                <h2>{{ .Title }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
                <div class="carousel-inner owl-carousel"><!-- Wrapper for slides -->
                    {{- range .Params.carousel }}
                      <div class="item"><blockquote><p class="item-header">{{ .thing }}</p>{{ .explanation | markdownify }}</blockquote></div>
                    {{ end -}}
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- /Point -->
    {{ end -}}
  {{ end -}}
  </div><!-- #main -->
    <!-- Call to Action -->
    <div id="action" class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
          <h1 style="padding-bottom:.5em;">Ready to Solve Big Problems?</h1>
          {{- range .Site.Data.coding.cli.pms -}}
            <h4>Using {{ .name }}</h4>
            <pre><code>{{ index $.Site.Data.coding .cmd }}</code></pre>
            <p>&nbsp</p>
          {{- end -}}
          <h4>Using Another Platform</h4>
          <a href="{{ .Site.Data.coding.cli.releases }}" class="btn btn-lg btn-primary">Download <i class="icon-arrow-down"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->
{{- partial "footer_home.html" . -}}
{{- partial "scripts.html" . -}}
{{- partial "analytics.html" . -}}