<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <!-- BLANK TEMPLATE / Maintenance -->

        <section>
          <div class="content-container padding-top-xl">
            <p class="padding-bottom-md">The system is undergoing some routine maintenance, please check back later or monitor the situation <a href="https://status.monax.io/">here</a>.</p>
          </div>
        </section>

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
