{{- if .Params.meta -}}{{ $author := index .Site.Data.team .Params.author }}

<div class="meta"><i class="fa fa-calendar" aria-hidden="true"></i> <span class="meta-date">{{ .Date.Format "02 January, 2006" }}</span> <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ $author.name }} <i class="fa fa-bookmark" aria-hidden="true"></i> <span class="meta-cat">{{ with .Params.categories }}{{ with (index . 0) }}<a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }}</span> <i class="fa fa-tags" aria-hidden="true"></i> <span class="meta-tags">{{ with .Params.tags }} {{ delimit (apply (apply (sort .) "partial" "blog/tag_link.html" ".") "chomp" ".") ", " }}{{ end }}</span></div>

{{- end -}}