{{- $author := index .Site.Data.team "default" -}}
<aside class="sidebar col-md-2 col-lg-2 col-lg-offset-2 hidden-xs hidden-sm">
  <img src="/images/logos/monax_rect_200.png" alt="Monax Industries" style="max-width: 100%; margin-bottom: 10px;"/>
  <p class="author-bio">{{ $author.bio }}</p>
  <div class="follow">
    <a title="RSS Feed for {{ .Site.Title }}" href="{{ .Site.RSSLink }}" />
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://twitter.com/{{ $author.twitter }}" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://github.com/{{ $author.github }}" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>

  <h5 class="sidebar-related">Search By Category</h5>
  <ul class="cats-list">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      {{ if ge (len $name) 1 }}
        <li><a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
      {{ end }}
    {{ end }}
  </ul>





</aside>
