{{- $author := index .Site.Data.team .Params.author -}}
<aside class="sidebar sidebar-blog col-md-2 col-lg-2 col-lg-offset-2 hidden-xs hidden-sm">
  <div class="author-info">
    <div class="author-info-left">
      <img src="/images/team/{{ $author.gravatar }}" class="sidebar-gravatar">
    </div>
    <div class="author-info-right">
      <h4 class="author-name">{{ $author.name }}</h4>
      <h6 class="author-title">{{ $author.title }}</h6>
    </div>
  </div>
  <p class="author-bio">{{ $author.bio }}</p>

  <div class="follow">
    <a title="RSS Feed for {{ .Site.Title }}" href="{{ .Site.RSSLink }}" />
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    {{- if $author.site -}}
      <a href="{{ $author.site }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    {{- end }}{{ if $author.twitter -}}
      <a href="https://twitter.com/{{ $author.twitter }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    {{- end }}{{ if $author.github -}}
      <a href="https://github.com/{{ $author.github }}" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    {{- end -}}
  </div>
</aside>
