<div class="row"><a name="contact-monax"></a>
  <h2>Get in touch!</h2>
</div>
<div class="row">
  <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post" class="form-horizontal">

    <input type=hidden name="oid" value="00D41000000eJYk">
    <input type=hidden name="lead_source" value="Website">
    <input type=hidden name="recordType" value="01241000000iKxU">
    <input type=hidden name="00N4100000ILnwu" value="No">

    <fieldset>
      <div id="first-name-group" class="form-group">
        <label for="first_name" class="col-sm-4 control-label">Your first name (required)</label>
        <div class="col-sm-8">
          <input class="form-control required" id="first_name" name="first_name" placeholder="Primary Name" type="text" />
        </div>
      </div>

      <div id="last-name-group" class="form-group">
        <label for="last_name" class="col-sm-4 control-label">Your last name (required)</label>
        <div class="col-sm-8">
          <input class="form-control required" id="last_name" name="last_name" placeholder="Family Name" type="text" />
        </div>
      </div>

      <div class="form-group">
        <label for="company" class="col-sm-4 control-label">Your company</label>
        <div class="col-sm-8">
          <input class="form-control" id="company" name="company" placeholder="Company" type="text" />
        </div>
      </div>

      <div id="email-group" class="form-group">
        <label for="email" class="col-sm-4 control-label">Your email address (required)</label>
        <div class="col-sm-8">
          <input class="form-control required" id="email" name="email" placeholder="Email" type="text" />
        </div>
      </div>

      <div class="form-group">
        <label for="industry" class="col-sm-4 control-label">Your company's sector</label>
        <div class="col-sm-8">
          <select class="form-control" data-width="100%" data-placeholder="Your company&#39;s sector" id="industry" name="industry" >
            <option value="" selected="selected"></option>
            <option value="Reinsurance">Reinsurance</option>
            <option value="Primary insurance">Primary insurance</option>
            <option value="Risk asset management">Risk asset management</option>
            <option value="InsureTech">InsureTech</option>
            <option value="Investment banking">Investment banking</option>
            <option value="Retail banking">Retail banking</option>
            <option value="Financial asset management">Financial asset management</option>
            <option value="Financial infrastructure">Financial infrastructure</option>
            <option value="FinTech">FinTech</option>
            <option value="Energy">Energy</option>
            <option value="Professional services/consulting (VAR)">Professional services/consulting (VAR)</option>
            <option value="Independent software vendor (ISV)">Independent software vendor (ISV)</option>
            <option value="Information Technology and Services (VAR)">Information Technology and Services (VAR)</option>
            <option value="Original Equipment Manufacturer (OEM)">Original Equipment Manufacturer (OEM)</option>
            <option value="Transport/airlines">Transport/airlines</option>
            <option value="Logistics/shipping">Logistics/shipping</option>
            <option value="Telecommunications">Telecommunications</option>
            <option value="Consumer goods manufacturing">Consumer goods manufacturing</option>
            <option value="Durable goods manufacturing">Durable goods manufacturing</option>
            <option value="Legal services">Legal services</option>
            <option value="LegalTech">LegalTech</option>
            <option value="Healthcare services">Healthcare services</option>
            <option value="Healthcare devices">Healthcare devices</option>
            <option value="Chemicals/pharamceuticals">Chemicals/pharamceuticals</option>
            <option value="BioTech">BioTech</option>
            <option value="Government">Government</option>
            <option value="International development/NGOs">International development/NGOs</option>
            <option value="CivicTech">CivicTech</option>
            <option value="Construction/heavy engineering">Construction/heavy engineering</option>
            <option value="Aerospace/defense">Aerospace/defense</option>
            <option value="Academia/research">Academia/research</option>
            <option value="Recreation/tourism">Recreation/tourism</option>
            <option value="Media/advertising">Media/advertising</option>
          </select>
        </div>
      </div>

      <div class="form-group row text-left">
          <label for="user" class="text-left col-xs-offset-4">
            <input id="user" name="00N4100000ILmTG" type="checkbox" value="1" /> My company uses your platform.
          </label>

          <label for="end_user" class="text-left col-xs-offset-4">
            <input id="end_user" name="00N4100000ILmSm" type="checkbox" value="1" /> I'd like to learn about your products.
          </label>

          <label for="partner" class="text-left col-xs-offset-4">
            <input id="partner" name="00N4100000ILmSr" type="checkbox" value="1" /> I'm interested in partnering with Monax.
          </label>
      </div>

      <div class="form-group row text-left">
        <div class="col-xs-offset-4">
          <label for="end_user_sdk" class="checkbox-inline">
            <input id="end_user_sdk" name="00N4100000ILmSw" type="checkbox" value="1" />My Company is Interested in Monax's SDKs.
          </label>
        </div>

        <div class="col-xs-offset-4">
          <label for="partner_sdk" class="checkbox-inline">
            <input id="partner_sdk" name="00N4100000ILmT1" type="checkbox" value="1" />My Company's Clients are Interested in Monax's SDKs.
          </label>
        </div>
      </div>

      <div class="form-group row text-left">
        <div class="col-xs-offset-4">
          <label for="end_user_premium_support" class="checkbox-inline">
            <input id="end_user_premium_support" name="00N4100000ILmT6" type="checkbox" value="1" />My Company is Interested in Premium Support.
          </label>
        </div>

        <div class="col-xs-offset-4">
          <label for="partner_premium_support" class="checkbox-inline">
            <input id="partner_premium_support" name="00N4100000ILmTB" type="checkbox" value="1" />My Company's Clients are Interested in Premium Support.
          </label>
        </div>
      </div>

      <div class="form-group row">
        <label for="addition_note" class="col-sm-4 control-label">Any feedback or anything to add?</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="addition_note" name="description" rows="10" ></textarea>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-4">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" id="send-button">
      </div>
    </fieldset>
  </form>
  <div id="success_message">Thanks for your inquiry.<br>We will contact you as soon as possible.</div>
  <div id="error_message" class="has-error"><p class="has-error col-xs-offset-4 col-xs-4"></p><input type="submit" value="OK" class="col-xs-3 btn btn-danger"></div>
</div>
