<div class="row"><a name="contact-monax"></a>
  <h2>Get in touch!</h2>
  <p></p>
</div>
<div class="row">
  <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post" class="col-sm-8 col-sm-offset-2 form-horizontal" id="contact-monax-form">

    <input type=hidden name="oid" value="00D41000000eJYk">
    <input type=hidden name="lead_source" value="Website">
    <input type=hidden name="recordType" value="01241000000iKxU">
    <input type=hidden name="00N4100000ILnwu" value="No">
    <input type=hidden name="00N4100000KxGSr" id="00N4100000KxGSr" value="">

    <fieldset>
      <div id="first-name-group" class="form-group">
        <label for="first_name" class="col-sm-12 control-label">Your first name</label>
        <div class="col-sm-12 required-wrap">
          <input class="form-control required" id="first_name" name="first_name" maxlength="80" placeholder="First Name" type="text" />
        </div>
      </div>

      <div id="last-name-group" class="form-group">
        <label for="last_name" class="col-sm-12 control-label">Your last name</label>
        <div class="col-sm-12 required-wrap">
          <input class="form-control required" id="last_name" name="last_name" maxlength="80" placeholder="Last Name" type="text" />
        </div>
      </div>

      <div id="email-group" class="form-group">
        <label for="email" class="col-sm-12 control-label">Your email address</label>
        <div class="col-sm-12 required-wrap">
          <input class="form-control required" id="email" name="email" placeholder="Email Address" maxlength="80" type="text" />
        </div>
      </div>

      <div class="form-group">
        <label for="company" class="col-sm-12 control-label">Your company</label>
        <div class="col-sm-12 required-wrap">
          <input class="form-control" id="company" name="company" placeholder="Company" maxlength="40" type="text" />
        </div>
      </div>

      <div class="form-group start-hidden">
        <label for="industry" class="col-sm-12 control-label">Your company's sector</label>
        <div class="col-sm-12 required-wrap">
          <select class="form-control" data-width="100%" data-placeholder="Your company&#39;s sector" id="industry" name="industry" >
            <option value="" selected="selected">Select</option>
            <option value="Reinsurance">Reinsurance</option>
            <option value="Primary insurance">Primary insurance</option>
            <option value="Risk asset management">Risk asset management</option>
            <option value="InsureTech">InsureTech</option>
            <option value="Investment banking">Investment banking</option>
            <option value="Retail banking">Retail banking</option>
            <option value="Financial asset management">Financial asset management</option>
            <option value="Financial infrastructure">Financial infrastructure</option>
            <option value="FinTech">FinTech</option>
            <option value="Energy">Energy</option>
            <option value="Professional services/consulting (VAR)">Professional services/consulting (VAR)</option>
            <option value="Independent software vendor (ISV)">Independent software vendor (ISV)</option>
            <option value="Information Technology and Services (VAR)">Information Technology and Services (VAR)</option>
            <option value="Original Equipment Manufacturer (OEM)">Original Equipment Manufacturer (OEM)</option>
            <option value="Transport/airlines">Transport/airlines</option>
            <option value="Logistics/shipping">Logistics/shipping</option>
            <option value="Telecommunications">Telecommunications</option>
            <option value="Consumer goods manufacturing">Consumer goods manufacturing</option>
            <option value="Durable goods manufacturing">Durable goods manufacturing</option>
            <option value="Legal services">Legal services</option>
            <option value="LegalTech">LegalTech</option>
            <option value="Healthcare services">Healthcare services</option>
            <option value="Healthcare devices">Healthcare devices</option>
            <option value="Chemicals/pharamceuticals">Chemicals/pharamceuticals</option>
            <option value="BioTech">BioTech</option>
            <option value="Government">Government</option>
            <option value="International development/NGOs">International development/NGOs</option>
            <option value="CivicTech">CivicTech</option>
            <option value="Construction/heavy engineering">Construction/heavy engineering</option>
            <option value="Aerospace/defense">Aerospace/defense</option>
            <option value="Academia/research">Academia/research</option>
            <option value="Recreation/tourism">Recreation/tourism</option>
            <option value="Media/advertising">Media/advertising</option>
          </select>
        </div>
      </div>

      <div class="form-group row text-left start-hidden">
        <div class="col-xs-offset-1 col-sm-11">
          <label for="user" class="checkbox-inline">
            <input id="user" name="00N4100000ILmTG" type="checkbox" value="1" /> My company uses your platform.
          </label>
        </div>
        
        <div class="col-xs-offset-1 col-sm-11">
          <label for="end_user" class="checkbox-inline">
            <input id="end_user" name="00N4100000ILmSm" type="checkbox" value="1" /> I'd like to learn about your products.
          </label>
        </div>
        
        <div class="col-xs-offset-1 col-sm-11">
          <label for="partner" class="checkbox-inline">
            <input id="partner" name="00N4100000ILmSr" type="checkbox" value="1" /> I'm interested in partnering with Monax.
          </label>
        </div>

        <div class="col-xs-offset-1 col-sm-11">
          <label for="end_user_sdk" class="checkbox-inline">
            <input id="end_user_sdk" name="00N4100000ILmSw" type="checkbox" value="1" />My Company is Interested in Monax's SDKs.
          </label>
        </div>

        <div class="col-xs-offset-1 col-sm-11">
          <label for="partner_sdk" class="checkbox-inline">
            <input id="partner_sdk" name="00N4100000ILmT1" type="checkbox" value="1" />My Company's Clients are Interested in Monax's SDKs.
          </label>
        </div>

        <div class="col-xs-offset-1 col-sm-11">
          <label for="end_user_premium_support" class="checkbox-inline">
            <input id="end_user_premium_support" name="00N4100000ILmT6" type="checkbox" value="1" />My Company is Interested in Premium Support.
          </label>
        </div>

        <div class="col-xs-offset-1 col-sm-11">
          <label for="partner_premium_support" class="checkbox-inline">
            <input id="partner_premium_support" name="00N4100000ILmTB" type="checkbox" value="1" />My Company's Clients are Interested in Premium Support.
          </label>
        </div>
      </div>

      <div class="form-group row">
        <label for="addition_note" class="col-sm-12 control-label">Any feedback or anything to add?</label>
        <div class="col-sm-12">
          <textarea class="form-control" id="addition_note" name="description" rows="3" ></textarea>
        </div>
      </div>

      <div class="col-sm-6 col-sm-offset-3">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Get in touch" id="send-button">
      </div>
    </fieldset>
  </form>
  <div id="success_message">Thanks for your inquiry.<br>We will contact you as soon as possible.</div>
  <div id="error_message" class="has-error">
    <p class="has-error col-sm-4 col-sm-offset-4"></p>
    <input type="submit" value="OK" class="btn btn-danger">
  </div>
</div>
