<div class="row"><a name="contact-monax"></a>
  <h2>Get in touch!</h2>
</div>
<div class="row">
  <form action="https://leads-capturer.futuresimple.com/form" method="post" class="form-horizontal">
    <input id="form_token" name="form_token" type="hidden" value="8c2df2983a0f61bb8d88341dee1cbb91" />
    <input id="lang" name="lang" type="hidden" value="en" />
    <input id="created_via" name="created_via" type="hidden" value="embedded_form" />
    <fieldset>
      <div id="name-group" class="form-group">
        <label for="f:ZnVsbF9uYW1l:MA:" class="col-sm-4 control-label">Your full name (required)</label>
        <div class="col-sm-8">
          <input class="form-control required" id="f:ZnVsbF9uYW1l:MA:" name="f:ZnVsbF9uYW1l:MA:" placeholder="Name" type="text" />
        </div>
      </div>

      <div id="email-group" class="form-group">
        <label for="f:ZW1haWw:MA:" class="col-sm-4 control-label">Your email address (required)</label>
        <div class="col-sm-8">
          <input class="form-control required" id="f:ZW1haWw:MA:" name="f:ZW1haWw:MA:" placeholder="Email" type="text" />
        </div>
      </div>

      <div class="form-group">
        <label for="f:Y29tcGFueV9uYW1l:MA:" class="col-sm-4 control-label">Your company</label>
        <div class="col-sm-8">
          <input class="form-control" id="f:Y29tcGFueV9uYW1l:MA:" name="f:Y29tcGFueV9uYW1l:MA:" placeholder="Company" type="text" />
        </div>
      </div>

      <div class="form-group">
        <label for="f:Y29tcGFueV9uYW1l:MA:" class="col-sm-4 control-label">Your company's sector</label>
        <div class="col-sm-8">
          <select class="form-control" data-width="100%" data-placeholder="Your company&#39;s sector" id="f:U2VjdG9y:MQ:bGlzdA" name="f:U2VjdG9y:MQ:bGlzdA" >
            <option value="" selected="selected"></option>
            <option value="16">Reinsurance</option>
            <option value="17">Investment Bank</option>
            <option value="1">Retail Bank</option>
            <option value="2">Primary Insurance</option>
            <option value="18">Asset Management</option>
            <option value="19">Financial Infrastructure</option>
            <option value="3">Energy</option>
            <option value="11">Professional Services</option>
            <option value="10">Information Technology and Services</option>
            <option value="12">Aviation</option>
            <option value="13">Import/Export</option>
            <option value="14">Healthcare</option>
            <option value="21">Telecommunications</option>
            <option value="20">Manufacturing</option>
            <option value="5">General Technology</option>
            <option value="4">FinTech</option>
            <option value="8">Legal Practice</option>
            <option value="7">LegalTech</option>
            <option value="22">Other</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
          <label for="f:SXMgYSB1c2VyPw:MQ:Ym9vbA" class="text-left col-xs-offset-4">
            <input id="f:SXMgYSB1c2VyPw:MQ:Ym9vbA" name="f:SXMgYSB1c2VyPw:MQ:Ym9vbA" type="checkbox" /> My company uses your platform.
          </label>

          <label for="f:SW50ZXJlc3RlZCBpbiBQcm9kdWN0cz8:MQ:Ym9vbA" class="text-left col-xs-offset-4">
            <input id="f:SW50ZXJlc3RlZCBpbiBQcm9kdWN0cz8:MQ:Ym9vbA" name="f:SW50ZXJlc3RlZCBpbiBQcm9kdWN0cz8:MQ:Ym9vbA" type="checkbox" /> I'd like to learn about your products.
          </label>

          <label for="f:SW50ZXJlc3RlZCBpbiBQYXJ0bmVyc2hpcD8:MQ:Ym9vbA" class="text-left col-xs-offset-4">
            <input id="f:SW50ZXJlc3RlZCBpbiBQYXJ0bmVyc2hpcD8:MQ:Ym9vbA" name="f:SW50ZXJlc3RlZCBpbiBQYXJ0bmVyc2hpcD8:MQ:Ym9vbA" type="checkbox" /> I'm interested in partnering with Monax.
          </label>
      </div>

      <div class="form-group row">
        <div class="col-sm-8 col-sm-offset-4">
          <label for="f:SW50ZXJlc3RlZCBpbiBMaWNlbnNpbmcgU0RLcz8:MQ:Ym9vbA" class="checkbox-inline">
            <input id="f:SW50ZXJlc3RlZCBpbiBMaWNlbnNpbmcgU0RLcz8:MQ:Ym9vbA" name="f:SW50ZXJlc3RlZCBpbiBMaWNlbnNpbmcgU0RLcz8:MQ:Ym9vbA" type="checkbox" />My Company is Interested in Monax's SDKs.
          </label>

          <label for="f:SW50ZXJlc3RlZCBpbiBSZXNlbGxpbmcgU0RLcz8:MQ:Ym9vbA" class="checkbox-inline">
            <input id="f:SW50ZXJlc3RlZCBpbiBSZXNlbGxpbmcgU0RLcz8:MQ:Ym9vbA" name="f:SW50ZXJlc3RlZCBpbiBSZXNlbGxpbmcgU0RLcz8:MQ:Ym9vbA" type="checkbox" />My Company's Clients are Interested in Monax's SDKs.
          </label>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-8 col-sm-offset-4">
          <label for="f:SW50ZXJlc3RlZCBpbiBTdWJzY3JpYmluZyBQcmVtaXVtIFN1cHBvcnQ_:MQ:Ym9vbA" class="checkbox-inline">
            <input id="f:SW50ZXJlc3RlZCBpbiBTdWJzY3JpYmluZyBQcmVtaXVtIFN1cHBvcnQ_:MQ:Ym9vbA" name="f:SW50ZXJlc3RlZCBpbiBTdWJzY3JpYmluZyBQcmVtaXVtIFN1cHBvcnQ_:MQ:Ym9vbA" type="checkbox" />My Company is Interested in Premium Support.
          </label>

          <label for="f:SW50ZXJlc3RlZCBpbiBSZXNlbGxpbmcgUHJlbWl1bSBTdXBwb3J0Pw:MQ:Ym9vbA" class="checkbox-inline">
            <input id="f:SW50ZXJlc3RlZCBpbiBSZXNlbGxpbmcgUHJlbWl1bSBTdXBwb3J0Pw:MQ:Ym9vbA" name="f:SW50ZXJlc3RlZCBpbiBSZXNlbGxpbmcgUHJlbWl1bSBTdXBwb3J0Pw:MQ:Ym9vbA" type="checkbox" />My Company's Clients are Interested in Premium Support.
          </label>
        </div>
      </div>

      <div class="form-group row">
        <label for="f:Y29tcGFueV9uYW1l:MA:" class="col-sm-4 control-label">Any feedback or anything to add?</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="f:bm90ZQ:MA:" name="f:bm90ZQ:MA:" rows="10" ></textarea>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-4">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" id="send-button">
      </div>
    </fieldset>
  </form>
  <div id="success_message">Thanks for your inquiry.<br>We will contact you as soon as possible.</div>
  <div id="error_message" class="has-error"><p class="has-error col-xs-offset-4 col-xs-4"></p><input type="submit" value="OK" class="col-xs-3 btn btn-danger"></div>
</div>
