{{ with .Site.Data.home.hero }}
{{ if .enable }}
<section class="section-hero section-padding-xl">
    <div class="home_hero" style="position: relative; background: url( {{ .img_bg }} ) center center repeat; background-size: cover;">
      <div class="dark-mask"></div>

      <div class="container hero_overlay">
          <div class="flex-grid-md">
              <div class="col-md-5 col-valign-center">
                  <div class="underline-sm range-left-md">
                      <h1>{{ .title }}</h1>
                  </div>

                  <p class="lead range-left-md">
                    {{ .subtitle | markdownify }}
                  </p>

                  <form action="" class="col-valign-center flex-grid">
                    <input type="text" placeholder="Email" name="email" class="field-email">
                    <button type="submit" value="Submit" class="btn field-submit">
                      <span>Try For Free</span>
                    </button>
                  </form>
              </div>
              <div class="col-md-7">
                  <img class="img-responsive img-center" src="{{ .img_right }}" alt="">
              </div>
          </div>
      </div>

    </div> <!-- .container -->
</section> <!-- .section -->
{{ end }}
{{ end }}
