{{ with .Site.Data.home.screencasts }}
{{ if .enable }}
<section class="section-screencasts padding-top-xl padding-bottom-md">
    <div class="container">

      <div class="row padding-bottom-lg">

        {{ range first 1 (where $.Site.RegularPages "Type" "screencasts") }}

          <div class="col-md-7">
            <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
              <iframe src="//www.youtube.com/embed/{{ .Params.youtube_url }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="YouTube Video"></iframe>
            </div>
          </div> <!-- .col -->
          <div class="col-md-5">
            <div class="underline-sm range-left-md">
                <h3>{{ .Title }}</h3>
            </div>
            <p class="p2 padding-bottom-sm range-left-md">
              {{ .Summary }}
            </p>

        {{ end }}

        {{ if .show_related_links }}

            <div class="range-left-md">
              <h6>More like this:</h6>
            </div>
            <ul class="ul-no-list">
              {{ range .relatedlinks }}
              <li><a href="{{ .link_url }}">{{ .link_title }}</a></li>
              {{ end }}
            </ul>

        {{ end }}

          </div> <!-- .col -->
      </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
