{{ with .Site.Data.home.summary }}
{{ if .enable }}
<section class="section-summary section-padding-xl section-shadow-xl">
    <div class="container">


      <div class="row">
        <div class="col-md-12">

            <div class="underline-sm">
                <h2>{{ .title }}</h2>
            </div>

            <p class="lead text-center">
              {{ .subtitle | markdownify }}
            </p>

        </div>
      </div>

      <div class="row flex-grid-md">

        <div class="col-md-5 col-valign-center">
          <img class="img-responsive" src="{{ .img_left }}" alt="">
        </div>

        <div class="col-md-7">

            <ul class="ul-icon-list">
              {{ range .feature }}
              <li class="padding-bottom-xs">
                <i class="fa {{ .icon }}" aria-hidden="true"></i>
                <h4 class="range-left">{{ .title }}</h4>
                <p class="range-left">{{ .description }}</p>
              </li>
              {{ end }}
            </ul>
        </div>

      </div>




    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
