{{ with .Site.Data.home.top }}
{{ if .enable }}
<section class="section-top padding-top-md padding-bottom-lg" style="background: url({{ .background_element }}) right bottom no-repeat; background-size: 520px;">
    <div class="container">

      <div class="row flex-grid-md">
          <div class="col-md-7 col-valign-center">
            <div class="range-left-md">
                <h2>{{ .title | markdownify }}</h2>
            </div>

            {{ with .subtitle }}
              <p class="lead range-left-md">
                {{ . | markdownify }}
              </p>
            {{ end }}

            <!-- Sign up section [GLOBAL] -->
            {{ if .hero_signup }}
              {{ partial "_global/hero_signup.html" . }}
            {{ end }}
          </div>
          <div class="col-md-5">

            {{ if .illustration.enable }}
              {{ with .illustration }}
                <div class="animation-container">
                  <div id="home-animation" class="content-container">
                    <div class="img-layer-container">
                      <img class="img-responsive img-center img-layer img-laptop-base" src="{{ .img_base }}" alt="">
                      <img class="img-responsive img-center img-layer img-animate img-to-float delay-0 img-laptop-layer-one" src="{{ .img_layer_one }}" alt="">
                      <img class="img-responsive img-center img-layer img-animate img-to-float delay-1 img-laptop-layer-two" src="{{ .img_layer_two }}" alt="">
                    </div>
                  </div>
                </div>
              {{ end }}
            {{ else if .img_right }}
              <div class="row flex-grid-md">
                <div class="col-sm-12">
                  <img class="img-responsive img-center img-top" src="{{ .img_right }}" alt="">
                </div>
              </div>
            {{ end }}

          </div>
      </div>

    </div> <!-- .container -->
</section> <!-- .section -->

{{ end }}
{{ end }}
