{{ with .Site.Data.home.usecases }}
{{ if .enable }}

  <section class="section-usecases section-padding-xl">
    <div class="container">

      <div class="row content-container flex-grid-md">
        {{ range .section }}

            <div class="col-md-3 col-sm-6 flex-grid-md padding-bottom-md">
              <a href="{{ .link_url }}" class="flex-grid-sm a-card">
                <div class="content-container content-card content-card-shadow-sm">
                  <img class="img_left img-responsive img-center padding-bottom-xs padding-top-xs" src="{{ .img }}" alt="">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="title">
                          <h5>{{ .title }}</h5>
                      </div>
                      <p class="subtitle padding-bottom-sm">
                        {{ .subtitle | markdownify }}
                      </p>
                    </div>
                  </div> <!-- .row -->
                </div>
              </a>
            </div>

        {{ end }}
      </div> <!-- .row -->

    </div> <!-- .container -->
  </section>

{{ end }}
{{ end }}
