{{ with .Site.Data.features.examples }}
{{ if .enable }}

  <section class="section-examples padding-bottom-sm padding-top-lg background-grey">
      <div class="container container-docs">
        <div class="row flex-grid-sm padding-bottom-md">

          <div class="col-md-9">
            <div class="row">

              {{ range $i, $p := first 4 .agreement }}

                <div class="col-sm-3 padding-bottom-md hover-dip-opacity">
                  <a href="{{ .url }}" class="a-card">
                    <div class="doc-container" data-tilt style="transform-style: preserve-3d">
                      <div class="doc-outer">
                        <div class="doc-inner">
                          <div class="content-container">
                            <div class="title range-left underline-xs">
                                <h5>{{ .title }}</h5>
                            </div>
                            <div class="doc-skin" style="transform: translateZ(10px);background:url({{ $.Site.Data.features.examples.default_img }}) center center no-repeat;background-size:cover;">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div> <!-- .col -->

              {{ end }}

            </div>
            <div class="row">
              <div class="col-sm-12">
                <h6 style="margin:0;">{{ .subtitle }}</h6>
              </div>
            </div>

          </div>
          <div class="col-md-3 padding-bottom-md hover-dip-opacity">

            <a href="{{ .new_agreement_url }}" class="a-card">
              <div class="doc-container new-doc" data-tilt style="transform-style: preserve-3d">
                <div class="doc-outer">
                  <div class="doc-inner flex-grid-sm">
                    <div class="content-container col-valign-center">
                      <div class="doc-icon padding-top-sm" style="transform: translateZ(10px);">
                        <i class="fa fa-plus-circle"></i>
                      </div>
                      <h5>{{ .new_agreement_text }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </a>

          </div>

        </div> <!-- .row -->
      </div> <!-- .container -->
  </section>

{{ end }}
{{ end }}
