{{ with .Site.Data.features.examples }}
{{ if .enable }}

  <section class="section-examples padding-bottom-md padding-top-lg section-shadow-xl background-color">
      <div class="container">

        <!-- <div class="row padding-bottom-md">
          <div class="col-xs-12">
            <div class="underline-sm">
                <h2>Try it out for yourself</h2>
            </div>
          </div>
        </div> -->

        <div class="row flex-grid-sm padding-bottom-md">
          {{ range $i, $p := first 8 .agreement }}

            {{if eq $i 4}} <!-- 5th entry -->
        </div> <!-- start new row -->
        <div class="row flex-grid-sm padding-bottom-md">
            <div class="col-sm-3" href="#">
              <div class="content-container content-card" data-tilt>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="title">
                        <h5>{{ .title }}</h5>
                    </div>
                    <p class="subtitle padding-bottom-sm">
                      {{ .subtitle | markdownify }}
                    </p>
                    <p><a href="#">Try this agreement &rsaquo;</a></p>
                  </div>
                </div> <!-- .row -->
              </div>
            </div> <!-- .col -->
            {{ else }} <!-- normal row -->
            <div class="col-sm-3" href="#">
              <div class="content-container content-card" data-tilt>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="title">
                        <h5>{{ .title }}</h5>
                    </div>
                    <p class="subtitle padding-bottom-sm">
                      {{ .subtitle | markdownify }}
                    </p>
                    <p><a href="#">Try this agreement &rsaquo;</a></p>
                  </div>
                </div> <!-- .row -->
              </div>
            </div> <!-- .col -->
            {{ end }}

          {{ end }}
        </div> <!-- .row -->
      </div> <!-- .container -->
  </section>

{{ end }}
{{ end }}
