  {{ range $i, $p := .Site.Data.features.feature.producer.section }}

    {{ if (modBool $i 2) }} <!-- odd row -->
      <div class="row flex-grid-md padding-bottom-xl">
        <div class="col-md-7 col-valign-center">
          <img class="img-responsive img-center" src="{{ .img_left }}" alt="">
          <img class="img-responsive img-popover hover-scale" src="{{ .img_left_popover }}" data-aos="zoom-in" alt="" style="
                    width: {{ .img_left_popover_width }}%;
                    top: {{ .img_left_popover_top }}%;
                    left: {{ .img_left_popover_left }}%">
        </div> <!-- .col -->
        <div class="col-md-5 col-valign-center"  data-aos="fade-left"  data-aos-delay="600">
          <div class="range-left-sm underline-sm">
              <h2>{{ .title }}</h2>
          </div>
          <p class="lead range-left-sm">
            {{ .subtitle | markdownify }}
          </p>
        </div> <!-- .col -->
      </div>  <!-- .row -->
      {{ else }} <!-- even row -->
      <div class="row flex-grid-md padding-bottom-xl">
        <div class="col-md-5 col-valign-center"  data-aos="fade-right"  data-aos-delay="600">
          <div class="range-left-sm underline-sm">
              <h2>{{ .title }}</h2>
          </div>
          <p class="lead range-left-sm">
            {{ .subtitle | markdownify }}
          </p>
        </div> <!-- .col -->
        <div class="col-md-7 col-valign-center">
          <img class="img-responsive img-center" src="{{ .img_left }}" alt="">
          <img class="img-responsive img-popover hover-scale" src="{{ .img_left_popover }}" data-aos="zoom-in" alt="" style="
                    width: {{ .img_left_popover_width }}%;
                    top: {{ .img_left_popover_top }}%;
                    left: {{ .img_left_popover_left }}%">
        </div> <!-- .col -->
      </div>  <!-- .row -->
    {{ end }}
  {{ end }}
