{{ if isset .Site.Data.investors "current" }}
{{ if .Site.Data.investors.current.enable }}
<section class="section-current section-shadow-xl section-padding-lg">
    <div class="container">

      <div class="row padding-bottom-sm">
        <div class="col-md-5">

          <div class="underline-sm range-left-md">
              <h3>{{ .Site.Data.investors.current.title }}</h3>
          </div>
          <!-- <p class="range-left-md padding-bottom-sm">
            {{ .Site.Data.investors.current.subtitle | markdownify }}
          </p> -->

        </div> <!-- .col -->
      </div> <!-- .row -->

      {{ range .Site.Data.investors.current.investor }}

        <div class="row flex-grid-sm padding-bottom-lg">

          <div class="col-md-2 col-sm-4 col-md-offset-1 col-valign-center">
            <a href="{{ .link }}" title="{{ .name }}">
              <img class="img-responsive img-center" src="{{ .logo }}" alt="{{ .name }}">
            </a>
          </div><!-- .col -->

          <div class="col-md-7 col-sm-8 col-md-offset-1 col-valign-center">
            <div class="range-left-sm">
                <h4>{{ .title }}</h4>
            </div>
            <p class="range-left-sm">
              {{ .subtitle | markdownify }}
              <br>
              <a href="{{ .link_url }}">{{ .link_text }} &rsaquo;</a>
            </p>
          </div> <!-- .col -->

        </div> <!-- .row -->

      {{ end }}

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
