{{ with .Site.Data.company.history }}
{{ if .enable }}
<section class="section-history section-padding-lg background-grey">
    <div class="container">

      <div class="row padding-bottom-lg">
        <div class="col-md-12">
          {{ with .title }}
            <div class="padding-bottom-md">
                <h2>{{ . | markdownify }}</h2>
            </div>
          {{ end }}
          {{ with .subtitle }}
            <p class="lead text-center">
              {{ . | markdownify }}
            </p>
          {{ end }}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="timeline-container">
          	<div class="timeline-date-container">
              {{ range $i, $p := .time }}
                {{ if eq $i 5 }} <!-- 1st entry -->
                  <div class="timeline-date-entry hover-dip-opacity active">
                    <span class="timeline-date-before"></span>
                		<div class="timeline-date" style="background-image: url({{ .logo_icon }});">
                			<span data-year="{{ .date }}" data-info="{{ .label }}"></span>
                		</div>
                    <span class="timeline-date-after"></span>
                  </div>

                {{ else }}
                  <div class="timeline-date-entry hover-dip-opacity">
                    <span class="timeline-date-before"></span>
                    <div class="timeline-date" style="background-image: url({{ .logo_icon }});">
                      <span data-year="{{ .date }}" data-info="{{ .label }}"></span>
                    </div>
                    <span class="timeline-date-after"></span>
                  </div>
                {{ end }}
              {{ end }}
          	</div>
          	<div class="timeline-info-container">
              {{ range $i, $p := .time }}
                {{ if eq $i 5 }} <!-- 1st entry -->
                  <div class="timeline-content active">
                    {{ with .logo_full }}
                      <img src="{{ . }}" class="img-responsive img-center img-history" alt="">
                    {{ end }}
                    <p>{{ .description_text }}</p>
                  </div>
                {{ else }}
                  <div class="timeline-content">
                    {{ with .logo_full }}
                      <img src="{{ . }}" class="img-responsive img-center img-history" alt="">
                    {{ end }}
                    <p>{{ .description_text }}</p>
                  </div>
                {{ end }}
              {{ end }}
          	</div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->

{{ end }}
{{ end }}
