{{ with .Site.Data.company.pressreleases }}
{{ if .enable }}

  {{ if .default_img }}
    {{ $.Scratch.Set "defaultImg" .default_img }}
  {{ end }}

  <section class="section-past padding-top-lg padding-bottom-xl background-grey">
      <div class="container">

      <div class="row">
        <div class="col-md-12">
          {{ with .title }}
          <div class="">
              <h2>{{ . | markdownify }}</h2>
          </div>
          {{ end }}
          {{ with .subtitle }}
            <h4>{{ . | markdownify }}</h4>
          {{ end }}

        <div class="row content-container flex-grid-sm padding-top-md">
          {{ range $i, $p := first 3 $.Site.Taxonomies.categories.press }}

            {{ if (modBool $i 3) }} <!-- paginate after 3 entries -->
        </div>
        <div class="row content-container flex-grid-sm">
            {{ end }}

            <!-- check for img override -->
            {{ $postImg := "" }}
            {{ if .Page.Params.thumbnail }}

              {{ if eq .Page.Type "blog" }}
                <!-- {{ printf "/blog/images/%d/%s" .Page.Date.Year .Page.Params.thumbnail }} -->
                {{ $postImg := (printf "/blog/images/%d/%s" .Page.Date.Year .Page.Params.thumbnail) }}
                {{ $.Scratch.Set "postImg" $postImg }}

              {{ else if eq .Page.Type "casestudies" }}
                <!-- {{ printf "/casestudies/images/%s" .Page.Params.thumbnail }} -->
                {{ $postImg := (printf "/casestudies/images/%s" .Page.Params.thumbnail) }}
                {{ $.Scratch.Set "postImg" $postImg }}

              {{ else if eq .Page.Type "learn" }}
                <!-- {{ printf "/learn/images/%s" .Page.Params.thumbnail }} -->
                {{ $postImg := (printf "/learn/images/%s" .Page.Params.thumbnail) }}
                {{ $.Scratch.Set "postImg" $postImg }}

              {{ else if eq .Page.Type "webinars" }}
                <!-- {{ printf "/webinars/images/%s" .Page.Params.thumbnail }} -->
                {{ $postImg := (printf "/webinars/images/%s" .Page.Params.thumbnail) }}
                {{ $.Scratch.Set "postImg" $postImg }}

              {{ end }}
              <!-- {{ $.Scratch.Get "postImg" }} -->
            {{ else if not $postImg }}
              {{ $postImg := ($.Scratch.Get "defaultImg") }}
              {{ $.Scratch.Set "postImg" $postImg }}
            {{ end }}

            <div class="col-sm-4 flex-grid-sm padding-bottom-md">
              <a href="{{ .Page.Permalink }}" class="flex-grid-sm a-card">
              <div class="content-container content-card content-card-stack content-card-shadow-sm">
                <div class="img-container background-dark" style="background-image:url({{ $.Scratch.Get "postImg" }}); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                </div>
                <div class="text-container">
                  <div class="title range-left">
                    <h5>{{ .Page.Title }}&nbsp;&rsaquo;</h5>
                  </div>
                  <p class="subtitle range-left">
                    {{ if .Page.Params.excerpt }}
                      {{ if gt (len .Page.Params.excerpt) 140 }}
                        {{ substr .Page.Params.excerpt 0 140 }}...
                      {{ else }}
                        {{ .Page.Params.excerpt }}
                      {{ end }}
                    {{ else }}
                      {{ if gt (len .Page.Summary) 140 }}
                        {{ substr .Page.Summary 0 140 }}...
                      {{ else }}
                        {{ .Page.Summary }}
                      {{ end }}
                    {{ end }}
                  </p>
                  {{ if gt .Page.Date.Year 2000 }}
                    <div class="meta range-left">
                      <p><span><i class="fa fa-calendar"></i> {{ dateFormat "Jan 2 2006" .Page.Date }}</span>{{ if .Page.Params.author }} | <span><i class="fa fa-user-o"></i> {{ .Page.Params.author }}</span>{{ end }}</p>
                    </div>
                  {{ end }}
                </div>
              </div>  <!-- .content-card -->
              </a>
            </div>  <!-- .col -->
          {{ end }}
        </div> <!-- .row -->

        <div class="btn-container pagination-container" style="">
          <a href="#" class="btn btn-primary btn-xl button-icon-circle button-prev disabled" role="button"><i class="fa fa-arrow-left"></i></a>
          <a href="{{ .next_page_url }}" class="btn btn-primary btn-xl button-icon-circle button-next" role="button"><i class="fa fa-arrow-right"></i></a>
        </div>

        {{ with .cta }}
          {{ if .enable }}

            <div class="btn-container padding-top-md" style="">
              <a href="{{ .link_url }}" class="btn btn-primary btn-xl {{ if .outline_style }}btn-outline{{ end }}" role="button">{{ .link_text }}</a>
            </div>

          {{ end }}
        {{ end }}

      </div> <!-- .container -->
  </section>

{{ end }}
{{ end }}
