{{ with .Site.Data.company.team }}
{{ if .enable }}
<section class="section-team section-padding-lg">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="underline-sm">
              <h2>{{ .title }}</h2>
          </div>
          <p class="p1 padding-bottom-sm">
            {{ .subtitle | markdownify }}
          </p>
          <div class="content-container locations-container">
            <div class="row flex-grid-sm">
              {{ range $i, $p := .office }}
              {{ if (modBool $i 2) }}
                <div class="clearfix visible-xs-block"></div>
              {{ end }}
              <div class="col-sm-3 col-xs-6 col-valign-center">
                <img class="img-responsive img-center img-city hover-dip-opacity js-select-city" src="{{ .img }}" alt="" data-select="{{ .select }}">
                <h5 style="">{{ .city }}</h5>
              </div>
              {{ end }}
            </div>

          </div>
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row padding-top-lg team-container" data-selected="">
        {{ range $i, $p := sort .item "name" }}

          {{ if (modBool $i 6) }}
            <div class="clearfix visible-lg-block"></div>
          {{ end }}

          {{ if (modBool $i 3) }}
            <div class="clearfix visible-sm-block"></div>
          {{ end }}

          {{ if (modBool $i 2) }}
            <div class="clearfix visible-xs-block"></div>
          {{ end }}

        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 padding-bottom-sm team-entry" data-location="{{ .location }}">
            <img class="img-responsive img-center img-headshot img-team" src="{{ .img }}" alt="">
          <div class="">
              <h5 style="margin-bottom:2px;">{{ .name }}</h5>
              <p>{{ .position }}</p>
          </div>
          <div class="ul-center flex-grid-xs">
            <ul class="ul-round-icons ul-team-icons">
              {{ with .twitter}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-twitter'></i></li></a>
              {{ end }}
              {{ with .linkedin}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-linkedin'></i></li></a>
              {{ end }}
              {{ with .github}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-github'></i></li></a>
              {{ end }}
              {{ with .keybase}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-key'></i></li></a>
              {{ end }}
              {{ with .website}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-globe'></i></li></a>
              {{ end }}
            </ul>
          </div>
        </div> <!-- .col -->
        {{ end }}
      </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
