{{ with .Site.Data.company.team }}
{{ if .enable }}
<section class="section-team padding-bottom-md padding-top-lg">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          {{ with .title }}
            <div class="strong">
                <h2>{{ . | markdownify }}</h2>
            </div>
          {{ end }}
          {{ with .subtitle }}
            <p class="p1 padding-bottom-sm">
              {{ . | markdownify }}
            </p>
          {{ end }}
          <div class="content-container padding-top-md">
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="row flex-container-sm locations-container">
                  {{ range $i, $p := .office }}
                    <div class="col-sm-4 col-xs-4 col-valign-center">
                      <img class="img-responsive img-center img-city hover-dip-opacity js-select-city" src="{{ .img }}" alt="" data-select="{{ .select }}">
                      <h6 style=""><span class="no-wrap">{{ .city }}</span></h6>
                    </div>
                  {{ end }}
                </div>
              </div>
            </div>

          </div>
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row padding-top-lg flex-grid-xs team-container" data-selected="">
        {{ range $i, $p := sort .item "weight" }}

        <div class="col-flex-lg-2 col-flex-md-4 col-flex-sm-4 col-flex-xs-6 padding-bottom-sm team-entry" data-location="{{ .location }}">
            <img class="img-responsive img-center img-headshot img-team" src="{{ .img }}" alt="">
          <div class="">
              <h5 style="margin-bottom:2px;">{{ .name }}</h5>
              <p>{{ .position }}</p>
          </div>
          <div class="ul-center flex-container-xs">
            <ul class="ul-round-icons ul-team-icons">
              {{ with .twitter}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-twitter'></i></li></a>
              {{ end }}
              {{ with .linkedin}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-linkedin'></i></li></a>
              {{ end }}
              {{ with .github}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-github'></i></li></a>
              {{ end }}
              {{ with .keybase}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-key'></i></li></a>
              {{ end }}
              {{ with .website}}
                <a href="{{ . }}" target="_blank"><li><i class='fa fa-globe'></i></li></a>
              {{ end }}
            </ul>
          </div>
        </div> <!-- .col -->
        {{ end }}
      </div> <!-- .row -->

    </div> <!-- .container -->
</section>
{{ end }}
{{ end }}
