{% include header.html %}
{% include navigation.html %}

<div class="container-fluid" id="eris-page">
  {% unless page.no_header %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 page-header">
        <header><h1 class="title" role="title">{{ page.title }}</h1></header>
      </div><!-- .cols -->
    </div><!-- .row -->
  {% endunless %}

  <div class="row">
    <article id="main-content">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 col-lg-6 col-lg-offset-4" id="content-block">
        {{ content }}
      </div><!-- .cols -->
    </article><!-- #main-content -->
  </div><!-- .row -->
</div><!-- .container-fluid -->

{% include footer.html %}
{% include scripts.html %}
{% javascript tableOfContents %}
{% include analytics.html %}