{% include header.html %}
{% include navigation.html %}

<div class="container-fluid" id="eris-page">
  {% unless page.no_header %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
      <header><h1 class="title" role="title">{{ page.title }}</h1></header>
    </div><!-- .cols -->
  {% endunless %}

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <article id="main-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            {{ content }}
          </div><!-- .cols -->
        </div><!-- .row -->
      </article><!-- #main-content -->
    </div><!-- .cols -->
  </div><!-- .row -->
</div><!-- .container-fluid -->

{% include footer.html %}
{% include scripts.html %}
{% include analytics.html %}