{{ with .Site.Data.home.hero }}
{{ if .enable }}
<section class="section-hero section-padding-xl">
    <div class="home_hero" style="position: relative; background: url( {{ .img_bg }} ) center center repeat; background-size: cover;">
      <div class="dark-mask"></div>

      <div class="container hero_overlay">
          <div class="flex-grid-md">
              <div class="col-md-7 col-valign-center">
                  <div class="underline-sm range-left-md">
                      <h1>{{ .title }}</h1>
                  </div>

                  <p class="lead range-left-md">
                    {{ .subtitle | markdownify }}
                  </p>

                  <!-- Sign up section [GLOBAL] -->
                  {{ if .hero_signup }}
                    {{ partial "_global/hero_signup.html" . }}
                  {{ end }}

              </div>
              <div class="col-md-5">

                  {{ with .illustration }}
                  <div class="content-container laptop-illustration">
                    <div class="img-layer-container">
                      <img class="img-responsive img-center img-layer img-laptop-base" src="{{ .img_base }}" alt="">
                      <img class="img-responsive img-center img-layer hover-scale img-laptop-layer-one" src="{{ .img_layer_one }}" alt="">
                      <img class="img-responsive img-center img-layer hover-scale img-laptop-layer-two" src="{{ .img_layer_two }}" alt="">
                    </div>
                  </div>
                  {{ end }}



              </div>
          </div>
      </div>

    </div> <!-- .container -->
</section> <!-- .section -->

<script type="text/javascript">
window.onload = function() {
    if (window.jQuery) {
        // jQuery is loaded
        $('.laptop-illustration').on('click', function(){
          $(this).toggleClass('active');
        })
    }
}
</script>
{{ end }}
{{ end }}
