
<link rel="stylesheet" href="//cdn.jsdelivr.net/lightgallery/latest/css/lightgallery.css" />
<script src="//cdn.jsdelivr.net/g/lightgallery@1.3.5,lg-zoom@1.0.3" defer></script>


<div class="blogimg-zoom">
	<a href="{{ .Get 0 | printf "/images/%d/%s" .Page.Date.Year }}">
    	<img src="{{ .Get 0 | printf "/images/%d/%s" .Page.Date.Year }}" />
	</a>
</div>


<script type="application/javascript">

// Onload handler
window.onload = function() {

	// If jQuery is loaded...
	if (window.jQuery) {

		$('.blogimg-zoom').lightGallery();
	}
};
</script>
