
<link rel="stylesheet" href="//cdn.jsdelivr.net/lightgallery/latest/css/lightgallery.css" />
<script src="//cdn.jsdelivr.net/g/lightgallery@1.3.5,lg-zoom@1.0.3" defer></script>


<div class="lucidchart-zoom">
	<a href="https://www.lucidchart.com/publicSegments/view/{{ .Get 0 }}/image.png">
    	<img src="https://www.lucidchart.com/publicSegments/view/{{ .Get 0 }}/image.png" />
	</a>
</div>


<script type="application/javascript">

// Onload handler
window.onload = function() {

	// If jQuery is loaded...
	if (window.jQuery) {

		$('.lucidchart-zoom').lightGallery();
	}
};
</script>
