<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <!-- BLANK TEMPLATE / 404 -->

        <section>
          <div class="content-container padding-top-xl">
            <p>You're lost. <a href="/">Return to the homepage?</a></p>
          </div>
        </section>

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
