<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  {{ partial "head_fonts.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "resources/tutorials/top.html" . }}

        {{ partial "resources/tutorials/articles.html" . }}

        <!-- CTA section [GLOBAL] -->
        {{ if isset .Site.Data.tutorials "cta" }}
          {{ if .Site.Data.tutorials.cta.enable }}
            {{ partial "_global/cta.html" . }}
          {{ end }}
        {{ end }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
