{{ with .Site.Data.resources.blog.articles }}
{{ if .enable }}
{{ $defaultImg := .default_img }}

  <section class="section-usecases section-padding-xl background-color">
      <div class="container">

        <div class="row content-container flex-grid-sm padding-bottom-md">
          {{ range $i, $p := $.Paginator.Pages }}

            {{ if (modBool $i 3) }} <!-- paginate after 3 entries -->
        </div>
        <div class="row content-container flex-grid-sm padding-bottom-md">
            {{ end }}

            <!-- check for img override -->
            {{ if .Params.img }}
              {{ $defaultImg := .Params.img }}
            {{ end }}

            <div class="col-sm-4 flex-grid-sm">
              <a href="{{ .Permalink }}" class="flex-grid-sm a-card">
              <div class="content-container content-card content-card-stack">
                <div class="img-container background-dark" style="background:url({{ $defaultImg }}) center center no-repeat; background-size: cover;">
                  <!-- <div class="content-container content-cicle background-color green pin-top-right">
                    <div class="circle-top">
                      {{ dateFormat "Jan 2" .Date }}
                    </div>
                    <div class="circle-bottom">
                      {{ dateFormat "2006" .Date }}
                    </div>
                  </div> -->
                </div>
                <div class="text-container">
                  <div class="title range-left">
                      <h5>{{ .Title }} &rsaquo;</h5>
                  </div>
                  <p class="subtitle range-left">
                    {{ if .Params.excerpt }}
                      {{ if gt (len .Params.excerpt) 140 }}
                        {{ substr .Params.excerpt 0 140 }}...
                      {{ else }}
                        {{ .Params.excerpt }}
                      {{ end }}
                    {{ else }}
                      {{ if gt (len .Summary) 140 }}
                        {{ substr .Summary 0 140 }}...
                      {{ else }}
                        {{ .Summary }}
                      {{ end }}
                    {{ end }}
                  </p>
                  <div class="meta range-left">
                    <p><span><i class="fa fa-calendar"></i> {{ dateFormat "Jan 2 2006" .Date }}</span> | <span><i class="fa fa-user-o"></i> {{ .Params.author }}</span></p>
                  </div>
                </div>
              </div>  <!-- .content-card -->
              </a>
            </div>  <!-- .col -->
          {{ end }}
        </div> <!-- .row -->

        {{ if or ($.Paginator.HasPrev) ($.Paginator.HasNext) }}
          <div class="btn-container pagination-container" style="">
            {{ if $.Paginator.HasPrev }}
              <a href="{{ .Site.BaseURL }}{{ $.Paginator.Prev.URL }}" class="btn btn-primary btn-xl button-icon-circle button-prev" role="button"><i class="fa fa-arrow-left"></i></a>
            {{ else }}
              <a href="#" class="btn btn-primary btn-xl button-icon-circle button-prev disabled" role="button"><i class="fa fa-arrow-left"></i></a>
            {{ end }}

            {{ if $.Paginator.HasNext }}
              <a href="{{ .Site.BaseURL }}{{ $.Paginator.Next.URL }}" class="btn btn-primary btn-xl button-icon-circle button-next" role="button"><i class="fa fa-arrow-right"></i></a>
            {{ else }}
              <a href="#" class="btn btn-primary btn-xl button-icon-circle button-next disabled" role="button"><i class="fa fa-arrow-right"></i></a>
            {{ end }}
          </div>
        {{ end }}

      </div> <!-- .container -->
  </section>

{{ end }}
{{ end }}
